{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <!-- Page Wrapper -->
    <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Begin Page Content -->
        <div class="container-fluid">
        <!-- Main Content -->
        <div id="content">
      {% for category, messages in app.flashes(['success', 'warning']) %}
          {% for message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
      {% endfor %}
      
    <div class="row">
    <div
        class="bg-image p-1 text-center shadow-1-strong rounded m-2 text-white"
        style="
          background-image: url('assets/images/headerimg.jpg');
          margin-top: 28px;
          height: auto;
          width: 100%;
          background-size: cover;
            background-repeat: no-repeat;
          "
        >
        
        <h1 class="mb-3 animate__animated animate__bounceInDown">HarnessTom Database</h1>

        <p class="h4 aimate animate__animated animate__bounceInUp">
          HarnesstomDB is a comprehensive publicly available open-source multi-omics database
          for facilitating the use of the potential of tomato germplasm collections for breeding.
          HarnesstomDB V1.0 (March 2022) enables to store, integrate and interconnect curated
          omics data and metadata from different projects, trials and experiments including
          images using a controlled vocabulary and accepted standards.
        </p>
    </div>
    </div>
        


                <!-- Topbar -->
                {# <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav> #}
                <!-- End of Topbar -->



                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Overview</h1>
                        {# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> #}
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Germplasm Summary Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3>Germplasm Summary</h3>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Accessions
                                            </div>
                                            <a href="{{ path('search_accession') }}">
                                                <div id="accessionData" data-val= "{{ jsonAcc }}"  class="h5 mb-0 font-weight-bold text-primary count">{{ totalAccession }}</div>
                                            </a>
                                            <hr>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Mapping Populations
                                            </div>
                                            <a href="{{ path('mapping_population_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalMappingPopulation }}</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-seedling fa-6x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Experiment Summary Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3>Experiment Summary</h3>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Trials
                                            </div>
                                            <a href="{{ path('trial_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalTrial }}</div>
                                            </a>
                                            <hr>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Studies
                                            </div>
                                            <a href="{{ path('study_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalStudy }}</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-flask-vial fa-6x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Phenotyping Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3>Phenotyping Summary</h3>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Observations Variables
                                            </div>
                                            <a href="{{ path('observation_variable_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalObsVar }}</div>
                                            </a>
                                            <hr>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Metabolites
                                            </div>
                                            <a href="{{ path('metabolite_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalMetabolite }}</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-magnifying-glass-plus fa-6x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Genotyping Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3>Genotyping Summary</h3>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Markers
                                            </div>
                                            <a href="{{ path('marker_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalMarker }}</div>
                                            </a>
                                            <hr>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                Genotyping Platforms
                                            </div>
                                            <a href="{{ path('genotyping_platform_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalGenotypingPlatform }}</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-duotone fa-dna fa-6x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Variant Summary Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3>Variant Studies</h3>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                QTL Studies
                                            </div>
                                            <a href="{{ path('qtl_study_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalQTLStudy }}</div>
                                            </a>
                                            <hr>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                GWAS
                                            </div>
                                            <a href="{{ path('gwas_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalGWAS }}</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-line fa-6x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Variant Summary Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3>Variant Summary</h3>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                QTL Variant
                                            </div>
                                            <a href="{{ path('qtl_variant_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalQTLVariant }}</div>
                                            </a>
                                            <hr>
                                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                                GWAS Variant
                                            </div>
                                            <a href="{{ path('gwas_variant_index') }}">
                                                <div class="h5 mb-0 font-weight-bold text-primary count">{{ totalGWASVariant }}</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-line fa-6x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Accessions by countries</h6>
                                    {# <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div> #}
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="world-map-markers" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Biological Status Of Accession</h6>
                                    {# <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div> #}
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    
                                    <div style="my-auto;" id="sunburstchart" ></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Page Content -->
                        <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="my-4">Germplasms
                            <small>Some of our germplasms</small>
                        </h1>

                        <div class="row">
                            {% for germSImg in germplasmStudyImages %}
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                <div class="card h-100">
                                    <a href="#">
                                    <img class="img-thumbnail" src="{{ asset('uploads/images/traditom_exp_photos/exp_photos/' ~ germSImg.filename ) }}" width="auto" height="auto" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="auto" height="auto" fill="#55595c"/>
                                    </img>
                                    {# <img src="{{ asset('uploads/images/traditom_exp_photos/exp_photos/' ~ germSImg.filename ) }}" width='75px' heigth='75px' alt='' class="rounded" /></a> #}
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{{path('germplasm_details', {id:germSImg.germplasmID.id})}}">{{ germSImg.germplasmID }}</a>
                                        </h4>
                                        <p class="card-text">
                                            {{ germSImg.description }}
                                        </p>
                                        <p>
                                            {% if germSImg.developmentStage %}
                                                <h7>Stage: <small>{{ germSImg.developmentStage }}</small></h7>
                                            {% endif %}
                                            {% if germSImg.factor %}
                                                <h7>Factor: <small>{{ germSImg.factor }}</small></h7>
                                            {% endif %}
                                            {% if germSImg.plantAnatomicalEntity %}
                                                <h7>Anatomical Entity: <small>{{ germSImg.plantAnatomicalEntity }}</small></h7>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.row -->

                        </div>
                        <!-- /.container -->
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                            
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Type of experiment used in HarnessTomDB</h6>
                                </div>
                                <div class="card-body">
                                    {% for oneTT in trialAndType %}
                                        <h4 class="small font-weight-bold">{{ oneTT['trial'].trialType }} <span
                                            class="float-right"> {{ oneTT['trtQty'] }} %</span></h4>
                                        {% if oneTT['trtQty'] >= 80 %}
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ oneTT['trtQty'] }}%"
                                                    aria-valuenow="{{ oneTT['trtQty'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        {% elseif oneTT['trtQty'] >= 60 %}
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: {{ oneTT['trtQty'] }}%"
                                                    aria-valuenow="{{ oneTT['trtQty'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        {% elseif oneTT['trtQty'] >= 40 %}
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: {{ oneTT['trtQty'] }}%"
                                                    aria-valuenow="{{ oneTT['trtQty'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        {% elseif oneTT['trtQty'] >= 20 %}
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-dark" role="progressbar" style="width: {{ oneTT['trtQty'] }}%"
                                                    aria-valuenow="{{ oneTT['trtQty'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        {% elseif oneTT['trtQty'] <= 20 %}
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ oneTT['trtQty'] }}%"
                                                    aria-valuenow="{{ oneTT['trtQty'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        {% endif %}
                                        
                                    {% endfor %}
                                    
                                </div>
                            </div>

                            <!-- Color System -->
                            
                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Survey for designing your ideal tomato</h6>
                                </div>

                                <a href="https://harnesstom.surveysparrow.com/s/Designing-your-own-tomato/tt-512984" target="_blank">
                                <div class="card-body">
                                    <img class="img-thumbnail" src="{{ asset('assets/images/tomato_wheel.png') }}" width="auto" height="auto" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="auto" height="auto" fill="#55595c"/>
                                    </img>
                                    <div class="text-justify">
                                        <p>
                                            How would you like tomatoes to be? Red, orange, pink, purple, green… ribbed, smooth… pear-shaped, round, flat… 
                                            very sweet or very acid or both? It’s time to design your perfect tomato! After different research projects
                                            we have studied more than 3,000 varieties of tomato. Do you want to help us select the best varieties?
                                            It will only take you 5 minutes to answer this survey, but the information that you will
                                            provide will last for thousand years… Let’s go?
                                        </p>
                                    </div>
                                </div>
                                </a>
                            </div>

                            <!-- Approach -->
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center tomato-color">
                    <h3 class="" id="main-sources">Main sources and collaborators</h3>
                    <p class="lead text-muted">Below are the project partners & collaborators.</p>
                </div>
                    <!-- end of pricing / collaborators -->
                    <!-- Main jumbotron for a primary marketing message or call to action -->
                    <!-- <div class="jumbotron">
                    </div> -->

                <!-- start of the carousel -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#myCarousel"  data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="{{ asset('assets/images/mainsource11.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        {# <h3 style="color:red;">Main sources and collaborators</h3> #}
                        {# <p>Some info related to those species...</p> #}
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="{{ asset('assets/images/mainsource12.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        {# <h3 style="color:red;">Main sources and collaborators</h3> #}
                        {# <p>Some info related to those species...</p> #}
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="{{ asset('assets/images/roxycost_added.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        {# <h3 style="color:red;">Main sources and collaborators</h3> #}
                        {# <p>Some info related to those species...</p> #}
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="{{ asset('assets/images/mainsource13.png') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        {# <h3 style="color:red;">Main sources and collaborators</h3> #}
                        {# <p>Some info related to those species...</p> #}
                        </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </button>
                </div>
                <!-- end of the carousel -->
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    
{% endblock %}



{% block javascripts %}
	<script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('assets/nl/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ asset('assets/nl/vendor/chart.js/Chart.min.js') }}"></script>

    <script src="{{ asset('assets/nl/js/jquery-match-height-0.7.2.min.js') }}"></script>
    <script src="{{ asset('assets/nl/js/main.js') }}"></script>

    {% if not app.user %}
        <!-- Guided Tour LH  -->
        <script src="{{ asset('guidedtour/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('guidedtour/dist/js/hopscotch.js') }}"></script>
        <script src="{{ asset('guidedtour/js/demo.js') }}"></script>
    {% endif %}

    <!-- VMap  -->
    <script src="{{ asset('assets/vmap/js/jquery-jvectormap-2.0.2.min.js') }}"></script>
    <script src="{{ asset('assets/vmap/js/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('assets/vmap/js/jquery-jvectormap-world-mill-en-alpha-3.js') }}"></script>
    <script src="{{ asset('assets/vmap/js/jvectormap.custom.js') }}"></script>

    {# <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script> #}
    {# <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> #}

      
      <!-- Page level custom scripts -->
      <!-- mdbosstrap scripts -->

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
 
      <script >
     
        function getData() {
        return {
            name: 'Accession',
            children: [
            {
                name: "Wild",
                children: [
                    {
                        name: "Natural",
                        {% if accessionQtyByBS['Natural'] is defined %}
                            size: {{ accessionQtyByBS['Natural'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Semi-natural/wild",
                        {% if accessionQtyByBS['Semi-natural/wild'] is defined %}
                            size: {{ accessionQtyByBS['Semi-natural/wild'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Semi-natural/sown",
                        {% if accessionQtyByBS['Semi-natural/sown'] is defined %}
                            size: {{ accessionQtyByBS['Semi-natural/sown'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                ],
            },
            {
                name: "Weedy",
                {% if accessionQtyByBS['Weedy'] is defined %}
                    size: {{ accessionQtyByBS['Weedy'] }},
                {% else %}
                    size: 0
                {% endif %}
            },
            {
                name: "Traditional cultivar/landrace",
                {% if accessionQtyByBS['Traditional cultivar/landrace'] is defined %}
                    size: {{ accessionQtyByBS['Traditional cultivar/landrace'] }},
                {% else %}
                    size: 0
                {% endif %}
            },
            {
                name: "Breeding/research material",
                children: [
                    {
                        name: "Breeder's line",
                        {% if accessionQtyByBS["Breeder's line"] is defined %}
                            size: {{ accessionQtyByBS["Breeder's line"] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Synthetic population",
                        {% if accessionQtyByBS['Synthetic population'] is defined %}
                            size: {{ accessionQtyByBS['Synthetic population'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Hybrid",
                        {% if accessionQtyByBS['Hybrid'] is defined %}
                            size: {{ accessionQtyByBS['Hybrid'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Founder stock/base population",
                        {% if accessionQtyByBS['Founder stock/base population'] is defined %}
                            size: {{ accessionQtyByBS['Founder stock/base population'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Inbred line (parent of hybrid cultivar)",
                        {% if accessionQtyByBS['Inbred line (parent of hybrid cultivar)'] is defined %}
                            size: {{ accessionQtyByBS['Inbred line (parent of hybrid cultivar)'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Segregating population",
                        {% if accessionQtyByBS['Segregating population'] is defined %}
                            size: {{ accessionQtyByBS['Segregating population'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Clonal selection",
                        {% if accessionQtyByBS['Clonal selection'] is defined %}
                            size: {{ accessionQtyByBS['Clonal selection'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Genetic stock",
                        {% if accessionQtyByBS['Genetic stock'] is defined %}
                            size: {{ accessionQtyByBS['Genetic stock'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Mutant (e.g. induced/insertion mutants)",
                        {% if accessionQtyByBS['Mutant (e.g. induced/insertion mutants)'] is defined %}
                            size: {{ accessionQtyByBS['Mutant (e.g. induced/insertion mutants)'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Cytogenetic stocks (e.g. chromosome addition/substitution)",
                        {% if accessionQtyByBS['Cytogenetic stocks (e.g. chromosome addition/substitution)'] is defined %}
                            size: {{ accessionQtyByBS['Cytogenetic stocks (e.g. chromosome addition/substitution)'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                    {
                        name: "Other genetic stocks (e.g. mapping populations)",
                        {% if accessionQtyByBS['Other genetic stocks (e.g. mapping populations)'] is defined %}
                            size: {{ accessionQtyByBS['Other genetic stocks (e.g. mapping populations)'] }},
                        {% else %}
                            size: 0
                        {% endif %}
                    },
                ],
            },
            {
                name: "Advanced or improved cultivar (conventional breeding methods)",
                {% if accessionQtyByBS['Advanced or improved cultivar (conventional breeding methods)'] is defined %}
                    size: {{ accessionQtyByBS['Advanced or improved cultivar (conventional breeding methods)'] }},
                {% else %}
                    size: 0
                {% endif %}
            },
            {
                name: "GMO (by genetic engineering)",
                {% if accessionQtyByBS['GMO (by genetic engineering)'] is defined %}
                    size: {{ accessionQtyByBS['GMO (by genetic engineering)'] }},
                {% else %}
                    size: 0
                {% endif %}
            },
            {
                name: "Other (Elaborate in REMARKS field)",
                {% if accessionQtyByBS['Other (Elaborate in REMARKS field)'] is defined %}
                    size: {{ accessionQtyByBS['Other (Elaborate in REMARKS field)'] }},
                {% else %}
                    size: 0
                {% endif %}
            },  
        ]
        }
        }


        var colorScheme = [
        "#E57373",
        "#BA68C8",
        "#7986CB",
        "#A1887F",
        "#90A4AE",
        "#AED581",
        "#9575CD",
        "#FF8A65",
        "#4DB6AC",
        "#FFF176",
        "#64B5F6",
        "#00E676",
        ];
        dataset = getData();

        var width = 350,
        height = 300,
        radius = Math.min(width / 3, height / 3) * 1.5;

        var x = d3.scale.linear().range([0, 2 * Math.PI]);

        var y = d3.scale.linear().range([0, radius]);

        var color = d3.scale.ordinal().range(colorScheme);

        var divHeight = height;
        var divWidth = width;

        var svg = d3
        .select("#sunburstchart")
        .append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr(
            "transform",
            "translate(" + divWidth / 2 + "," + height / 2 + ") rotate(-40 0 0)"
        );

        var partition = d3.layout.partition().value(function (d) {
        return d.size;
        });

        var tooltip = d3
        .select("body")
        .append("div")
        .attr("class", "tooltip")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("opacity", 0);

        var arc = d3.svg
        .arc()
        .startAngle(function (d) {
            if (d.size != 0) return Math.max(0, Math.min(2 * Math.PI, x(d.x)));
        })
        .endAngle(function (d) {
            if (d.depth == 0) return Math.max(0, Math.min(2 * Math.PI, x(d.x + d.dx)));

            if (d.depth == 2) {
            return Math.max(0, Math.min(2 * Math.PI, x(d.x + d.dx)));
            }

            if (d.size != 0) return Math.max(0, Math.min(2 * Math.PI, x(d.x + d.dx)));
        })
        .innerRadius(function (d) {
            if (d.size != 0) return Math.max(0, y(d.y));
        })
        .outerRadius(function (d) {
            if (d.size != 0) return Math.max(0, y(d.y + d.dy));
        });

        var root = dataset;

        var g = svg.selectAll("g").data(partition.nodes(root)).enter().append("g");

        var path = g
        .append("path")
        .attr("d", arc)
        .style("fill", function (d) {
            return color((d.children ? d : d.parent).name);
        })
        .on("click", click)
        .on("mouseover", function (d) {
            tooltip.html(function () {
            return d.name + "<br>" + d.value;
            });
            return tooltip.transition().duration(50).style("opacity", 0.9);
        })
        .on("mousemove", function (d) {
            return tooltip
            .style("top", d3.event.pageY - 10 + "px")
            .style("left", d3.event.pageX + 10 + "px");
        })
        .on("mouseout", function () {
            return tooltip.style("opacity", 0);
        });

        //.append("text")
        var text = g
        .append("text")
        .attr("x", function (d) {
            return y(d.y);
        })
        .attr("dx", function (d) {
            return d.depth == 0 ? "9" : "9";
        }) // margin
        .attr("dy", ".35em") // vertical-align
        .attr("transform", function (d) {
            return "rotate(" + computeTextRotation(d) + ")";
        })
        .text(function (d) {
            return d.size == null ? d.name : d.name ;
        })
        .style("fill", "black");

        function computeTextRotation(d) {
        var angle = x(d.x + d.dx / 2) - Math.PI / 2;
        return (angle / Math.PI) * 180;
        }

        function click(d) {
        // fade out all text elements
        if (d.size !== undefined) {
            d.size += 100;
        }
        text.transition().attr("opacity", 0);

        path
            .transition()
            .duration(750)
            .attrTween("d", arcTween(d))
            .each("end", function (e, i) {
            // check if the animated element's data e lies within the visible angle span given in d
            if (e.x >= d.x && e.x < d.x + d.dx) {
                // get a selection of the associated text element
                var arcText = d3.select(this.parentNode).select("text");
                // fade in the text element and recalculate positions
                arcText
                .transition()
                .duration(750)
                .attr("opacity", 1)
                .attr("transform", function () {
                    return "rotate(" + computeTextRotation(e) + ")";
                })
                .attr("x", function (d) {
                    return y(d.y);
                });
            }
            });
        } //});

        // Word wrap!
        var insertLinebreaks = function (t, d, width) {
        var el = d3.select(t);
        var p = d3.select(t.parentNode);
        p.append("g")
            .attr("x", function (d) {
            return y(d.y);
            })
            //.attr("dx", "6") // margin
            //.attr("dy", ".35em") // vertical-align
            .attr("transform", function (d) {
            return "rotate(" + computeTextRotation(d) + ")";
            })
            //p
            .append("foreignObject")
            .attr("x", -width / 2)
            .attr("width", width)
            .attr("height", 200)
            .append("xhtml:p")
            .attr("style", "word-wrap: break-word; text-align:center;")
            .html("d.name");
        el.remove();
        };

        d3.select(self.frameElement).style("height", height + "px");

        // Interpolate the scales!
        function arcTween(d) {
        var xd = d3.interpolate(x.domain(), [d.x, d.x + d.dx]),
            yd = d3.interpolate(y.domain(), [d.y, 1]),
            yr = d3.interpolate(y.range(), [d.y ? 20 : 0, radius]);
        return function (d, i) {
            return i
            ? function (t) {
                return arc(d);
                }
            : function (t) {
                x.domain(xd(t));
                y.domain(yd(t)).range(yr(t));
                return arc(d);
                };
        };
        }

      </script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-rc"></script>
      
      
{% endblock %}
