{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<!-- .row -->
		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">GWAS Variant Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: gwasVariant.createdBy.id}) }}">{{ gwasVariant.createdBy }}</a>
							</span>
							<span>On: {{ gwasVariant.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('gwas_variant_delete', {id: gwasVariant.id}) }}" class="changeStatusLink" id="{{ gwasVariant.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ gwasVariant.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("gwas_variant_edit", gwasVariant) %}
							<a href="{{ path('gwas_variant_edit', {id: gwasVariant.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		<!-- .row -->
		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">GWAS Variant Basic Information</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Name: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.name}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">gwas Study: </label>
							{% if gwasVariant.gwas %}
								<a href="{{ path('gwas_details', {id: gwasVariant.gwas.id}) }}">
									<span class="tomato-color font-weight-bold">{{ gwasVariant.gwas }}</span>
								</a>
							{% endif %}
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">MAF: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.maf}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Sample Size: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.sampleSize}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">SNP P Value: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.snppValue}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Adjusted P Value: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.adjustedPValue}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Allelic Effect: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.allelicEffect}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Allelic Effect Stat: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.allelicEffectStat}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Allelic Effect DF: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.allelicEffectdf}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Allelic Effect StdE: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.allelicEffStdE}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Beta: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.beta}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Beta StdE: </label>
							<span class="tomato-color font-weight-bold">{{ gwasVariant.betaStdE}}</span>
						</div>

					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Marker, Trait Preprocessing & More</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Metabolite: </label>
						{% if gwasVariant.metabolite %}
							<a href="{{ path('metabolite_details', {id: gwasVariant.metabolite.id}) }}">
								<span class="tomato-color font-weight-bold">{{ gwasVariant.metabolite }}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Observation Variable: </label>
						{% if gwasVariant.observationVariable %}
							<a href="{{ path('observation_variable_details', {id: gwasVariant.observationVariable.id}) }}">
								<span class="tomato-color font-weight-bold">{{ gwasVariant.observationVariable }}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Marker: </label>
						{% if gwasVariant.marker %}
							<a href="{{ path('marker_details', {id: gwasVariant.marker.id}) }}">
								<span class="tomato-color font-weight-bold">{{ gwasVariant.marker }}</span>
							</a>
						{% endif %}
					</div>
						
					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Odds Ratio: </label>
						<span class="tomato-color font-weight-bold">{{ gwasVariant.oddsRatio}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">R Square Of Mode: </label>
						<span class="tomato-color font-weight-bold">{{ gwasVariant.rSquareOfMode }}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">R Square Of Mode With SNP: </label>
						<span class="tomato-color font-weight-bold">{{ gwasVariant.rSquareOfModeWithSNP }}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">R Square Of Mode Without SNP: </label>
						<span class="tomato-color font-weight-bold">{{ gwasVariant.rSquareOfModeWithoutSNP }}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Reference Allele: </label>
						<span class="tomato-color font-weight-bold">{{ gwasVariant.refAllele }}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Ci Lower: </label>
						<span class="tomato-color font-weight-bold">{{ gwasVariant.ciLower}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Ci Upper: </label>
						<span class="tomato-color font-weight-bold">{{ gwasVariant.ciUpper }}</span>
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_epistasis').DataTable();
        } );
    </script>
{% endblock %}

