{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
	<!-- DataTables CSS -->
	<link
	href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% if gwasVariants | length > 0 %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">GWAS Variant Variant List</h2>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">MAF</th>
									<th scope="col">Sample Size</th>
									<th scope="col">SNP P Value</th>
									<th scope="col">Adjusted PValue</th>
									<th scope="col">Allelic Effect</th>
									<th scope="col">Allelic Effect Stat</th>
									<th scope="col">Allelic Effect DF</th>
									<th scope="col">Allelic Effect StdE</th>
                                    <th scope="col">Beta</th>
                                    <th scope="col">Beta StdE</th>
                                    <th scope="col">Odds Ratio</th>
                                    <th scope="col">Ci Lower</th>
                                    <th scope="col">Ci Upper</th>
                                    <th scope="col">Marker</th>
                                    <th scope="col">Metabolite</th>
                                    <th scope="col">GWAS</th>
                                    <th scope="col">Trait Preprocessing</th>
                                    <th scope="col">Observation Variable</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for gwasVariant in gwasVariants %}
									<tr>
										<td>
											{{ gwasVariant.name }}
										</td>
										<td>
											{{ gwasVariant.maf }}
										</td>
										<td>
											{{ gwasVariant.sampleSize }}
										</td>
										<td>
											{{ gwasVariant.snppValue }}
										</td>
										<td>
											{{ gwasVariant.adjustedPValue }}
										</td>
										<td>
											{{ gwasVariant.allelicEffect }}
										</td>
										<td>
											{{ gwasVariant.allelicEffectStat }}
										</td>
                                        <td>
											{{ gwasVariant.allelicEffStdE }}
										</td>
										<td>
											{{ gwasVariant.allelicEffectdf }}
										</td>
										<td>
											{{ gwasVariant.beta }}
										</td>
                                        <td>
											{{ gwasVariant.betaStdE }}
										</td>
                                        <td>
											{{ gwasVariant.oddsRatio }}
										</td>
                                        <td>
											{{ gwasVariant.ciLower }}
										</td>
                                        <td>
											{{ gwasVariant.ciUpper }}
										</td>
                                        <td>
											{{ gwasVariant.marker }}
										</td>
                                        <td>
											{{ gwasVariant.metabolite }}
										</td>
                                        <td>
											<a href="{{ path('gwas_variant_details', {id: gwasVariant.id}) }}">{{ gwasVariant.gwas }}</a>
										</td>
                                        <td>
											<a href="{{ path('gwas_variant_details', {id: gwasVariant.id}) }}">{{ gwasVariant.traitPreprocessing }}</a>
										</td>
                                        <td>
											<a href="{{ path('gwas_variant_details', {id: gwasVariant.id}) }}">{{ gwasVariant.observationVariable }}</a>
										</td>
										<td>
											<a href="{{ path('gwas_variant_details', {id: gwasVariant.id}) }}">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No GWAS variant has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>
<script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
