{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if gwasVariants | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">GWAS Variant List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">GWAS Variant Name</th>
									<th scope="col">Associated Phenotype</th>
									<th scope="col">Linkage Group Name</th>
									<th scope="col">Marker Position</th>
									<th scope="col">Marker</th>
									<th scope="col">MAF</th>
									<th scope="col">Sample Size</th>
									<th scope="col">SNP P Value</th>
									<th scope="col">Adjusted PValue</th>
									<th scope="col">Allelic Effect</th>
                                    <th scope="col">GWAS</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for gwasVariant in gwasVariants %}
									<tr>
										<td>
											{{ gwasVariant.name }}
										</td>
										<td>
											{% if gwasVariant.observationVariable %}
												<a href="{{ path('observation_variable_details', {id: gwasVariant.observationVariable.id}) }}">{{ gwasVariant.observationVariable }}</a>	
											{% endif %}

											{% if gwasVariant.metabolite %}
												<a href="{{ path('metabolite_details', {id: gwasVariant.metabolite.id}) }}">{{ gwasVariant.metabolite }}</a>	
											{% endif %}
										</td>
										<td>
											{% if gwasVariant.marker %}
												{{ gwasVariant.marker.linkageGroupName }}
											{% endif %}
										</td>
										<td>
											{% if gwasVariant.marker %}
												{{ gwasVariant.marker.position }}
											{% endif %}
										</td>
										<td>
											{% if gwasVariant.marker %}
												<a href="{{ path('marker_details', {id: gwasVariant.marker.id}) }}">{{ gwasVariant.marker }}</a>
											{% endif %}
										</td>
										<td>
											{{ gwasVariant.maf }}
										</td>
										<td>
											{{ gwasVariant.sampleSize }}
										</td>
										<td>
											{{ gwasVariant.snppValue }}
										</td>
										<td>
											{{ gwasVariant.adjustedPValue }}
										</td>
										<td>
											{{ gwasVariant.allelicEffect }}
										</td>
                                        <td>
											<a href="{{ path('gwas_variant_details', {id: gwasVariant.id}) }}">{{ gwasVariant.gwas }}</a>
										</td>
										<td>
											<a href="{{ path('gwas_variant_details', {id: gwasVariant.id}) }}">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No GWAS variant has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}
<script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
