{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if gwasVariants | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">GWAS Variant List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">GWAS Variant Name</th>
									<th scope="col">Linkage Group Name</th>
									<th scope="col">Marker Position</th>
									<th scope="col" data-orderable="false"></th>
									<th scope="col">Marker</th>
									<th scope="col">MAF</th>
									<th scope="col">Sample Size</th>
									<th scope="col">SNP P Value</th>
									<th scope="col">Adjusted PValue</th>
									<th scope="col">Allelic Effect</th>
									<th scope="col" data-orderable="false"></th>
                                    <th scope="col">GWAS</th>
									<th scope="col" data-orderable="false">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No GWAS variant has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}

	<script>
		let dataTableId = "#datatable";
		let linkMkId = "";
		let linkGsId = "";
        let colsDef = [
				// These are the column name variables that will be sent to the server
                { "data": "gv_name", "targets": 0 },
                { "data": "mk_linkage_group_name", "targets": 1 },
				{ "data": "mk_position", "targets": 2 },
                {
				"data": "mk_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkMkId = data;
						return null;
					}
				},
				{
				"data": "mk_name", "targets": 4,
					"render": function(data, type, row, meta) {
						if  (data) {
							let url = '{{ path("marker_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkMkId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						}
						else {
							return null;
						}
					}
				},
				{ "data": "gv_maf", "targets": 5 },
				{ "data": "gv_sample_size", "targets": 6 },
				{ "data": "gv_snpp_value", "targets": 7 },
				{ "data": "gv_adjusted_pvalue", "targets": 8 },
				{ "data": "gv_allelic_effect", "targets": 9 },
				{
				"data": "gs_id", "targets": 10,
					"render": function(data, type, row, meta) {
						linkGsId = data;
						return null;
					}
				},
				{
				"data": "gs_name", "targets": 11,
					"render": function(data, type, row, meta) {
						if  (data) {
							let url = '{{ path("gwas_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkGsId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						}
						else {
							return null;
						}
					}
				},
				{
				"data": "id", "targets": 12,
					"render": function(data, type, row, meta) {
						let url = '{{ path("gwas_variant_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", data);
						let actionlink = "<a href="+ url +"><button class='btn btn-outline-primary'>Details</button></a>";
						return actionlink;
					}
				}
			];
		let url = "{{ path('gwas_variant_datatable') }}";
		// call the function with data table id, columns & ajax url args
		dataTable(dataTableId, colsDef, url);
    </script>
{% endblock %}
