{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
			
{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
                <!-- .card start -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold tomato-color">Study Comparison</br>
                            <small>...</small>
                        </h6>
                    </div>
                    <div class="card-body">

                        <div class="forward-container">
                            <link rel="stylesheet" property="stylesheet" href="{{ asset('assets/brapigraphicalfiltering/css/GraphicalFilter.css') }}">
                            
                            <form id="brapi-form" action="#" class="form-group" style="margin:1em" name="brapi-form" enctype="multipart/form-data">
                                <div class="form-group">
                                    {# <label for="brapi-server">BrAPI Server Adress</label>  #}
                                    <input type="hidden" class="form-control" id="brapi-server" name="server">
                                </div>
                                <div class="form-group">
                                    {# <label for="brapi-username">Username</label> #}
                                    <input type="hidden" class="form-control" id="brapi-username" name="username" placeholder="">
                                </div>
                                <div class="form-group">
                                    {# <label for="brapi-password">Password</label> #}
                                    <input type="hidden" class="form-control" id="brapi-password" name="password" placeholder="">
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="brapi-study">Study</label>
                                        <select id="brapi-study" name="studies" class="custom-select mr-sm-2" multiple>
                                            {% for study in observedStudies %}
                                                <option value="{{ study.id }}">{{ study.id }} - {{ study.abbreviation }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="brapi-unit">Unit Type</label>
                                        <select id="brapi-unit" class="custom-select mr-sm-2" name="unit">
                                            <option value="plot">
                                            Plot
                                            </option>
                                            <option value="plant">
                                            Plant
                                            </option>
                                        </select>
                                    </div>
                                    <div>
                                        <label><input type="checkbox" name="group"> Group By Accession</label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-primary btn-lg btn-block" type="submit" action="#" id="load-brapi" value="Load">Load</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
                                    </div>
                                </div>
                            </form>

                            <form id="scomp-form" action="#" class="form-inline" style="margin:1em;" name="scomp-form">
                                <div>
                                    <div class="form-group mb-1">
                                        <select id="scomp-select-var" class="custom-select mr-sm-2" name="variable">
                                            <option value="" disabled selected>
                                            Select Variable
                                            </option>
                                        </select>
                                    </div>
                                    <button class="btn btn-primary btn-lg btn-block" type="submit" action="#" id="compare" value="Load">Compare Variable</button>
                                </div>    
                            </form>
                        </div>

                        <div class="brapp-container" style="position:relative;">
                            <div class="col-xl-12 col-lg-11" value="brapp-wrapper" style="display:inline-block; border:solid 1px #ccc;border-radius:10px;">
                                <div style="background-color:#fff;border-top-left-radius:4px;border-top-right-radius:4px;">
                                    <div>
                                        <div id="graph_div" style="margin:1em;float:left;"></div>
                                        <div id="hist_div" style="margin:1em;float:left;"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                                <div class="brapp-footer" style="background-color:#ddd;border-top:solid 1px #ccc;font-family:Arial;color:#555;font-size:11px;padding:0.3em;border-bottom-left-radius:4px;border-bottom-right-radius:4px;">
                                    <div style="min-height:14px;text-align:right;">
                                        <a href="https://github.com/solgenomics/BrAPI-Study-Comparison" style="color:inherit;white-space:nowrap;text-decoration:underline;">Study Comparison</a>
                                        developed at the <a href="https://btiscience.org/" style="color:inherit;white-space:nowrap;text-decoration:underline;">Boyce Thompson Institute</a>
                                        , <b>addapted by HarnessTom</b>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- .card end -->
                </div>
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

    <!-- Graphical filtering files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/brapigraphicalfiltering/js/BrAPI.js') }}"></script>
    <script src="{{ asset('assets/brapigraphicalfiltering/js/StudyComparison.js') }}" charset="utf-8"></script>

    
    <script type="text/javascript">
    ;(function(){
        
        var main_url = "";
        
        $(document).ready(function(){
            $("#brapi-form").submit(function(){
                var form = $(this).serializeArray().reduce(function(vals,entry){
                    vals[entry.name] = entry.value
                    return vals
                },{});
                
                var base_url = form.server;
                if (base_url.slice(0,8)!="https://" && base_url.slice(0,7)!="http://"){
                    base_url ="https://"+base_url;
                }
                if (base_url.slice(-1)!="/"){
                    base_url+="/";
                }
                
                main_url = base_url;
                
                var server_url = base_url+"brapi/v1";
                var auth = form.username ? {'username':username,'password':password} : undefined;
                //var studyIds = form.study.split(",").map(function(s){return s.trim()});
                
                // customized based on harnesstom need (list of studies)
                // I changed the studies to be rendered in a select multiple box
                // get the selected studies
                var selectedStudies = $("#brapi-study").val();

                $("#load-spin").show();
                
                var brapi = BrAPI("/brapi/");

                BrAPI("/brapi/", auth)
                    .phenotypes_search({
                        "studyDbIds" : selectedStudies,
                        "observationLevel" : form.unit,
                        "signature" : "studyComparison",
                        "pageSize" : 10000000})
                    .all(createSComp);
                    
                return false;
            })
        });

        function createSComp(data){
            $("#load-spin").hide();
            var scomp = StudyComparison().links(function(dbId){
                //return main_url+"accession/details"+dbId+"/view";
                // customized based on harnesstom need (path)
                return "/accession/details/"+dbId+"";
            });
            var sharedVars = scomp.loadData(data);
            
            var varOpts = d3.select("#scomp-select-var")
                    .selectAll("option:not([disabled])")
                    .data(sharedVars);
            varOpts.exit().remove();
            varOpts.enter().append("option").merge(varOpts)
                    .attr("value",function(d){return d})
                    .text(function(d){return d})
                    .raise();
                    
            
            $("#scomp-form").submit(function(){
                    scomp.setVariable($("#scomp-select-var").val());
                    scomp.graphGrid("#graph_div");
                    scomp.multiHist("#hist_div");
                    return false;
            });
        }
        
    })();

    </script>
{% endblock %}


















