{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if qtlVariants | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">QTL Variant List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">QTL Variant Name</th>
									<th scope="col2">Associated Phenotype</th>
									<th scope="col">Linkage Group</th>
									<th scope="col">Peak Position</th>
									<th scope="col">Closest Marker</th>
									<th scope="col">Selected Statistic</th>
									<th scope="col">QTL Stat Value</th>
									<th scope="col">R2</th>
									<th scope="col">QTL Study</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for qtlVariant in qtlVariants %}
									<tr>
										<td>
											{{ qtlVariant.name }}
										</td>
										<td>
											{% if qtlVariant.observationVariable %}
												<a href="{{ path('observation_variable_details', {id: qtlVariant.observationVariable.id}) }}">{{ qtlVariant.observationVariable }}</a>	
											{% endif %}

											{% if qtlVariant.metabolite %}
												<a href="{{ path('metabolite_details', {id: qtlVariant.metabolite.id}) }}">{{ qtlVariant.metabolite }}</a>	
											{% endif %}
										</td>
										<td>
											{{ qtlVariant.linkageGroupName }}
										</td>
										<td>
											{{ qtlVariant.peakPosition }}
										</td>
										<td>
											{% if qtlVariant.closestMarker %}
												<a href="{{ path('marker_details', {id: qtlVariant.closestMarker.id}) }}">{{ qtlVariant.closestMarker }}</a>
											{% endif %}
										</td>
										<td>
											{{ qtlVariant.qtlStudy.statistic }}
										</td>
										<td>
											{{ qtlVariant.qtlStatsValue }}
										</td>
										<td>
											{{ qtlVariant.r2 }}
										</td>
										<td>
											<a href="{{ path('qtl_study_details', {id: qtlVariant.qtlStudy.id}) }}">{{ qtlVariant.qtlStudy }}</a>
										</td>
                                        <td>
											<a href="{{ path('qtl_variant_details', {id: qtlVariant.id}) }}">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No qtl variant has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>
<script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
