{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if qtlVariants | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">QTL Variant List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">QTL Variant Name</th>
									<th scope="col">Linkage Group</th>
									<th scope="col">Peak Position</th>
									<th scope="col" data-orderable="false"></th>
									<th scope="col">Closest Marker</th>
									<th scope="col" data-orderable="false"></th>
									<th scope="col">Selected Statistic</th>
									<th scope="col">QTL Stat Value</th>
									<th scope="col">R2</th>
									<th scope="col" data-orderable="false"></th>
									<th scope="col">QTL Study</th>
									<th scope="col" data-orderable="false">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No qtl variant has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}
	            
    <script>
		let dataTableId = "#datatable";
		let linkMkId = "";
		let linkQsId = "";
		let linkQstatId = "";
        let colsDef = [
				// These are the column name variables that will be sent to the server
                { "data": "qv_name", "targets": 0 },
                { "data": "qv_linkage_group_name", "targets": 1 },
				{ "data": "qv_peak_position", "targets": 2 },
                {
				"data": "mk_closest_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkMkId = data;
						return null;
					}
				},
				{
				"data": "mk_closest_name", "targets": 4,
					"render": function(data, type, row, meta) {
						if  (data) {
							let url = '{{ path("marker_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkMkId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						}
						else {
							return null;
						}
					}
				},
				{
				"data": "qstat_id", "targets": 5,
					"render": function(data, type, row, meta) {
						linkQstatId = data;
						return null;
					}
				},
				{
				"data": "qstat_name", "targets": 6,
					"render": function(data, type, row, meta) {
						if (data) {
							let url = '{{ path("qtl_statistic_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkQstatId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						}
						else {
							return null;
						}
					}
				},
				{ "data": "qv_qtl_stats_value", "targets": 7 },
				{ "data": "qv_r2", "targets": 8 },
				{
				"data": "qs_id", "targets": 9,
					"render": function(data, type, row, meta) {
						linkQsId = data;
						return null;
					}
				},
				{
				"data": "qs_name", "targets": 10,
					"render": function(data, type, row, meta) {
						if  (data) {
							let url = '{{ path("qtl_study_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkQsId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						}
						else {
							return null;
						}
					}
				},
				{
				"data": "id", "targets": 11,
					"render": function(data, type, row, meta) {
						let url = '{{ path("qtl_variant_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", data);
						let actionlink = "<a href="+ url +"><button class='btn btn-outline-primary'>Details</button></a>";
						return actionlink;
					}
				}
			];
		let url = "{{ path('qtl_variant_datatable') }}";
		// call the function with data table id, columns & ajax url args
		dataTable(dataTableId, colsDef, url);
    </script>
{% endblock %}
