{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
	
		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Institute Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: institute.createdBy.id}) }}">{{ institute.createdBy }}</a>
							</span>
							<span>On: {{ institute.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('institute_delete', {id: institute.id}) }}" class="changeStatusLink" id="{{ institute.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ institute.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("institute_edit", institute) %}
							<a href="{{ path('institute_edit', {id: institute.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		{# object related row #}
		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Institute Basic Information</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">INSTCODE: </label>
							<span class="tomato-color font-weight-bold">{{ institute.instcode}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Acronym: </label>
							<span class="tomato-color font-weight-bold">{{ institute.acronym}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Name: </label>
							<span class="tomato-color font-weight-bold">{{ institute.name}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Street Number: </label>
							<span class="tomato-color font-weight-bold">{{ institute.streetNumber}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">City: </label>
							<span class="tomato-color font-weight-bold">{{ institute.city}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Postal Code: </label>
							<span class="tomato-color font-weight-bold">{{ institute.postalCode}}</span>
						</div>

					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Country</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">ISO 3: </label>
						<a href="{{ path('country_details', {id: institute.country.id}) }}">
							<span class="tomato-color font-weight-bold">{{ institute.country.iso3 }}</span>
						</a>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Name: </label>
						<a href="{{ path('country_details', {id: institute.country.id}) }}">
							<span class="tomato-color font-weight-bold">{{ institute.country.name }}</span>
						</a>
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>	
		</div>
		
		<div class="row mt-3">
			<div class="col-xl-6 col-lg-5 mr-auto">
				{# provided germplasm #}
				{% if institute.providedGermplasm | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ institute.providedGermplasm | length == 1 ? 'Provided Germplasm Summary' : 'Provided Germplasms Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ institute.providedGermplasm | length }}</span>
					</h4>

					<table id="datatable_germplasm" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Germplas ID</th>
								<th>Maintainer Numb</th>
								<th>Program</th>
							</tr>
						</thead>
						<tbody>
							{% for germplasm in institute.providedGermplasm %}
								<tr>
									<td>
										<strong class="text-muted">
											<a href="{{ path('germplasm_details', {id: germplasm.id}) }}">{{ germplasm.germplasmID }}</a>
										</strong>
									</td>

									<td>
										{% if germplasm.accession %}
											<strong class="text-muted">
												<a href="{{ path('accession_details', {id: germplasm.accession.id}) }}">{{ germplasm.maintainerNumb }}</a>
											</strong>
										{% endif %}
									</td>

									<td>
										<strong class="text-muted">
											{% if germplasm.program %}
												<a href="{{ path('program_details', {id: germplasm.program.id}) }}"><span class="tomato-color font-weight-bold">{{ germplasm.program.abbreviation }} </span></a>
											{% endif %}
										</strong>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>

		</div>

	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_germplasm').DataTable();
        } );
    </script>
{% endblock %}
