{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 order-md-1">
				<h2 class="mb-3 text-center tomato-color font-weight-bold">Institute Edition</h2>
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{{ form_start(instituteForm) }}
				<div class="row">
					<div class="col-md-6 mb-3">
						{{ form_row
                                        (instituteForm.instcode,
                                            { label: "Institue code *",
                                            'attr': {'placeholder': "Enter the institute code (instcode)"}
                                            }
                                        )
                                    }}
					</div>

					<div class="col-md-6 mb-3">
						{{ form_row
                                        (instituteForm.acronym,
                                            { label: "Acronym *",
                                            'attr': {'placeholder': "Enter the institute acronym"}
                                            }
                                        )
                                    }}
					</div>
				</div>
				<div>
					{{ form_row
                                        (instituteForm.name,
                                            { label: "Name *",
                                            'attr': {'placeholder': "Enter the institute name"}
                                            }
                                        )
                                    }}
				</div>
				<div>
					{{ form_row
                                        (instituteForm.streetNumber,
                                            { label: "Street number & name",
                                            'attr': {'placeholder': "Enter the street number & name"}
                                            }
                                        )
                                    }}
				</div>

				<div class="row">
					<div class="col-md-4 mb-3">
						{{ form_row
                                        (instituteForm.city,
                                            { label: "City",
                                            'attr': {'placeholder': "Enter the institute city"}
                                            }
                                        )
                                    }}
					</div>

					<div class="col-md-4 mb-3">
						{{ form_row
                                        (instituteForm.postalCode,
                                            { label: "Postal code",
                                            'attr': {'placeholder': "Enter the institute postal code"}
                                            }
                                        )
                                    }}
					</div>

					<div class="col-md-4 mb-3">
						{{ form_row
                                        (instituteForm.country,
                                            { label: "City",
                                            'attr': {'placeholder': "Enter the institute country",
                                            'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Update</button>
					</div>

					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
					</div>
				</div>
				{{ form_end(instituteForm) }}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}