{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
	<!-- DataTables CSS -->

	<link
	href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
	<!-- DataTables Animate CSS -->
	<link href="{{ asset('assets/datatables/css/animate.1.13.4.css.jquery.dataTables.min.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% if instituteTotalRows | length > 0 %}
					{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
						{% for message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
					<div class="card shadow mb-4">
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 flex-row align-items-center justify-content-between">
							<h4 class="m-0 font-weight-bold text-center tomato-color">Institute List</h4>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<div class="table-responsive">
								<table id="datatable" class="table table-hover text-nowrap" width="100%">
									<thead class="table-dark">
										<tr>
											<th scope="col">Institute Code</th>
											<th scope="col">Acronym</th>
											<th scope="col">Name</th>
											<th scope="col" data-orderable="false"></th>
											<th scope="col">Country</th>
											<th scope="col" data-orderable="false">Action</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No institute has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables animate JavaScript -->
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>
	
	<!-- Load data table server side processing -->
	<script src="{{ asset('assets/datatables/js/datatable_server_side_processing.js') }}"></script>
	<script>
		let dataTableId = "#datatable";
		let linkId = "";
		let colsDef = [
				// These are the column name variables that will be sent to the server
				{ "data": "instcode", "targets": 0 },
				{ "data": "acronym", "targets": 1 },
				{ "data": "name", "targets": 2 },
				{
				"data": "country_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkId = data;
						return null;
					}
				},
				{
				"data": "country_iso3", "targets": 4,
					"render": function(data, type, row, meta) {
						let url = '{{ path("country_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", linkId);
						let actionlink = "<a href="+ url +">"+data+"</a>";
						return actionlink;
					}
				},
				{
				"data": "id", "targets": 5,
					"render": function(data, type, row, meta) {
						let url = '{{ path("institute_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", data);
						let actionlink = "<a href="+ url +"><button class='btn btn-outline-primary'>Details</button></a>";
						return actionlink;
					}
				}
			];
		let url = "{{ path('institute_datatable') }}";
		// call the function with data table id, columns & ajax url args
		dataTable(dataTableId, colsDef, url);
    </script>
{% endblock %}