{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% if instituteTotalRows | length > 0 %}
					{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
						{% for message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
					<div class="card shadow mb-4">
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 flex-row align-items-center justify-content-between">
							<h4 class="m-0 font-weight-bold text-center tomato-color">Institute List</h4>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<div class="table-responsive">
								<table id="datatable" class="table table-hover text-nowrap" width="100%">
									<thead class="table-dark">
										<tr>
											<th scope="col">Institute Code</th>
											<th scope="col">Acronym</th>
											<th scope="col">Name</th>
											<th scope="col" data-orderable="false"></th>
											<th scope="col">Country</th>
											<th scope="col" data-orderable="false">Action</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No institute has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}
	<script>
		let dataTableId = "#datatable";
		let linkId = "";
		let colsDef = [
				// These are the column name variables that will be sent to the server
				{ "data": "instcode", "targets": 0 },
				{ "data": "acronym", "targets": 1 },
				{ "data": "name", "targets": 2 },
				{
				"data": "country_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkId = data;
						return null;
					}
				},
				{
				"data": "country_iso3", "targets": 4,
					"render": function(data, type, row, meta) {
						let url = '{{ path("country_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", linkId);
						let actionlink = "<a href="+ url +">"+data+"</a>";
						return actionlink;
					}
				},
				{
				"data": "id", "targets": 5,
					"render": function(data, type, row, meta) {
						let url = '{{ path("institute_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", data);
						let actionlink = "<a href="+ url +"><button class='btn btn-outline-primary'>Details</button></a>";
						return actionlink;
					}
				}
			];
		let url = "{{ path('institute_datatable') }}";
		// call the function with data table id, columns & ajax url args
		dataTable(dataTableId, colsDef, url);
    </script>
{% endblock %}