{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            {% for flash_error in app.flashes('verify_email_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}

                            <h1 class="tomato-color">User Registration</h1>
                            {{ form_start(registrationForm) }}
                                <h2 class="tomato-color">User Personal Information</h1>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.firstName,
                                            { label: "First Name*",
                                            'attr': {'placeholder': "Enter the person first name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.middleName,
                                            { label: "Middle Name",
                                            'attr': {'placeholder': "Enter the person middle name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.lastName,
                                            { label: "Last Name*",
                                            'attr': {'placeholder': "Enter the person last name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.phoneNumber,
                                            { label: "Phone Code",
                                            'attr': {'placeholder': "Enter the phone number"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.streetNumber,
                                            { label: "Street Number And Name",
                                            'attr': {'placeholder': "Enter the street number and its name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.postalCode,
                                            { label: "Postal Code",
                                            'attr': {'placeholder': "Enter the postal code"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.city,
                                            { label: "City",
                                            'attr': {'placeholder': "Enter the city"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (registrationForm.person.country,
                                            { label: "Country",
                                            'attr': {'placeholder': "Select the country"}
                                            }
                                        )
                                    }}
                                </div>

                                

                                <h2 class="tomato-color">User Connection Credentials</h1>
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                                }) }}
                                {{ form_row(registrationForm.agreeTerms) }}

                                <button type="submit" class="btn">Register</button>
                            {{ form_end(registrationForm) }}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('app_login')}}">
                                <p style="color:#D01C44;">Already have an account? Sign in</p>
                            </a>
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
