{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            {% for flash_error in app.flashes('verify_email_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}

                            <h1 class="tomato-color">Register</h1>
                            <h2 class="tomato-color">User Personal Information</h1>
                            {{ form_start(personForm) }}
                                <div class="tomato-color">{{ form_row
                                    (personForm.firstName,
                                        { label: "First Name *",
                                          'attr': {'placeholder': "Enter the data type name"}
                                        }
                                    )
                                }}</label>

                            {{ form_end(personForm) }}

                            
                            <h2 class="tomato-color">User Connection Credentials</h1>
                            {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                                }) }}
                                {{ form_row(registrationForm.agreeTerms) }}

                                <button type="submit" class="btn">Register</button>
                            {{ form_end(registrationForm) }}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('app_login')}}">
                                <p style="color:#D01C44;">Already have an account? Sign in</p>
                            </a>
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
