{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for flash_error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}
				<h4 class="mb-3 text-center text-muted">User Personal Information</h4>
				{{ form_start(registrationForm) }}
				<div class="row">
					<div class="col-md-4 mb-3">
						{{ form_row
                (registrationForm.person.firstName,
                    { label: "First Name*",
                    'attr': {'placeholder': "Enter the person first name"}
                    }
                )
            }}
					</div>
					<div class="col-md-4 mb-3">
						{{ form_row
                (registrationForm.person.middleName,
                    { label: "Middle Name",
                    'attr': {'placeholder': "Enter the person middle name"}
                    }
                )
            }}
					</div>
					<div class="col-md-4 mb-3">
						{{ form_row
                (registrationForm.person.lastName,
                    { label: "Last Name*",
                    'attr': {'placeholder': "Enter the person last name"}
                    }
                )
            }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 mb-3">
						{{ form_row
                (registrationForm.person.streetNumber,
                    { label: "Street Number And Name",
                    'attr': {'placeholder': "Enter the street number and its name"}
                    }
                )
            }}
					</div>
					<div class="col-md-4 mb-3">
						{{ form_row
                (registrationForm.person.postalCode,
                    { label: "Postal Code",
                    'attr': {'placeholder': "Enter the postal code"}
                    }
                )
            }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 mb-3">
						{{ form_row
                (registrationForm.person.phoneNumber,
                    { label: "Phone Number",
                    'attr': {'placeholder': "Enter the phone number"}
                    }
                )
            }}
					</div>
					<div class="col-md-4 mb-3">
						{{ form_row
                (registrationForm.person.city,
                    { label: "City",
                    'attr': {'placeholder': "Enter the city name"}
                    }
                )
            }}
					</div>
					<div class="col-md-4 mb-3">
						{{ form_row
                (registrationForm.person.country,
                    { label: "Country",
                    'attr':
                        {
                            'placeholder': "Select the country",
                            'class': "custom-select d-block w-100"
                        }
                    }
                )
            }}
					</div>
				</div>

				<h4 class="mb-3 mt-3 text-center text-muted">User Credentials</h4>
				<div class="row">
					<div class="col-md-6 mb-3">
						{{ form_row
                (registrationForm.email,
                    { label: "Email *",
                    'attr': {'placeholder': "Enter the person's email"}
                    }
                )
            }}
					</div>
					<div class="col-md-6 mb-3">
						{{ form_row
                (registrationForm.plainPassword,
                    { label: "Password",
                    'attr': {'placeholder': "Enter the person's password"}
                    }
                )
            }}
					</div>

					<div class="col-md-3 mb-3">
						{{ form_row(registrationForm.agreeTerms) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Register</button>
					</div>

					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
					</div>
				</div>


				{{ form_end(registrationForm) }}
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{path('app_login')}}">
					<p>Already have an account? Sign in</p>
				</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
