{% extends 'base.html.twig' %}

{% form_theme registrationForm _self %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="{{ form.vars.id }}_list" value="{{ form.vars.value }}" />
    <datalist id="{{ form.vars.id }}_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
	<input type="hidden" name="institute[country]" id="institute_country_hidden">
    </datalist>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">User Registration</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
                        <h4 class="mb-3 text-center text-muted font-weight-bold">User Personal Information</h4>
						{{ form_start(registrationForm) }}
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.person.firstName,
                            { label: "First Name*",
                            'attr': {'placeholder': "Enter the person first name"}
                            }
                        )
                    }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.person.middleName,
                            { label: "Middle Name",
                            'attr': {'placeholder': "Enter the person middle name"}
                            }
                        )
                    }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.person.lastName,
                            { label: "Last Name*",
                            'attr': {'placeholder': "Enter the person last name"}
                            }
                        )
                    }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 mb-3">
                                {{ form_row
                        (registrationForm.person.streetNumber,
                            { label: "Street Number And Name",
                            'attr': {'placeholder': "Enter the street number and its name"}
                            }
                        )
                    }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.person.postalCode,
                            { label: "Postal Code",
                            'attr': {'placeholder': "Enter the postal code"}
                            }
                        )
                    }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.person.phoneNumber,
                            { label: "Phone Number",
                            'attr': {'placeholder': "Enter the phone number"}
                            }
                        )
                    }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.person.city,
                            { label: "City",
                            'attr': {'placeholder': "Enter the city name"}
                            }
                        )
                    }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.person.country,
                            { label: "Country",
                            'attr':
                                {
                                    'placeholder': "Select the country",
                                    'class': "custom-select d-block w-100"
                                }
                            }
                        )
                    }}
                            </div>
                        </div>

                        <h4 class="mb-3 mt-3 text-center text-muted font-weight-bold">User Credentials</h4>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.email,
                            { label: "Email *",
                            'attr': {'placeholder': "Enter the person's email"}
                            }
                        )
                    }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.plainPassword.first,
                            { label: "Password",
                            'attr': {'placeholder': "Enter the person's password"}
                            }
                        )
                    }}
                            </div>

                            <div class="col-md-4 mb-3">
                                {{ form_row
                        (registrationForm.plainPassword.second,
                            { label: "Confirm Password",
                            'attr': {'placeholder': "Confirm the person's password"}
                            }
                        )
                    }}
                            </div>

                            <div class="col-md-12 mb-3">
                                {% set termsOfUseLink %} I have read and agreed to the <a href="{{ path('privacy_terms_of_use') }}">terms and conditions</a>{% endset %}
                                {{ form_widget(registrationForm.agreeTerms) }}
                               <label for="{{ registrationForm.agreeTerms.vars.id }}" >{{ termsOfUseLink }}</label>
                                
                                <small class="tomato-color text-justify">
                                    <b>By checking this box you give consent
                                    to the Harnesstom team to use for statistic purposes
                                    those data for which you have requested a pre-publication confidential hold only.
                                    Note that the data as well as the metadata will remain confidential until the specified release date of the associated trial</b>
                                </small>
                                {{ form_row(registrationForm.consentTerms, {label: 'I consent'}) }}

                                <style>
                                    label {
                                        display: block;
                                        padding-left: 15px;
                                        text-indent: -15px;
                                    }
                                    input {
                                        width: 15px;
                                        height: 15px;
                                        padding: 0;
                                        margin: 0;
                                        vertical-align: bottom;
                                        position: relative;
                                        top: -1px;
                                    }
                                </style>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <button id="register-btn" class="btn btn-outline-primary btn-lg btn-block" type="submit">Register</button>
                            </div>
                        </div>


                        {{ form_end(registrationForm) }}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('app_login')}}">
                            <p>Already have an account? Sign in</p>
                        </a>
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/create_edit_js.html.twig' %}
{% endblock %}