{% extends 'base.html.twig' %}

{% form_theme flavorHealthForm _self %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="flavor_health_parentTerm_list" value="{{ form.vars.value }}" />
    <datalist id="flavor_health_parentTerm_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="flavor_health[parentTerm]" id="flavor_health_parentTerm_hidden">
    </datalist>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">Health & Flavor Edition</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(flavorHealthForm) }}
						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(flavorHealthForm.ontology_id, {'attr': {'placeholder' : 'Enter the ontology id'}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(flavorHealthForm.parentTerm, {'attr': {'placeholder' : 'Enter the parent term', 'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(flavorHealthForm.name, {'attr': {'placeholder' : 'Enter the name'}}) }}
							</div>
						</div>
						<div>
							{{ form_row(flavorHealthForm.description, {'attr': {'placeholder' : 'Enter the description'}}) }}
						</div>
						<div class="row">
							{% include 'resource/btn_update.html.twig' %}
						</div>
						{{ form_end(flavorHealthForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/create_edit_js.html.twig' %}
{% endblock %}