{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12 mb-3">
            <h2 class="mb-3 text-center tomato-color font-weight-bold">Accession Details</h2>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="card">
                            <div class="card-header">
                                <h3 class="tomato-color">Accession basic information</h3>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Accession Number: </label>
                                <span class="tomato-color font-weight-bold">{{accession.accenumb}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Accession Name: </label>
                                <span class="tomato-color font-weight-bold">{{accession.accename}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Country of Origin: </label>
                                <span class="tomato-color font-weight-bold">{{accession.origcty}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Municipality: </label>
                                <span class="tomato-color font-weight-bold">{{accession.origmuni}}</span>
                            </div>
                            
                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Municipality 1: </label>
                                <span class="tomato-color font-weight-bold">{{accession.origadmin1}}</span>
                            </div>
                            
                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Municipality 2: </label>
                                <span class="tomato-color font-weight-bold">{{accession.origadmin2}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting Source: </label>
                                <span class="tomato-color font-weight-bold">{{accession.collsrc}}</span>
                            </div>
                            
                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Biological Status: </label>
                                <span class="tomato-color font-weight-bold">{{accession.sampstat}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">MLS Status: </label>
                                <span class="tomato-color font-weight-bold">{{accession.mlsStatus}}</span>
                            </div>
                            
                            <div class="col-md-12 mb-1">
                                <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ accession.taxon.taxonid }}" target="_blank">
                                    <label for="validationTooltip01">Taxon: </label>
                                    <span class="tomato-color font-weight-bold">{{accession.taxon}}</span>
                                </a>
                            </div>
                                
                            </div>
                            <div class="card-footer text-muted">
                                
                            </div>
                        </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="card">
                            <div class="card-header">
                                <h3 class="tomato-color">Collecting site information</h3>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 mb-1">
                                    <label for="validationTooltip01">Collecting Number: </label>
                                    <span class="tomato-color font-weight-bold">{{accession.collnumb}}</span>
                                </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting institute Code: </label>
                                <span class="tomato-color font-weight-bold">{{accession.collcode}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting mission identifier: </label>
                                <span class="tomato-color font-weight-bold">{{accession.collmissid}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting date: </label>
                                <span class="tomato-color font-weight-bold">{{ accession.colldate }}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting site latitude: </label>
                                <span class="tomato-color font-weight-bold">{{accession.declatitude}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting site longitude: </label>
                                <span class="tomato-color font-weight-bold">{{accession.declongitude}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting site elevation: </label>
                                <span class="tomato-color font-weight-bold">{{accession.elevation}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Collecting site: </label>
                                <span class="tomato-color font-weight-bold">{{accession.collsite}}</span>
                            </div>
                                
                            </div>
                            <div class="card-footer text-muted">
                                
                            </div>
                        </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="tomato-color">Maintaining information</h3>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Accession PUID: </label>
                                <span class="tomato-color font-weight-bold">{{accession.puid}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Maintaining Accession Number: </label>
                                <span class="tomato-color font-weight-bold">{{accession.maintainerNumb}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Maintaining institute Code: </label>
                                <span class="tomato-color font-weight-bold">{{accession.instcode}}</span>
                            </div>


                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Acquisition date: </label>
                                <span class="tomato-color font-weight-bold">{{ accession.acqdate }}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Storage type: </label>
                                <span class="tomato-color font-weight-bold">{{accession.storage}}</span>
                            </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Donnor institute code: </label>
                                <span class="tomato-color font-weight-bold">{{accession.donorcode}}</span>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="validationTooltip01">Donnor number: </label>
                                <span class="tomato-color font-weight-bold">{{accession.donornumb}}</span>
                            </div>

                            </div>
                            <div class="card-footer text-muted">
                                
                            </div>
                        </div>
                    </div>
                    
                <div class="col-md-3 mb-3">
                    <div class="card">
                            <div class="card-header">
                                <h3 class="tomato-color">Breeding information</h3>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 mb-1">
                                    <label for="validationTooltip01">Breeding institute code: </label>
                                    <span class="tomato-color font-weight-bold">{{accession.bredcode}}</span>
                                </div>

                            <div class="col-md-12 mb-1">
                                <label for="validationTooltip01">Pedigree: </label>
                                <span class="tomato-color font-weight-bold">{{accession.breedingInfo}}</span>
                            </div>



                            </div>
                            <div class="card-footer text-muted">
                                
                            </div>
                        </div>
                </div>

                <div class="col-md-12">
                {# Attribute trait value #}
            {% if accession.attributeTraitValues | length > 0 %}
                <div class="col-md-4 mb-4">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="tomato-color">{{ accession.attributeTraitValues | length == 1 ? 'Attribute Summary' : 'Attributes Summary' }}</span>
						<span class="badge badge-danger badge-pill">{{ accession.attributeTraitValues | length }}</span>
					</h4>
					<ul class="list-group mb-3">
						{% for attTraitValue in accession.attributeTraitValues %}
							<a href="{{ path('germplasm_details', {id: attTraitValue.id}) }}"><li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">Attribute Name</h6>
								<strong class="text-muted">{{ attTraitValue.attribute }}</strong>
							</div></a>
							<div>
								<a href="{{ path('program_details', {id: attTraitValue.id}) }}">
                                <h6 class="my-0">Attribute Class</h6>
								<strong class="text-muted">{{ attTraitValue.attribute.category }}</strong></a>
							</div>
							<div>
                                <a href="{{ path('trial_details', {id: attTraitValue.id}) }}">
								<h6 class="my-0">Trait</h6>
								<strong class="text-muted">{{ attTraitValue.trait }}</strong></a>
							</div>
							<div>
								<a href="{{ path('germplasm_details', {id: attTraitValue.id}) }}">
                                <h6 class="my-0">Value</h6>
								<strong class="text-muted">{{ attTraitValue.value }}</strong></a>
							</div>
							{# <span class="text-muted">$12</span> #}
							</li>
                            
						{% endfor %}
					</ul>
				</div>
            {% endif %}
            </div>                


            </div>

            <div class="row">
            </div>


            </div>

            <div class="col-md-12 order-md-1 mb-3">
                <h2 class="mb-3 text-center tomato-color font-weight-bold">Details</h2>
                <div class="col-md-6 mb-3">
                    <form>
  
                </div>

            </div>
        </div> <!-- .row -->
        {# Start of row #}
		<div class="row">
			<div class="col-md-9 mb-4">
            {% if accession.germplasms | length > 0 %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Germplasm</th>
                        <th scope="col">Factor</th>
                        <th scope="col">Anatomical Entity</th>
                        <th scope="col">Developmental Stage</th>
                        <th scope="col">Study</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {# <td colspan="3"></td> #}
                        <td>
                            {# {% for dats in accession.germplasms %}
                                {% for onedat in dats.germplasmStudyImages %}
                                    {{ onedat.studyId.abbreviation }}
                                {% endfor %}
                            {% endfor %} #}
                        </td>
                        </tr>
                        
                {% for oneG in accession.germplasms %}
                    {% if oneG.germplasmStudyImages | length > 0 %}
                        {% for oneS in oneG.germplasmStudyImages %}
                        <tr>
                            <td>{{ oneS.germplasmID }}</td>
                            <td>
                                <table>
                                            <tr>
                                                <td>{{ oneS.factor ? oneS.factor : "No data" }}</td>
                                            </tr>
                                        </table>
                            </td>
                            <td>
                                        <table>
                                            <tr>
                                                <td>{{ oneS.plantAnatomicalEntity ? oneS.plantAnatomicalEntity : "No data" }}</td>
                                            </tr>
                                        </table>
                            </td>
                            <td>
                                        <table>
                                            <tr>
                                                <td>{{ oneS.developmentStage ? oneS.developmentStage : "No data" }}</td>
                                            </tr>
                                        </table>
                            </td>
                            <td>{{ oneS.studyId.abbreviation }}</td>
                            <td>
                                        <table>
                                            <tr>
                                                <td><img src="{{ asset('uploads/images/traditom_exp_photos/exp_photos/' ~ oneS.filename ) }}" width="20%" alt="" class="logo" /></td>
                                            </tr>
                                        </table>
                            </td>
                            <td>{{ oneS.description }}</td>

                            {# <td>{{ oneG.germplasmStudyImages[0].plantAnatomicalEntity }}</td>
                            <td>{{ oneG.germplasmStudyImages[0].developmentStage }}</td>
                            <td><img src="{{ asset('uploads/images/traditom_exp_photos/exp_photos/' ~ oneG.germplasmStudyImages[0].filename ) }}" width="10%" alt="" class="logo" /></td> #}
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
                    </tbody>
                </table>
			</div>

            

			{% if accession.germplasms | length > 0 %}
				<div class="col-md-3 mb-4">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="tomato-color">{{ accession.germplasms | length == 1 ? 'Related Germplasm Summary' : 'Related Germplasms Summary' }}</span>
						<span class="badge badge-danger badge-pill">{{ accession.germplasms | length }}</span>
					</h4>
					<ul class="list-group mb-3">
						{% for oneGermplasm in accession.germplasms %}
							<a href="{{ path('germplasm_details', {id: oneGermplasm.id}) }}"><li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">Germplasm ID</h6>
								<strong class="text-muted">{{ oneGermplasm.germplasmID }}</strong>
							</div></a>
							<div>
								<a href="{{ path('program_details', {id: oneGermplasm.program.id}) }}">
                                <h6 class="my-0">Program</h6>
								<strong class="text-muted">{{ oneGermplasm.program.abbreviation }}</strong></a>
							</div>
							<div>
                                <a href="{{ path('trial_details', {id: oneGermplasm.study[0].trial.id}) }}">
								<h6 class="my-0">Trial</h6>
								<strong class="text-muted">{{ oneGermplasm.study[0].trial.abbreviation }}</strong></a>
							</div>
							<div>
								<a href="{{ path('germplasm_details', {id: oneGermplasm.id}) }}">
                                <h6 class="my-0">External Ref</h6>
								<strong class="text-muted">{{ oneGermplasm.program.externalRef }}</strong></a>
							</div>
							{# <span class="text-muted">$12</span> #}
							</li>
                            
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
		{# End of row #}
    </div> <!-- .container -->
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/bootstrap4-toggle.min.js') }}"></script>
<script src="{{ asset('assets/axios/axios.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

<script>
    /*
        This function is to change the status of the object.
        It is called each time the corresponding link is clicked (the event happened).
        1. It prevents the default behavior (behavior of showing the json response) of the function
        in the controller class.

        2. It gets the url of the link

        3. It get the html document of the span which is the checkbox to change the object status 

        4. It passes the url to axios which returns a response which is the message of the json
            coming from the function in the controller.
            4.1 set the checked property of the checkbox based on the response value.
    */
    function changeStatus(event){
        event.preventDefault();
        const url = this.href;
        const statusCheckbox = this.querySelector('span.changeStatusSpan').innerHTML;
        
        axios.get(url).then(function(res){
            const jsonResponse = res.data.message;
            if(jsonResponse) {
                statusCheckbox.checked = true;
            }
            else {
                statusCheckbox.checked = false;
            }
        })
    }
    
    document.querySelectorAll('a.changeStatusLink').forEach(function(link){
        link.addEventListener('click', changeStatus);  
    })
</script>
{% endblock %}