{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="row">
            
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Accession Details</h2>
                    </div>
                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
                                <span>Created By: 
                                    <a href="{{ path('person_details', {id: accessions[0].createdBy.id}) }}">{{ accessions[0].createdBy }}</a>
                                </span>
                                <span>On: {{ accessions[0].createdAt | date('d/m/Y h:m:s') }} </span>
                                </br><a href="{{ path('accession_delete', {id: accessions[0].id}) }}" class="changeStatusLink" id="{{ accessions[0].id }}">
                                    <span class="changeStatusSpan">
                                        <input type="checkbox" {{ accessions[0].isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
                                    </span>
                                </a>
                        {% endif %}
                        {% if is_granted("accession_edit", accessions[0]) %}
                        
                                <a href="{{ path('accession_edit', {id: accessions[0].id}) }}">
                                    <button class="btn btn-outline-warning">Edit</button>
                                </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-2 mb-3 mt-1">
                        <div class="card">
                                <div class="card-header">
                                    <h3 class="tomato-color">Accession basic information</h3>
                                </div>
                                <div class="card-body">
                                    <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Accession Number: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].accenumb}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Accession Name: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].accename}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Country of Origin: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].origcty}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Municipality: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].origmuni}}</span>
                                </div>
                                
                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Municipality 1: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].origadmin1}}</span>
                                </div>
                                
                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Municipality 2: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].origadmin2}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting Source: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].collsrc}}</span>
                                </div>
                                
                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Biological Status: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].sampstat}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">MLS Status: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].mlsStatus}}</span>
                                </div>
                                
                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ accessions[0].taxon.taxonid }}" target="_blank">
                                        <label for="validationTooltip01">Taxon: </label>
                                        <span class="tomato-color font-weight-bold">{{ accessions[0].taxon}}</span>
                                    </a>
                                </div>
                                    
                                </div>
                                <div class="card-footer text-muted">
                                    
                                </div>
                            </div>
                    </div>

                    <div class="col-xl-3 col-lg-2 mb-3 mt-1">
                        <div class="card">
                                <div class="card-header">
                                    <h3 class="tomato-color">Collecting site information</h3>
                                </div>
                                <div class="card-body">
                                    <div class="col-xl-12 col-lg-11 mb-1">
                                        <label for="validationTooltip01">Collecting Number: </label>
                                        <span class="tomato-color font-weight-bold">{{ accessions[0].collnumb}}</span>
                                    </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting institute Code: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].collcode}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting mission identifier: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].collmissid}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting date: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].colldate }}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting site latitude: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].declatitude}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting site longitude: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].declongitude}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting site elevation: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].elevation}}</span>
                                </div>

                                <div class="col-xl-12 col-lg-11 mb-1">
                                    <label for="validationTooltip01">Collecting site: </label>
                                    <span class="tomato-color font-weight-bold">{{ accessions[0].collsite}}</span>
                                </div>
                                    
                                </div>
                                <div class="card-footer text-muted">
                                    
                                </div>
                            </div>
                    </div>

                        <div class="col-xl-3 col-lg-2 mb-3 mt-1">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="tomato-color">Maintaining institute information</h3>
                                </div>
                                <div class="card-body">
                                    {% for oneAccession in accessions %}
                                        <div class="col-xl-12 col-lg-11 mb-1">
                                            <label for="validationTooltip01">Maintaining institute Code: </label>
                                            {% if oneAccession.instcode %}
                                                <span class="tomato-color font-weight-bold">{{ oneAccession.instcode.acronym}}</span>
                                            {% endif %}
                                        </div>

                                        <div class="col-xl-12 col-lg-11 mb-1">
                                            <label for="validationTooltip01">Accession PUID: </label>
                                            <span class="tomato-color font-weight-bold">{{ oneAccession.puid}}</span>
                                        </div>

                                        <div class="col-xl-12 col-lg-11 mb-1">
                                            <label for="validationTooltip01">Maintaining Accession Number: </label>
                                            <span class="tomato-color font-weight-bold">{{ oneAccession.maintainerNumb}}</span>
                                        </div>

                                        <div class="col-xl-12 col-lg-11 mb-1">
                                            <label for="validationTooltip01">Acquisition date: </label>
                                            <span class="tomato-color font-weight-bold">{{ oneAccession.acqdate }}</span>
                                        </div>

                                        <div class="col-xl-12 col-lg-11 mb-1">
                                            <label for="validationTooltip01">Storage type: </label>
                                            <span class="tomato-color font-weight-bold">{{ oneAccession.storage}}</span>
                                        </div>

                                        <div class="col-xl-12 col-lg-11 mb-1">
                                            <label for="validationTooltip01">Donnor institute code: </label>
                                            <span class="tomato-color font-weight-bold">
                                                {{ oneAccession.donorcode }}
                                            </span>
                                        </div>

                                        <div class="col-xl-12 col-lg-11 mb-3">
                                            <label for="validationTooltip01">Donnor number: </label>
                                            <span class="tomato-color font-weight-bold">{{ oneAccession.donornumb}}</span>
                                        </div>

                                        {% if loop.index != accessions | length %}
                                            <hr>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <div class="card-footer text-muted">
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-lg-2 mb-3 mt-1">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="tomato-color">Breeding information</h3>
                                </div>
                                <div class="card-body">
                                    {% for oneAccession in accessions %}
                                        {% if oneAccession.bredcode %}
                                            <div class="col-xl-12 col-lg-11 mb-1">
                                                <label for="validationTooltip01">Breeding institute code: </label>
                                                <span class="tomato-color font-weight-bold">{{ oneAccession.bredcode}}</span>
                                            </div>
                                        {% endif %}

                                        {% if oneAccession.breedingInfo %}
                                            <div class="col-xl-12 col-lg-11 mb-1">
                                                <label for="validationTooltip01">Pedigree: </label>
                                                <span class="tomato-color font-weight-bold">
                                                    {{ oneAccession.breedingInfo }}
                                                </span>
                                            </div>
                                        {% endif %}
                                        {% if loop.index != accessions | length and (oneAccession.bredcode or oneAccession.breedingInfo) %}
                                            <hr>
                                        {% endif %}
                                    {% endfor %}
                                
                                </div>
                                <div class="card-footer text-muted">
                                    
                                </div>
                            </div>
                        </div>

                </div>

                <div class="row mb-4">
                    <div class="col-xl-3 col-lg-2 mr-auto">
                        {# Attribute trait value #}
                        {% if accessions[0].attributeTraitValues | length > 0 %}
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <strong class="tomato-color">{{ accessions[0].attributeTraitValues | length == 1 ? 'Attribute Summary' : 'Attributes Summary' }}</strong>
                                <span class="badge badge-danger badge-pill">{{ accessions[0].attributeTraitValues | length }}</span>
                            </h4>

                            <table id="datatable_attr" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Attribute Name</th> 
                                        <th>Trait</th>
                                        <th>Value</th>
                                    </tr>
                                <thead>
                                <tbody>
                                    {% for attTraitValue in accessions[0].attributeTraitValues %}
                                        <tr>
                                            <td>
                                                {% if attTraitValue.attribute %}
                                                    <strong class="text-muted">
                                                        <a href="{{ path('attribute_details', {id: attTraitValue.attribute.id}) }}">{{ attTraitValue.attribute }}</a>
                                                    </strong>
                                                {% endif %}
                                            </td>
                                            
                                            <td>
                                                {% if attTraitValue.trait %}
                                                    <strong class="text-muted">
                                                        <a href="{{ path('trait_class_details', {id: attTraitValue.trait.id}) }}">
                                                            {{ attTraitValue.trait }}
                                                        </a>
                                                    </strong>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if attTraitValue.value %}
                                                    <strong class="text-muted">
                                                        {{ attTraitValue.value }}
                                                    </strong>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% endif %}
                    </div>


                    <div class="col-xl-3 col-lg-2 mx-auto">
                        {# Synonym #}
                        {% if accession.synonyms | length > 0 %}
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <strong class="tomato-color">{{ accession.synonyms | length == 1 ? 'Synonym Summary' : 'Synonyms Summary' }}</strong>
                                <span class="badge badge-danger badge-pill">{{ accession.synonyms | length }}</span>
                            </h4>

                            <table id="datatable_acc_synonym" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Synonym Source</th> 
                                        <th>Synonym ID</th>
                                    </tr>
                                <thead>
                                <tbody>
                                    {% for oneAccSynonym in accession.synonyms %}
                                        <tr>
                                            <td>
                                                <strong class="text-muted">
                                                    {{ oneAccSynonym.synonymSource }}
                                                </strong>
                                            </td>
                                            
                                            <td>
                                                <strong class="text-muted">
                                                    {{ oneAccSynonym.synonymId }}
                                                </strong>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% endif %}
                    </div>


                    <div class="col-xl-3 col-lg-2 ">
                        {% if accessions[0].germplasms | length > 0 %}
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <strong class="tomato-color">{{ accessions[0].germplasms | length == 1 ? 'Related Germplasm Summary' : 'Related Germplasms Summary' }}</strong>
                                <span class="badge badge-danger badge-pill">{{ accessions[0].germplasms | length }}</span>
                            </h4>
                            <table id="datatable_germ" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Germplasm ID</th> 
                                        <th>Maintaining Number</th>
                                        <th>Program</th>
                                        <th>Trial</th>
                                        {# <th>External Ref</th> #}
                                    </tr>
                                <thead>
                                <tbody>
                                    {% for oneGermplasm in accessions[0].germplasms %}
                                        <tr>
                                            <td>
                                                {% if oneGermplasm.germplasmID %}
                                                    <strong class="text-muted">
                                                        <a href="{{ path('germplasm_details', {id: oneGermplasm.id}) }}">{{ oneGermplasm.germplasmID }}</a>
                                                    </strong>
                                                {% endif %}
                                            </td>
                                            
                                            <td>
                                                {% if oneGermplasm %}
                                                    <strong class="text-muted">
                                                        {{ oneGermplasm.maintainernumb }}
                                                    </strong>
                                                {% endif %}
                                            </td>

                                            <td>
                                                {% if oneGermplasm.program %}
                                                    <strong class="text-muted">
                                                        <a href="{{ path('program_details', {id: oneGermplasm.program.id}) }}">
                                                            {{ oneGermplasm.program.abbreviation }}
                                                        </a>
                                                    </strong>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if oneGermplasm.study[0].trial %}
                                                    <strong class="text-muted">
                                                        <a href="{{ path('trial_details', {id: oneGermplasm.study[0].trial.id}) }}">
                                                            {{ oneGermplasm.study[0].trial.abbreviation }}
                                                        </a>
                                                    </strong>
                                                {% endif %}
                                            </td>
                                            {# <td>
                                                {% if oneGermplasm.program %}
                                                    <strong class="text-muted">
                                                        <a href="{{ path('program_details', {id: oneGermplasm.program.id}) }}">
                                                            {{ oneGermplasm.program.externalRef }}
                                                        </a>
                                                    </strong>
                                                {% endif %}
                                            </td> #}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>  
                </div>
            </div>

            
        </div> <!-- .row -->
        
        {# Start of row #}
		<div class="row">
            {% if accessions[0].germplasms | length > 0 %}
                <div class="col-xl-12 col-lg-11 mt-3">
                    <h2 class="text-center tomato-color font-weight-bold">Germplasm Details</h2>
                </div>

                <div class="col-xl-12 col-lg-11 mb-4">
                    <table class="table" id="datatable_more_details">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Germplasm</th>
                            <th scope="col">Factor</th>
                            <th scope="col">Anatomical Entity</th>
                            <th scope="col">Developmental Stage</th>
                            <th scope="col">Study</th>
                            <th scope="col">Image</th>
                            <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for oneG in accessions[0].germplasms %}
                                {% if oneG.germplasmStudyImages | length > 0 %}
                                    {% for oneS in oneG.germplasmStudyImages %}
                                    <tr>
                                        <td>{{ oneS.germplasmID }}</td>
                                        <td>{{ oneS.factor ? oneS.factor : "No data" }}</td>
                                        <td>{{ oneS.plantAnatomicalEntity ? oneS.plantAnatomicalEntity : "No data" }}</td>
                                        <td>{{ oneS.developmentStage ? oneS.developmentStage : "No data" }}</td>
                                        <td>{{ oneS.studyId.abbreviation }}</td>
                                        <td>
                                            <img class="img-thumbnail acc-details-img" width="100px" src="{{ asset('uploads/images/traditom_exp_photos/exp_photos/' ~ oneS.filename ) }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="true">
                                                <rect width="auto" height="auto" fill="#55595c"/>
                                            </img>              
                                        </td>
                                        <td>{{ oneS.description }}</td>

                                        {# <td>{{ oneG.germplasmStudyImages[0].plantAnatomicalEntity }}</td>
                                        <td>{{ oneG.germplasmStudyImages[0].developmentStage }}</td>
                                        <td><img src="{{ asset('uploads/images/traditom_exp_photos/exp_photos/' ~ oneG.germplasmStudyImages[0].filename ) }}" width="10%" alt="" class="logo" /></td> #}
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
		</div>
		{# End of row #}

    </div> <!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_attr, #datatable_acc_synonym, #datatable_germ, #datatable_more_details').DataTable();
        } );
    </script>
{% endblock %}