{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-xl-12 col-lg-11">
                {% if accessions | length > 0 %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-center tomato-color">Accession List</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Graph View:</div>
                                    <a class="dropdown-item" href="#">Most Accession By Country</a>
                                    <a class="dropdown-item" href="#">Most Accession By Institute</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Most Accession By ...</a>
                                </div>
                            </div>
                        </div>
						<div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-hover text-nowrap" width="100%">
                                    <thead class="table-dark">
                                        <tr>
                                        <th scope="col" data-orderable="false"></th>
                                        <th scope="col">Taxon</th>
                                        <th scope="col">Accession Number</th>
                                        <th scope="col">Accession Name</th>
                                        <th scope="col">Accession PUID</th>
                                        <th scope="col" data-orderable="false"></th>
                                        <th scope="col">Country of Origin</th>
                                        <th scope="col" data-orderable="false"></th>
                                        <th scope="col">Biological Status</th>
                                        <th scope="col" data-orderable="false"></th>
                                        <th scope="col">MLS Status</th>
                                        <th scope="col" data-orderable="false"></th>
                                        <th scope="col">Maintaining Institute</th>
                                        <th scope="col">Maintainer Number</th>
                                        <th scope="col" data-orderable="false">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No accession has been provided in our system</h5>
                {% endif %}  
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}
	
    {# <script>
        let data = [
                {% for accession in accessions %}
                    {
                    taxon: "{{ accession.taxon.taxonid }}",
                    accenumb: "{{ accession.accenumb }}",
                    accename: "{{ accession.accename }}",
                    puid: "{{ accession.puid }}",
                    origcty: "{% if accession.origcty %} <a href={{ path('country_details', {id: accession.origcty.id}) }}>{{ accession.origcty }}</a>{% endif %}",
                    collsrc: "{% if accession.collsrc %} <a href={{ path('collecting_source_details', {id: accession.collsrc.id}) }}>{{ accession.collsrc }}</a>{% endif %}",
                    sampstat: "{% if accession.sampstat %} <a href={{ path('biological_status_details', {id: accession.sampstat.id}) }}>{{ accession.sampstat }}</a>{% endif %}",
                    mlsStatus: "{% if accession.sampstat %} <a href={{ path('mls_status_details', {id: accession.sampstat.id}) }}>{{ accession.mlsStatus }}</a>{% endif %}",
                    instcode: "{% if accession.instcode %} <a href={{ path('institute_details', {id: accession.instcode.id}) }}>{{ accession.instcode.acronym }}</a>{% endif %}",
                    maintainernumb: "{{ accession.maintainernumb }}",
                    action: "<a href={{ path('accession_details', {id: accession.id}) }}><button class='btn btn-outline-primary'>Details</button></a>"
                    },
                {% endfor %}
            ];
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "bDestroy": true,
                "pageLength": 25,
                data: data,
                columns: [
                    { data: 'taxon'},
                    { data: 'accenumb'},
                    { data: 'accename'},
                    { data: 'puid'},
                    { data: 'origcty'},
                    { data: 'sampstat'},
                    { data: 'mlsStatus'},
                    { data: 'instcode'},
                    { data: 'maintainernumb'},
                    { data: 'action'}
                ]
            } );
        } );
    </script> #}

    <script>
		let dataTableId = "#datatable";
		let linkTxId = "";
        let linkCtryId = "";
        let linkBsId = "";
        let linkMlsId = "";
        let linkInstId = "";
		let colsDef = [
				// These are the column name variables that will be sent to the server
				{
				"data": "taxon_id", "targets": 0,
					"render": function(data, type, row, meta) {
						linkTxId = data;
						return null;
					}
				},
                {
				"data": "taxonid", "targets": 1,
					"render": function(data, type, row, meta) {
						let url = "https://www.ncbi.nlm.nih.gov/search/all/?term="+data; 
						//url = url.replace("dataId", linkTxId);
						let actionlink = "<a href="+ url +" target='_blank'>"+data+"</a>";
						return actionlink;
					}
				},
				{ "data": "accenumb", "targets": 2 },
				{ "data": "accename", "targets": 3 },
                { "data": "puid", "targets": 4 },
				{
				"data": "country_id", "targets": 5,
					"render": function(data, type, row, meta) {
						linkCtryId = data;
						return null;
					}
				},
				{
				"data": "country_iso3", "targets": 6,
					"render": function(data, type, row, meta) {
						let url = '{{ path("country_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", linkCtryId);
						let actionlink = "<a href="+ url +">"+data+"</a>";
						return actionlink;
					}
				},
                {
				"data": "bs_id", "targets": 7,
					"render": function(data, type, row, meta) {
						linkBsId = data;
						return null;
					}
				},
				{
				"data": "bs_name", "targets": 8,
					"render": function(data, type, row, meta) {
						let url = '{{ path("biological_status_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", linkBsId);
						let actionlink = "<a href="+ url +">"+data+"</a>";
						return actionlink;
					}
				},
                {
				"data": "mls_id", "targets": 9,
					"render": function(data, type, row, meta) {
						linkMlsId = data;
						return null;
					}
				},
				{
				"data": "mls_name", "targets": 10,
					"render": function(data, type, row, meta) {
						let url = '{{ path("mls_status_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", linkMlsId);
						let actionlink = "<a href="+ url +">"+data+"</a>";
						return actionlink;
					}
				},
                {
				"data": "inst_id", "targets": 11,
					"render": function(data, type, row, meta) {
						linkInstId = data;
						return null;
					}
				},
				{
				"data": "inst_instcode", "targets": 12,
					"render": function(data, type, row, meta) {
						let url = '{{ path("institute_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", linkInstId);
						let actionlink = "<a href="+ url +">"+data+"</a>";
						return actionlink;
					}
				},
                { "data": "maintainernumb", "targets": 13 },
				{
				"data": "id", "targets": 14,
					"render": function(data, type, row, meta) {
						let url = '{{ path("accession_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", data);
						let actionlink = "<a href="+ url +"><button class='btn btn-outline-primary'>Details</button></a>";
						return actionlink;
					}
				}
			];
		let url = "{{ path('accession_datatable') }}";
		// call the function with data table id, columns & ajax url args
		dataTable(dataTableId, colsDef, url);
    </script>
{% endblock %}

