{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 order-md-1">
                {% if accessions | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold tomato-color">Accession List</h2>
                    <div class="table-responsive">
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Taxon</th>
                                <th scope="col">Accession Number</th>
                                <th scope="col">Accession Name</th>
                                <th scope="col">Accession PUID</th>
                                <th scope="col">Country of Origin</th>
                                <th scope="col">Collecting Source</th>
                                <th scope="col">Biological Status</th>
                                <th scope="col">MLS Status</th>
                                <th scope="col">Collecting Number</th>
                                <th scope="col">Collecting Institute</th>
                                <th scope="col">Breding Institute</th>
                                <th scope="col">Maintaining Institute</th>
                                <th scope="col">Maintainer Number</th>
                                <th scope="col">Storage Type</th>
                                <th scope="col">Donnor number</th>
                                <th scope="col">Donnor Institute</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for accession in accessions %}
                                <tr>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.taxon }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.accenumb }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.accename }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.puid }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.origcty }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.collsrc }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.sampstat }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.mlsStatus }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.collnumb }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.collcode }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.bredcode }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.instcode }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.maintainernumb }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.storage }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.donornumb }}</a></td>
                                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.donorcode }}</a></td>
                                    <td>
                                        <a href="{{ path('accession_details', {id: accession.id}) }}"><button class="btn btn-outline-primary">View</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No accession has been provided in our system</h5>
                {% endif %}     
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="{{ asset('assets/js1/vendor/jquery.slim.min.js') }}"><\/script>')</script>
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables JavaScript -->
    <script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
