{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Pedigree Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: pedigree.createdBy.id}) }}">{{ pedigree.createdBy }}</a>
							</span>
							<span>On: {{ pedigree.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('pedigree_delete', {id: pedigree.id}) }}" class="changeStatusLink" id="{{ pedigree.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ pedigree.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("pedigree_edit", pedigree) %}
							<a href="{{ path('pedigree_edit', {id: pedigree.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Pedigree Basic Information</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Pedigree Entry ID: </label>
							<span class="tomato-color font-weight-bold">{{ pedigree.pedigreeEntryID}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Ancestor Entry ID: </label>
							<span class="tomato-color font-weight-bold">{{ pedigree.pedigreeAncestorEntryId}}</span>
						</div>

					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Generation & Cross</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Generation: </label>
						<a href="{{ path('generation_details', {id: pedigree.generation.id}) }}">
							<span class="tomato-color font-weight-bold">{{ pedigree.generation.name }}</span>
						</a>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Name: </label>
						<a href="{{ path('cross_details', {id: pedigree.pedigreeCross.id}) }}">
							<span class="tomato-color font-weight-bold">{{ pedigree.pedigreeCross.name }}</span>
						</a>
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>	
		</div>

		<div class="row mt-3">
			<div class="col-xl-6 col-lg-5 mr-auto">
				{# germplasm #}
				{% if pedigree.germplasm | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ pedigree.germplasm | length == 1 ? 'Related Germplasm Summary' : 'Related Germplasms Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ pedigree.germplasm | length }}</span>
					</h4>

					<table id="datatable_germplasm" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Germplas ID</th>
								<th>Maintainer Numb</th>
								<th>Program</th>
							</tr>
						</thead>
						<tbody>
							{% for germplasm in pedigree.germplasm %}
								<tr>
									<td>
										<strong class="text-muted">
											<a href="{{ path('germplasm_details', {id: germplasm.id}) }}">{{ germplasm.germplasmID }}</a>
										</strong>
									</td>

									<td>
										{% if germplasm.accession %}
											<strong class="text-muted">
												<a href="{{ path('accession_details', {id: germplasm.accession.id}) }}">{{ germplasm.maintainerNumb }}</a>
											</strong>
										{% endif %}
									</td>

									<td>
										<strong class="text-muted">
											{% if germplasm.program %}
												<a href="{{ path('program_details', {id: germplasm.program.id}) }}"><span class="tomato-color font-weight-bold">{{ germplasm.program.abbreviation }} </span></a>
											{% endif %}
										</strong>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
			
		</div>

	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_germplasm').DataTable();
        } );
    </script>
{% endblock %}
