{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if pedigrees | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold">Pedigree List</h2>
                    <div class="table-responsive"> 
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Pedigree Entry ID</th>
                                <th scope="col">Germplasm</th>
                                <th scope="col">Generation</th>
                                <th scope="col">Ancestor Entry ID</th>
                                <th scope="col">Cross</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pedigree in pedigrees %}
                                    <tr>
                                        <td>{{ pedigree.pedigreeEntryID }}</td>
                                        <td>
                                            {% if pedigree.germplasm | length > 0 %}
                                                <a href="{{ path('germplasm_details', {id: pedigree.germplasm[0].id}) }}">{{ pedigree.germplasm[0] }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if pedigree.generation %}
                                                <a href="{{ path('generation_details', {id: pedigree.generation.id}) }}">{{ pedigree.generation }}</a>
                                        {% endif %}
                                        </td>

                                        <td>
                                            {{ pedigree.pedigreeAncestorEntryId }}
                                        <td>
                                            {% if pedigree.pedigreeCross %}
                                                <a href="{{ path('cross_details', {id: pedigree.pedigreeCross.id}) }}">{{ pedigree.pedigreeCross }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('pedigree_details', {id: pedigree.id}) }}"><button class="btn btn-outline-primary">Details</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No pedigree has been provided in our system</h5>
                {% endif %}     
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
