{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% if qtlEpistasisEffects | length > 0 %}
					{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
						{% for message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">QTL Epistasis List</h2>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">QTL Variant 1</th>
									<th scope="col">QTL Variant 2</th>
									<th scope="col">Epistatistic Epi</th>
									<th scope="col">R2 Epi</th>
									<th scope="col">Add Epi</th>
									<th scope="col">R2 Add</th>
									<th scope="col">Epistatistic Add</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for qtlEpistasisEffect in qtlEpistasisEffects %}
									<tr>
										<td>
											<a href="{{ path('qtl_variant_details', {id: qtlEpistasisEffect.qtlVariant1.id}) }}">
												{{ qtlEpistasisEffect.qtlVariant1 }}
											</a>
										</td>
										<td>
											<a href="{{ path('qtl_variant_details', {id: qtlEpistasisEffect.qtlVariant2.id}) }}">
												{{ qtlEpistasisEffect.qtlVariant2 }}
											</a>
										</td>
										<td>
											{{ qtlEpistasisEffect.epistatisticEpi }}
										</td>
										<td>
											{{ qtlEpistasisEffect.r2Epi }}
										</td>
										<td>
											{{ qtlEpistasisEffect.addEpi }}
										</td>
										<td>
											{{ qtlEpistasisEffect.r2Add }}
										</td>
										<td>
											{{ qtlEpistasisEffect.epistatisticAdd }}
										</td>
										<td>
											<a href="#">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No QTL epistasis has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
