{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		
		<!-- .row -->
		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Variant Set Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: variantSet.createdBy.id}) }}">{{ variantSet.createdBy }}</a>
							</span>
							<span>On: {{ variantSet.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('variant_set_delete', {id: variantSet.id}) }}" class="changeStatusLink" id="{{ variantSet.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ variantSet.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("variant_set_edit", variantSet) %}
							<a href="{{ path('variant_set_edit', {id: variantSet.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Variant Set Basic Information</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Sample Name: </label>
							<span class="tomato-color font-weight-bold">{{ variantSet.sample}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Value: </label>
							<span class="tomato-color font-weight-bold">{{ variantSet.value}}</span>
						</div>
					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Marker & Variant Set Metada</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Marker: </label>
						{% if variantSet.marker %}
							<a href="{{ path('marker_details', {id: variantSet.marker.id}) }}">
								<span class="tomato-color font-weight-bold">{{ variantSet.marker }}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Variant Set Metadata: </label>
						{% if variantSet.variantSetMetadata %}
							<a href="{{ path('variant_set_metadata_details', {id: variantSet.variantSetMetadata.id}) }}">
								<span class="tomato-color font-weight-bold">{{ variantSet.variantSetMetadata }}</span>
							</a>
						{% endif %}
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_gwas, #datatable_variant_set').DataTable();
        } );
    </script>
{% endblock %}
