{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 order-md-1">
				<h2 class="mb-3 text-center tomato-color font-weight-bold">Variant Set Edition</h2>
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{{ form_start(variantSetForm) }}
				<div class="row">
					<div class="col-md-6 mb-3">
						{{ form_row
                                        (variantSetForm.sample,
                                            { label: "Sample",
                                            'attr': {'placeholder': "Select the sample",
                                            'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
					</div>
					<div class="col-md-6 mb-3">
						{{ form_row
                                        (variantSetForm.marker,
                                            { label: "Marker",
                                            'attr': {'placeholder': "Select the metabolite",
                                            'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-3">
						{{ form_row
                                        (variantSetForm.variantSetMetadata,
                                            { label: "Variant Set Metadata",
                                            'attr': {'placeholder': "Select the sample",
                                            'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
					</div>
					<div class="col-md-6 mb-3">
						{{ form_row
                                        (variantSetForm.value,
                                            { label: "Value",
                                            'attr': {'placeholder': "Enter the value"}
                                            }
                                        )
                                    }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Update</button>
					</div>

					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
					</div>
				</div>
				{{ form_end(variantSetForm) }}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}
