{% extends 'base.html.twig' %}

{% form_theme studyForm _self %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="{{ form.vars.id }}_list" value="{{ form.vars.value }}" />
    <datalist id="{{ form.vars.id }}_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
	<input type="hidden" name={{ form.vars.full_name }} id="{{ form.vars.id }}_hidden">
    </datalist>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">New Study</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(studyForm) }}
                            <div>
                                {{ form_row
                                        (studyForm.name,
                                            { label: "Name *",
                                                'attr': {'placeholder': "Enter the study name"}
                                            })
                                }}
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                            (studyForm.abbreviation,
                                            { label: "Abbreviation",
                                                'attr': {'placeholder': "Enter the study abbreviation"}
                                            })
                                }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                    (studyForm.startDate,
                                        { label: "Start date",
                                        'attr': {'placeholder': "Enter the study start date"}
                                        }
                                    )
                                }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                    (studyForm.endDate,
                                        { label: "End date",
                                        'attr': {'placeholder': "Enter the study end date"}
                                        }
                                    )
                                }}
                                </div>
                            </div>
                            <div>
                                {{ form_row
                                    (studyForm.description,
                                        { label: "Description",
                                        'attr': {'placeholder': "Enter the study description"}
                                        }
                                    )
                                }}
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.factor,
                                            { label: "Factor",
                                            'attr': {
                                                'placeholder': "Select the study crop",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.season,
                                            { label: "Season",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.institute,
                                            { label: "Institute",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.location,
                                            { label: "Location",
                                            'attr': {
                                                'placeholder': "Select the study crop",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.growthFacility,
                                            { label: "GrowthFacility",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.parameter,
                                            { label: "Parameter",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.experimentalDesignType,
                                            { label: "Experimerimental design type",
                                            'attr': {
                                                'placeholder': "Select the study crop",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.trial,
                                            { label: "Trial",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.culturalPractice,
                                            { label: "Cultural practice",
                                            'attr': {
                                                'placeholder': "Enter the cultural practice",
                                                }
                                            }
                                        )
                                    }}
                                </div>
                            </div>

                            <div>
                                {{ form_row
                                    (studyForm.germplasms,
                                        { label: "Germplasms (You can select several germplasms)",
                                        'attr': {'placeholder': "Select the related germplasm(s)"}
                                        }
                                    )
                                }}
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Create</button>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
                                </div>
                            </div>
                        {{ form_end(studyForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<script src="{{ asset('assets/js/bootstrap4-toggle.min.js') }}"></script>
<script src="{{ asset('assets/axios/axios.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

<script>
    $(document).ready(function(){
		document.querySelector('input[list]').addEventListener('input', function(e) {
			var input = e.target,
				list = input.getAttribute('list'),
				options = document.querySelectorAll('#' + list + ' option'),
				hiddenInput = document.getElementById(input.getAttribute('id') + '_hidden'),
				inputValue = input.value;

			hiddenInput.value = inputValue;

			for(var i = 0; i < options.length; i++) {
				var option = options[i];
				// do not use innerText as it returns other caracter thans the text value itself
				if(option.text === inputValue) {
					hiddenInput.value = option.getAttribute('data-value');
					break;
				}
			}
		});
    });
</script>
{% endblock %}