{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1 mb-3">
				<h2 class="mb-3 text-center tomato-color font-weight-bold">Details</h2>
				<div class="row">
                    <div class="col-xl-3 col-lg-2 mb-3">
                        <div class="card">
							<div class="card-header">
								<h3 class="font-weight-bold tomato-color">Study Basic Information</h3>
							</div>
							<div class="card-body">
								<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Abbreviation: </label>
								<span class="tomato-color font-weight-bold">{{ study.abbreviation}}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Name: </label>
								<span class="tomato-color font-weight-bold">{{ study.name}}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Description: </label>
								<span class="tomato-color font-weight-bold">{{ study.description}}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Start Date: </label>
								{% if study.startDate %}
									<span class="tomato-color font-weight-bold">{{ study.startDate | date('m/d/Y') }}</span>
								{% endif %}
							</div>
							
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">End Date </label>
								{% if study.endDate %}
									<span class="tomato-color font-weight-bold">{{ study.endDate | date('m/d/Y') }}</span>
								{% endif %}
							</div>
							
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Trial: </label>
								<a href="{{ path('trial_details', {id:study.trial.id}) }}"><span class="tomato-color font-weight-bold">{{ study.trial}}</span></a>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Factor: </label>
								<span class="tomato-color font-weight-bold">{{ study.factor}}</span>
							</div>
							
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Season: </label>
								<span class="tomato-color font-weight-bold">{{ study.season}}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Institute: </label>
								{% if study.institute %}
									<a href="{{ path('institute_details', {id:study.institute.id}) }}"><span class="tomato-color font-weight-bold">{{ study.institute}}</span></a>
								{% endif %}
							</div>
								
							</div>
							<div class="card-footer text-muted">
								
							</div>
						</div>
                    </div>

					<div class="col-xl-3 col-lg-2 mb-3">
                        <div class="card">
							<div class="card-header">
								<h3 class="font-weight-bold tomato-color">Study Location Information</h3>
							</div>
							<div class="card-body">
								<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Abbreviation: </label>
								{% if study.location %}
									<span class="tomato-color font-weight-bold">{{ study.location.abbreviation}}</span>
								{% endif %}
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Name: </label>
								<span class="tomato-color font-weight-bold">{{ study.location}}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Country: </label>
								{% if study.location %}
									<span class="tomato-color font-weight-bold">{{ study.location.country}}</span>
								{% endif %}
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Longitude: </label>
								{% if study.location %}
									<span class="tomato-color font-weight-bold">{{ study.location.longitudeCo}}</span>
								{% endif %}
							</div>
							
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Latitude </label>
								{% if study.location %}
									<span class="tomato-color font-weight-bold">{{ study.location.latitudeCo}}</span>
								{% endif %}
							</div>
							
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Altitude: </label>
								{% if study.location %}
									<span class="tomato-color font-weight-bold">{{ study.location.latitudeCo}}</span>
								{% endif %}
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Site Status: </label>
								{% if study.location %}
									<span class="tomato-color font-weight-bold">{{ study.location.siteStatus}}</span>
								{% endif %}
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Growth Facility Type: </label>
								<span class="tomato-color font-weight-bold">{{ study.growthFacility}}</span>
							</div>
							
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Growth Facility Description: </label>
								<span class="tomato-color font-weight-bold">{{ study.GrowthFacilityDescription}}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Cultural Practices: </label>
								<span class="tomato-color font-weight-bold">{{ study.CulturalPractice }}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Parameters: </label></br>
								<span class="tomato-color font-weight-bold">
								{% if study.parameterValue %}
									{% for one in study.parameterValue %}
										<b>{{ loop.index }})</b> {{ one.parameter.name }} = {{ one.value }} </br>
									{% endfor %}
								{% endif %}
								</span>
							</div>
								
							</div>
							<div class="card-footer text-muted">
								
							</div>
						</div>
                    </div>

					<div class="col-xl-3 col-lg-2 mb-3">
                        <div class="card">
							<div class="card-header">
								<h3 class="font-weight-bold tomato-color">Experimental Design Information</h3>
							</div>
							<div class="card-body">
								<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Experimental Design: </label>
								<span class="tomato-color font-weight-bold">{{ study.experimentalDesignType }}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Experimental Design Description: </label>
								<span class="tomato-color font-weight-bold">{{ study.experimentalDesignDescription }}</span>
							</div>

							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Observation Unit Description: </label>
								<span class="tomato-color font-weight-bold">{{ study.observationUnitsDescription}}</span>
							</div>

							</div>
							<div class="card-footer text-muted">
								
							</div>
						</div>
                    </div>

					{% if is_granted("study_edit", study) %}
						<div class="col-xl-2 col-lg-1 mb-3">
							<div class="card">
								<div class="card-header">
									<h3 class="font-weight-bold tomato-color">Admin</h3>
								</div>
								{% if is_granted("ROLE_ADMIN") %}
									<div class="card-body">
										<div class="col-xl-12 col-lg-11 mb-1">
										<label for="validationTooltip01">Status: </label>
										<span class="tomato-color font-weight-bold">
											<a href="{{ path('study_delete', {id: study.id}) }}" class="changeStatusLink" id="{{ study.id }}">
												<span class="changeStatusSpan">
													<input type="checkbox" {{ study.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
												</span>
											</a>
										</span>
									</div>
								{% endif %}

								<div class="col-xl-12 col-lg-11 mb-1">
									<label for="validationTooltip01">Edit: </label>
									<span class="tomato-color font-weight-bold">
										<a href="{{ path('study_edit', {id: study.id}) }}">
											<button class="btn btn-outline-warning">Edit</button>
										</a>
									</span>
								</div>

								</div>
								<div class="card-footer text-muted">
									
								</div>
							</div>
						</div>
					{% endif %}

                </div>

			</div>

		</div>
		<!-- .row -->
		{# Start of row #}
		<div class="row">
			{% if study.gwas | length > 0 %}
				<div class="col-xl-5 col-lg-4 mb-3 mt-1">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="tomato-color">Related GWAS Summary</span>
						<span class="badge badge-danger badge-pill">{{ study.gwas | length }}</span>
					</h4>

					<table id="datatable_gwas" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>GWAS Name ID</th> 
								<th>Software</th>
								<th>GWAS Model</th>
							</tr>
						</thead>
						<tbody>
							{% for oneGWAS in study.gwas %}
								<tr>
									<td>
										<strong class="text-muted">
											<a href="{{ path('gwas_details', {id: oneGWAS.id}) }}">{{ oneGWAS.name }}</a>
										</strong>
									</td>
									<td>
										{% if oneGWAS.software %}
											<strong class="text-muted">
												<a href="{{ path('software_details', {id: oneGWAS.software.id}) }}">
													{{ oneGWAS.software }}
												</a>
											</strong>
										{% endif %}
									</td>
									<td>
										{% if oneGWAS.gwasModel %}
											<strong class="text-muted">
												<a href="{{ path('gwas_model_details', {id: oneGWAS.gwasModel.id}) }}">{{ oneGWAS.gwasModel }}</a>
											</strong>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}

			{% if study.germplasms | length > 0 %}
				<div class="col-xl-6 col-lg-5 mb-3 mt-4">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="tomato-color">{{ study.germplasms | length == 1 ? 'Related Germplasm Summary' : 'Related Germplasms Summary' }}</span>
						<span class="badge badge-danger badge-pill">{{ study.germplasms | length }}</span>
					</h4>
					<table id="datatable_germ" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Germplasm ID</th> 
								<th>INSTCODE</th>
								<th>Accession Maintainer Number</th>
							</tr>
						</thead>
						<tbody>
							{% for oneGermplasm in study.germplasms %}
								<tr>
									<td>
										{% if oneGermplasm.germplasmID %}
											<strong class="text-muted">
												<a href="{{ path('germplasm_details', {id: oneGermplasm.id}) }}">{{ oneGermplasm.germplasmID }}</a>
											</strong>
										{% endif %}
									</td>
									<td>
										{% if oneGermplasm.accession.instcode %}
											<strong class="text-muted">
												<a href="{{ path('institute_details', {id: oneGermplasm.accession.instcode.id}) }}">
													{{ oneGermplasm.accession.instcode.acronym }}
												</a>
											</strong>
										{% endif %}
									</td>
									<td>
										{% if oneGermplasm.accession %}
											<strong class="text-muted">
												<a href="{{ path('accession_details', {id: oneGermplasm.accession.id}) }}">{{ oneGermplasm.accession }}</a>
											</strong>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}
		</div>
		{# End of row #}
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_gwas, #datatable_germ').DataTable();
        } );
    </script>
{% endblock %}
