{% extends 'base.html.twig' %}

{% form_theme studyForm _self %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="{{ form.vars.id }}_list" value="{{ form.vars.value }}" />
    <datalist id="{{ form.vars.id }}_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
	<input type="hidden" name={{ form.vars.full_name }} id="{{ form.vars.id }}_hidden">
    </datalist>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">Study Edition</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(studyForm) }}
                            <div>
                                {{ form_row
                                        (studyForm.name,
                                            { label: "Name *",
                                                'attr': {'placeholder': "Enter the study name"}
                                            })
                                }}
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                            (studyForm.abbreviation,
                                            { label: "Abbreviation",
                                                'attr': {'placeholder': "Enter the study abbreviation"}
                                            })
                                }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                    (studyForm.startDate,
                                        { label: "Start date",
                                        'attr': {'placeholder': "Enter the study start date"}
                                        }
                                    )
                                }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                    (studyForm.endDate,
                                        { label: "End date",
                                        'attr': {'placeholder': "Enter the study end date"}
                                        }
                                    )
                                }}
                                </div>
                            </div>
                            <div>
                                {{ form_row
                                    (studyForm.description,
                                        { label: "Description",
                                        'attr': {'placeholder': "Enter the study description"}
                                        }
                                    )
                                }}
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.factor,
                                            { label: "Factor",
                                            'attr': {
                                                'placeholder': "Select the study crop",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.season,
                                            { label: "Season",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.institute,
                                            { label: "Institute",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.location,
                                            { label: "Location",
                                            'attr': {
                                                'placeholder': "Select the study crop",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.growthFacility,
                                            { label: "GrowthFacility",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div>
                                        <div>
                                            {# the data-index attribute is required for the JavaScript code below #}
                                            <ul class="tags" data-index="{{ studyForm.extra|length > 0 ? studyForm.extra|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(studyForm.extra.vars.prototype)|e('html_attr') }}">
                                            
                                            {# {{ studyForm[0] }} #}
                                            
                                            {% for paramValue in studyForm.extra %}
                                                <li>
                                                {{ form_errors(paramValue) }}
                                                {{ form_widget(paramValue) }}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                        <button type="button"
                                            class="btn btn-outline-info mb-3 add_item_link"
                                            data-collection-holder-class="tags">
                                            Add Parameter Value
                                        </button>
                                    </div>

                                </div>
                            </div>

                            <div>
                                {{ form_row
                                    (studyForm.growthFacilityDescription,
                                        { label: "Growth Facility Description",
                                        'attr': {'placeholder': "Enter the growth facility description"}
                                        }
                                    )
                                }}
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.experimentalDesignType,
                                            { label: "Experimerimental design type",
                                            'attr': {
                                                'placeholder': "Select the study crop",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>

                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.trial,
                                            { label: "Trial",
                                            'attr': {
                                                'placeholder': "Select the study contact",
                                                'class': "custom-select d-block w-100"}
                                            }
                                        )
                                    }}
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    {{ form_row
                                        (studyForm.culturalPractice,
                                            { label: "Cultural practice",
                                            'attr': {
                                                'placeholder': "Enter the cultural practice",
                                                }
                                            }
                                        )
                                    }}
                                </div>
                            </div>

                            <div>
                                {{ form_row
                                    (studyForm.experimentalDesignDescription,
                                        { label: "Experimental Design Description",
                                        'attr': {'placeholder': "Enter the experimental design description"}
                                        }
                                    )
                                }}
                            </div>

                            <div>
                                {{ form_row
                                    (studyForm.observationUnitsDescription,
                                        { label: "Observation Unit Description",
                                        'attr': {'placeholder': "Enter the observation unit description"}
                                        }
                                    )
                                }}
                            </div>

                            <div class="row">
                                {% include 'resource/btn_update.html.twig' %}
                            </div>
                        {{ form_end(studyForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    
    <script src="{{ asset('assets/js/add-remove-collection-tag-widget.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('assets/nl/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

    <script src="{{ asset('assets/nl/js/jquery-match-height-0.7.2.min.js') }}"></script>
    <script src="{{ asset('assets/nl/js/main.js') }}"></script>

    <script src="{{ asset('assets/js/datalist_widget.js') }}"></script>
{% endblock %}