{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-xl-12 col-lg-11">
                {% if studies | length > 0 %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold tomato-color">Study List</br>
								<small>Private data are not shown unless they are shared with you.</small>
							</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Graph View:</div>
                                    <a class="dropdown-item" href="#">Most Study By Country</a>
                                    <a class="dropdown-item" href="#">Most Study By Institute</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Most Study By ...</a>
                                </div>
                            </div>
                        </div>
					    <div class="card-body">
                            <div class="table-responsive"> 
                                <table id="datatable" class="table table-hover text-nowrap" width="100%">
                                    <thead class="table-dark">
                                        <tr>
                                        <th scope="col">Abbreviation</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Trial</th>
                                        <th scope="col">Experimental Factor</th>
                                        <th scope="col">GrowthFacility</th>
                                        <th scope="col">Experimental Design</th>
                                        <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for study in studies %}
                                            <tr>
                                                <td>
                                                    {{ study.abbreviation }}
                                                </td>
                                                <td>
                                                    {{ study.name }}
                                                </td>
                                                <td>
                                                    {% if study.trial %}
                                                        <a href="{{ path('trial_details', {id: study.trial.id}) }}">{{ study.trial.abbreviation }}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if study.factor %}
                                                        <a href="{{ path('factor_type_details', {id: study.factor.id}) }}">{{ study.factor }}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if study.growthFacility %}
                                                        <a href="{{ path('growth_facility_type_details', {id: study.growthFacility.id}) }}">{{ study.growthFacility }}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if study.experimentalDesignType %}
                                                        <a href="{{ path('experimental_design_details', {id: study.experimentalDesignType.id}) }}">{{ study.experimentalDesignType }}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('study_details', {id: study.id}) }}"><button class="btn btn-outline-primary">Details</button></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No study has been provided in our system</h5>
                {% endif %}
		    </div>
        </div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
