{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
	<!-- DataTables CSS -->
	<link
	href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if germplasmStudyImages | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold">Germplasm Study Image List</h2>
                    <div class="table-responsive"> 
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Germplasm ID</th>
                                <th scope="col">Study ID</th>
                                <th scope="col">Description</th>
                                <th scope="col">Factor Type</th>
                                <th scope="col">Development Stage</th>
                                <th scope="col">Plant Anatomical Entity</th>
                                <th scope="col">Image(s)</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No germplasm study image has been provided in our system</h5>
                {% endif %}     
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>

    <script>
        let data = [
                {% for germplasmStudyImage in germplasmStudyImages %}
                    {
                    germplasmID: "{{ germplasmStudyImage.germplasmID }}</a>",
                    StudyID: "{% if germplasmStudyImage.StudyID %}<a href={{ path('study_details', {id: germplasmStudyImage.StudyID.id}) }}>{{ germplasmStudyImage.StudyID.abbreviation }}</a>{% endif %}",
                    description: "{{ germplasmStudyImage.description }}</a>",
                    factor: "{% if germplasmStudyImage.factor %}<a href={{ path('factor_type_details', {id: germplasmStudyImage.factor.id}) }}>{{ germplasmStudyImage.factor }}</a>{% endif %}",
                    developmentStage: "{% if germplasmStudyImage.developmentStage %}<a href={{ path('developmental_stage_details', {id: germplasmStudyImage.developmentStage.id}) }}>{{ germplasmStudyImage.developmentStage }}</a>{% endif %}",
                    plantAnatomicalEntity: "{% if germplasmStudyImage.plantAnatomicalEntity %}<a href={{ path('anatomical_entity_details', {id: germplasmStudyImage.plantAnatomicalEntity.id}) }}>{{ germplasmStudyImage.plantAnatomicalEntity }}</a>{% endif %}",
                    filename: "<a href={{ path('germplasm_study_image_details', {id: germplasmStudyImage.id}) }}><img src={{ asset('uploads/images/traditom_exp_photos/exp_photos/' ~ germplasmStudyImage.filename ) }} width='50%' alt='' class='logo' /></a>",
                    action: "<a href={{ path('germplasm_study_image_details', {id: germplasmStudyImage.id}) }}><button class='btn btn-outline-primary'>Details</button></a>"
                    },
                {% endfor %}
            ];
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "bDestroy": true,
                "pageLength": 25,
                data: data,
                columns: [
                    { data: 'germplasmID'},
                    { data: 'StudyID'},
                    { data: 'description'},
                    { data: 'factor'},
                    { data: 'developmentStage'},
                    { data: 'plantAnatomicalEntity'},
                    { data: 'filename'},
                    { data: 'action'}
                ]
            } );
        } );
    </script>
{% endblock %}

