{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            {% if scales | length > 0 %}
                                <h1 class="tomato-color">Scale List</h1>
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Data Type</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for scale in scales %}
                                    <tr>
                                        <td><a href="{{ path('scale_details', {id: scale.id}) }}">{{ scale.name }}</a></td>
                                        <td><a href="{{ path('scale_details', {id: scale.id}) }}">{{ scale.description }}</a></td>
                                        <td><a href="{{ path('scale_details', {id: scale.id}) }}">{{ scale.scaleCategory }}</a></td>
                                        <td><a href="{{ path('scale_details', {id: scale.id}) }}">{{ scale.dataType }}</a></td>
                                        <td><a href="{{ path('scale_details', {id: scale.id}) }}">{{ scale.Unit }}</a></td>
                                        <td>
                                            <a href="{{ path('scale_details', {id: scale.id}) }}"><button class="btn btn-outline-primary">View</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %} 
                                <p class="tomato-color">No scale has been provided in our system</p>
                            {% endif %}
                        </tbody>
                        </table>
                     
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
