{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<!-- .row -->
		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Sample Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: observationLevel.createdBy.id}) }}">{{ observationLevel.createdBy }}</a>
							</span>
							<span>On: {{ observationLevel.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('observation_level_delete', {id: observationLevel.id}) }}" class="changeStatusLink" id="{{ observationLevel.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ observationLevel.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("observation_level_edit", observationLevel) %}
							<a href="{{ path('observation_level_edit', {id: observationLevel.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		{# object related row #}
		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Germplasm, Unit & Study</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Germplasm ID: </label>
							{% if observationLevel.germaplasm %}
								<a href="{{ path('germplasm_details', {id: observationLevel.germaplasm.id}) }}">
									<span class="tomato-color font-weight-bold">{{ observationLevel.germaplasm}}</span>
								</a>
							{% endif %}
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Unit Name: </label>
							<span class="tomato-color font-weight-bold">{{ observationLevel.unitname }}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Study: </label>
							{% if observationLevel.study %}
								<a href="{{ path('study_details', {id: observationLevel.study.id}) }}">
									<span class="tomato-color font-weight-bold">{{ observationLevel.study }}</span>
								</a>
							{% endif %}
						</div>
					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Block Coordinate & Position</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Block Number: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.blockNumber}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Sub Block Number: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.subBlockNumber}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Plot Number: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.plotNumber}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Plant Number: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.plantNumber}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Replicate: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.replicate}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Unit Position: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.unitPosition}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Coordinate X: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.unitCoordinateX}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Coordinate X Type: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.unitCoordinateXType}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Coordinate Y: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.unitCoordinateY}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Coordinate Y Type: </label>
						<span class="tomato-color font-weight-bold">{{ observationLevel.unitCoordinateYType}}</span>
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>
		</div>
{{ observationLevel.samples | length  }}
		<div class="row mt-3">
			<div class="col-xl-5 col-lg-4 mr-auto">
				{# Trial #}
				{% if observationLevel.samples | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ observationLevel.samples | length == 1 ? 'Related Sample Summary' : 'Related Samples Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ observationLevel.samples | length }}</span>
					</h4>

					<table id="datatable_sample" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Name</th>
								<th>Study</th>
								<th>Developmental Stage</th>
								<th>Anatomical Entity</th>
							</tr>
						</thead>
						<tbody>
							{% for sample in observationLevel.samples %}
								<tr>
									<td>
										<strong class="text-muted">
											{{ sample.name }}
										</strong>
									</td>

									<td>
										{% if sample.study %}
											<strong class="text-muted">
												<a href="{{ path('study_details', {id: sample.study.id}) }}">{{ sample.study.abbreviation }}</a>
											</strong>
										{% endif %}
									</td>

									<td>
										{% if sample.developmentalStage %}
											<strong class="text-muted">
												<a href="{{ path('developmental_stage_details', {id: sample.developmentalStage.id}) }}">{{ sample.developmentalStage }}</a>
											</strong>
										{% endif %}
									</td>

									<td>
										{% if sample.anatomicalEntity %}
											<strong class="text-muted">
												<a href="{{ path('anatomical_entity_details', {id: sample.anatomicalEntity.id}) }}">{{ sample.anatomicalEntity }}</a>
											</strong>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>

			<div class="col-xl-5 col-lg-4 mr-auto">
				{# Trial #}
				{% if observationLevel.observationValueOriginals | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ observationLevel.observationValueOriginals | length == 1 ? 'Related Related Observation Value Summary' : 'Related Observation Values Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ observationLevel.observationValueOriginals | length }}</span>
					</h4>

					<table id="datatable_obsVal" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Observation Variable Name</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							{% for obsVal in observationLevel.observationValueOriginals %}
								<tr>
									<td>
										<strong class="text-muted">
											<a href="{{ path('observation_variable_details', {id: obsVal.observationVariableOriginal.id}) }}">{{ obsVal.observationVariableOriginal }}</a>
										</strong>
									</td>

									<td>
										<strong class="text-muted">
											{{ obsVal.value }}
										</strong>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
			
		</div>
		
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_sample, #datatable_obsVal').DataTable();
        } );
    </script>
{% endblock %}