{% extends 'base.html.twig' %}

{% form_theme observationLevelForm _self %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="observation_level_germaplasm_list" value="{{ form.vars.value }}" />
    <datalist id="observation_level_germaplasm_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="observation_level[germplasm]" id="observation_level_germaplasm_hidden">
    </datalist>
{% endblock %}

{% block datalist1_widget %}
    <input {{ block('widget_attributes') }} list="observation_level_study_list" value="{{ form.vars.value }}" />
    <datalist id="observation_level_study_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="observation_level[study]" id="observation_level_study_hidden">
    </datalist>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">Observation Level Edition</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(observationLevelForm) }}
							<div class="row">
								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.name, {label: "Name", 'attr': {'placeholder' : 'Enter the name'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.blockNumber, {label: "Block Number", 'attr': {'placeholder' : 'Enter the block number'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.subBlockNumber, {label: "Sub Block Number", 'attr': {'placeholder' : 'Enter the sub block number'}}) }}
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.plotNumber, {label: "Plot Number", 'attr': {'placeholder' : 'Enter the plot number'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.plantNumber, {label: "Plant Number", 'attr': {'placeholder' : 'Enter the plant number'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.replicate, {label: "Replicate", 'attr': {'placeholder' : 'Enter the replicate'}}) }}
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.unitPosition, {label: "Unit Position", 'attr': {'placeholder' : 'Enter the unit position'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.unitCoordinateX, {label: "Unit Coordinate X", 'attr': {'placeholder' : 'Enter the Unit Coordinate X'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.unitCoordinateY, {label: "Unit Coordinate Y", 'attr': {'placeholder' : 'Enter the Unit Coordinate Y'}}) }}
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.unitname, {label: "Unit Name", 'attr': {'placeholder' : 'Enter the unit name'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.unitCoordinateXType, {label: "Unit Coordinate X Type", 'attr': {'placeholder' : 'Enter the Unit Coordinate X Type'}}) }}
								</div>

								<div class="col-md-4 mb-3">
									{{ form_row(observationLevelForm.unitCoordinateYType, {label: "Unit Coordinate Y Type", 'attr': {'placeholder' : 'Enter the Unit Coordinate Y Type'}}) }}
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 mb-3">
									{{ form_row(observationLevelForm.germplasm, {label: "Germplasm", 'attr': {'placeholder' : 'Select the germplasm',
													'class': "custom-select d-block w-100"}}) }}
								</div>

								<div class="col-md-6 mb-3">
									{{ form_row(observationLevelForm.study, {label: "Study", 'attr': {'placeholder' : 'Select the study',
													'class': "custom-select d-block w-100"}}) }}
								</div>
							</div>
							<div class="row">
								{% include 'resource/btn_update.html.twig' %}
							</div>
							{{ form_end(observationLevelForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/create_edit_js.html.twig' %}
{% endblock %}
