{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if observationLevels | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">Observation Level List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Germplasm</th>
									<th scope="col">Unit Name</th>
									<th scope="col">Observation Level</th>
									<th scope="col">Block Number</th>
									<th scope="col">Sub-block Number</th>
									<th scope="col">Plot Number</th>
									<th scope="col">Plant Number</th>
									<th scope="col">Replicate</th>
									<th scope="col">Trial</th>
									<th scope="col">Study</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No observation level entity has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}

<script>
	let data = [
			{% for observationLevel in observationLevels %}
				{
				germaplasm: "{% if observationLevel.germaplasm %}<a href={{ path('germplasm_details', {id: observationLevel.germaplasm.id}) }}>{{ observationLevel.germaplasm }}</a>{% endif %}",
				unitname: "{{ observationLevel.unitname }}",
				name: "{{ observationLevel.name }}",
				blockNumber: "{{ observationLevel.blockNumber }}",
				subBlockNumber: "{{ observationLevel.subBlockNumber }}",
				plotNumber: "{{ observationLevel.plotNumber }}",
				plantNumber: "{{ observationLevel.plantNumber }}",
				replicate: "{{ observationLevel.replicate }}",
				trial: "{% if observationLevel.study.trial %}<a href={{ path('trial_details', {id: observationLevel.study.trial.id}) }}>{{ observationLevel.study.trial.abbreviation }}</a>{% endif %}",
				study: "{% if observationLevel.study %}<a href={{ path('study_details', {id: observationLevel.study.id}) }}>{{ observationLevel.study.abbreviation }}</a>{% endif %}",
				action: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}><button class='btn btn-outline-primary'>Details</button></a>"
				},
			{% endfor %}
		];
    $(document).ready(function() {
		$('#datatable').DataTable( {
            "bDestroy": true,
            "pageLength": 25,
            data: data,
            columns: [
                { data: 'germaplasm'},
                { data: 'unitname'},
                { data: 'name'},
				{ data: 'blockNumber'},
                { data: 'subBlockNumber'},
				{ data: 'plotNumber'},
				{ data: 'plantNumber'},
				{ data: 'replicate'},
				{ data: 'trial'},
				{ data: 'study'},
				{ data: 'action'}
            ]
        } );
    } );
</script>
{% endblock %}