{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if observationLevels | length > 0 %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">Observation Level List</h2>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Germplasm</th>
									<th scope="col">Unit Name</th>
									<th scope="col">Observation Level</th>
									<th scope="col">Block Number</th>
									<th scope="col">Sub-block Number</th>
									<th scope="col">Plot Number</th>
									<th scope="col">Plant Number</th>
									<th scope="col">Replicate</th>
									<th scope="col">Trial</th>
									<th scope="col">Study</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No observation level entity has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
	window.jQuery || document.write('<script src=" {{ asset('assets/js1/vendor/jquery.slim.min.js') }}"><\/script>')
</script>
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables JavaScript -->
<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

<script>
	let data = [
			{% for observationLevel in observationLevels %}
				{
				germaplasm: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.germaplasm }}</a>",
				unitname: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.unitname }}</a>",
				name: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.name }}</a>",
				blockNumber: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.blockNumber }}</a>",
				subBlockNumber: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.subBlockNumber }}</a>",
				plotNumber: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.plotNumber }}</a>",
				plantNumber: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.plantNumber }}</a>",
				replicate: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.replicate }}</a>",
				trial: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.study.trial.abbreviation }}</a>",
				study: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}>{{ observationLevel.study }}</a>",
				action: "<a href={{ path('observation_level_details', {id: observationLevel.id}) }}><button class='btn btn-outline-primary'>View</button></a>"
				},
			{% endfor %}
		];
    $(document).ready(function() {
		$('#datatable').DataTable( {
            "bDestroy": true,
            "pageLength": 25,
            data: data,
            columns: [
                { data: 'germaplasm'},
                { data: 'unitname'},
                { data: 'name'},
				{ data: 'blockNumber'},
                { data: 'subBlockNumber'},
				{ data: 'plotNumber'},
				{ data: 'plantNumber'},
				{ data: 'replicate'},
				{ data: 'trial'},
				{ data: 'study'},
				{ data: 'action'}
            ]
        } );
    } );
</script>
{% endblock %}