{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if observationLevels | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">Observation Level List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col" data-orderable="false"></th>
									<th scope="col">Germplasm</th>
									<th scope="col">Unit Name</th>
									<th scope="col">Observation Level</th>
									<th scope="col">Block Number</th>
									<th scope="col">Sub-block Number</th>
									<th scope="col">Plot Number</th>
									<th scope="col">Plant Number</th>
									<th scope="col">Replicate</th>
									<th scope="col" data-orderable="false"></th>
									<th scope="col">Trial</th>
									<th scope="col" data-orderable="false"></th>
									<th scope="col">Study</th>
									<th scope="col" data-orderable="false">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No observation level entity has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}

	<script>
		let dataTableId = "#datatable";
		let linkGermId = "";
		let linkTrId = "";
		let linkStId = "";
        let colsDef = [
				// These are the column name variables that will be sent to the server
				{
				"data": "germ_id", "targets": 0,
					"render": function(data, type, row, meta) {
						linkGermId = data;
						return null;
					}
				},
				{
				"data": "germplasmID", "targets": 1,
					"render": function(data, type, row, meta) {
						if (data) {
							let url = '{{ path("germplasm_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkTrId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						}
						else {
							return null;
						}
					}
				},
				{ "data": "unitname", "targets": 2 },
				{ "data": "name", "targets": 3 },
				{ "data": "blockNumber", "targets": 4 },
				{ "data": "subBlockNumber", "targets": 5 },
				{ "data": "plotNumber", "targets": 6 },
				{ "data": "plantNumber", "targets": 7 },
				{ "data": "replicate", "targets": 8 },
				{
				"data": "tr_id", "targets": 9,
					"render": function(data, type, row, meta) {
						linkTrId = data;
						return null;
					}
				},
				{
				"data": "tr_abbreviation", "targets": 10,
					"render": function(data, type, row, meta) {
						if  (data) {
							let url = '{{ path("trial_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkTrId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						}
						else {
							return null;
						}
					}
				},
				{
				"data": "st_id", "targets": 11,
					"render": function(data, type, row, meta) {
						linkStId = data;
						return null;
					}
				},
				{
				"data": "st_abbreviation", "targets": 12,
					"render": function(data, type, row, meta) {
						if (data) {
							let url = '{{ path("study_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkStId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						} else {
							return null;
						}
					}
				},
				{
				"data": "id", "targets": 13,
					"render": function(data, type, row, meta) {
						let url = '{{ path("observation_level_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", data);
						let actionlink = "<a href="+ url +"><button class='btn btn-outline-primary'>Details</button></a>";
						return actionlink;
					}
				}
			];
		let url = "{{ path('observation_level_datatable') }}";
		// call the function with data table id, columns & ajax url args
		dataTable(dataTableId, colsDef, url);
    </script>
{% endblock %}