{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<!-- .row -->
		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Sample Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: sample.createdBy.id}) }}">{{ sample.createdBy }}</a>
							</span>
							<span>On: {{ sample.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('sample_delete', {id: sample.id}) }}" class="changeStatusLink" id="{{ sample.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ sample.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("sample_edit", sample) %}
							<a href="{{ path('sample_edit', {id: sample.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		{# object related row #}
		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Sample & Observation Unit Basic Information</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Sample Name: </label>
							<span class="tomato-color font-weight-bold">{{ sample.name}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Sample Replicate: </label>
							<span class="tomato-color font-weight-bold">{{ sample.replicate}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Description: </label>
							<span class="tomato-color font-weight-bold">{{ sample.description }}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Observation Unit: </label>
							{% if sample.observationLevel %}
								<a href="{{ path('observation_level_details', {id: sample.observationLevel.id}) }}">
									<span class="tomato-color font-weight-bold">{{ sample.observationLevel }}</span>
								</a>
							{% endif %}
						</div>

						{% if sample.observationLevel %}
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Observation Level: </label>
								<a href="{{ path('observation_level_details', {id: sample.observationLevel.id}) }}">
									<span class="tomato-color font-weight-bold">{{ sample.observationLevel.name }}</span>
								</a>
							</div>
						{% endif %}

						{% if sample.observationLevel %}
							<div class="col-xl-12 col-lg-11 mb-1">
								<label for="validationTooltip01">Observation Position: </label>
								<a href="{{ path('observation_level_details', {id: sample.observationLevel.id}) }}">
									<span class="tomato-color font-weight-bold">{{ sample.observationLevel.unitPosition }}</span>
								</a>
							</div>
						{% endif %}

					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Sample Study, Germplasm & Developmental Stage</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Study: </label>
						{% if sample.study %}
							<a href="{{ path('study_details', {id: sample.study.id}) }}">
								<span class="tomato-color font-weight-bold">{{ sample.study}}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Germplasm: </label>
						{% if sample.germplasm %}
							<a href="{{ path('germplasm_details', {id: sample.germplasm.id}) }}">
								<span class="tomato-color font-weight-bold">{{ sample.germplasm}}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Developmental Stage: </label>
						{% if sample.developmentalStage %}
							<a href="{{ path('developmental_stage_details', {id: sample.developmentalStage.id}) }}">
								<span class="tomato-color font-weight-bold">{{ sample.developmentalStage}}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Anatomical Entity: </label>
						{% if sample.anatomicalEntity %}
							<a href="{{ path('anatomical_entity_details', {id: sample.anatomicalEntity.id}) }}">
								<span class="tomato-color font-weight-bold">{{ sample.anatomicalEntity}}</span>
							</a>
						{% endif %}
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-xl-5 col-lg-4 mr-auto">
				{# Trial #}
				{% if sample.variantSets | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ sample.variantSets | length == 1 ? 'Related Variant Set Summary' : 'Related Variant Sets Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ sample.variantSets | length <= 500 ? sample.variantSets | length : '500 +'}}</span>
					</h4>
					{% if sample.variantSets | length > 500 %}
						<small class="text-muted">Limited quantity of data is shown in order not to slow the system</small>
					{% endif %}

					<table id="datatable_variantSet" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Marker</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							{% for variantSet in sample.variantSets %}
								{% if loop.index <= 500 %}
									<tr>
										<td>
											<strong class="text-muted">
												<a href="{{ path('marker_details', {id: variantSet.marker.id}) }}">{{ variantSet.marker }}</a>
											</strong>
										</td>

										<td>
											<strong class="text-muted">
												{{ variantSet.value }}
											</strong>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>

			<div class="col-xl-6 col-lg-5 ">
			{# germplasm #}
				{% if sample.metaboliteValues | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ sample.metaboliteValues | length == 1 ? 'Related Metabolite Values Summary' : 'Related Metabolite Values Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ sample.metaboliteValues | length <= 500 ? sample.metaboliteValues | length : '500 +'}}</span>
					</h4>
					{% if sample.metaboliteValues | length > 500 %}
						<small class="text-muted">Limited quantity of data is shown in order not to slow the system</small>
					{% endif %}
					<table id="datatable_metaboliteValue" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Metabolite</th> 
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							{% for metaboliteVal in sample.metaboliteValues %}
								{% if loop.index <= 500 %}
									<tr>
										<td>
											<strong class="text-muted">
												<a href="{{ path('metabolite_value_details', {id: metaboliteVal.metabolite.id}) }}">{{ metaboliteVal.metabolite }}</a>
											</strong>
										</td>
										
										<td>
											<strong class="text-muted">
												{{ metaboliteVal.value }}
											</strong>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>  
		</div>
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_variantSet, #datatable_metaboliteValue').DataTable();
        } );
    </script>
{% endblock %}
