{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if samples | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">Sample List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Name</th>
                                    <th scope="col">Germplasm</th>
									<th scope="col">Study</th>
                                    <th scope="col">Developmental Stage</th>
                                    <th scope="col">Anatomical Entity</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for sample in samples %}
									<tr>
										<td>
											{{ sample.name }}
										</td>
                                        <td>
											{% if sample.germplasm %}
												<a href="{{ path('germplasm_details', {id: sample.germplasm.id}) }}">{{ sample.germplasm }}</a>
											{% endif %}
										</td>
										<td>
											{% if sample.study %}
												<a href="{{ path('study_details', {id: sample.study.id}) }}">{{ sample.study.abbreviation }}</a>
											{% endif %}
										</td>
                                        <td>
											{% if sample.developmentalStage %}
												<a href="{{ path('developmental_stage_details', {id: sample.developmentalStage.id}) }}">{{ sample.developmentalStage }}</a>
											{% endif %}
										</td>
                                        <td>
											{% if sample.anatomicalEntity %}
												<a href="{{ path('anatomical_entity_details', {id: sample.anatomicalEntity.id}) }}">{{ sample.anatomicalEntity }}</a>
											{% endif %}
										</td>
										<td>
											<a href="{{ path('sample_details', {id: sample.id}) }}">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No sample has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>
<script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
