{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    {# <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet"> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

    {# <link href="{{ asset('assets/css/custom_bootstrap_style.css') }}" rel="stylesheet"> #}

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet" />

    
    {# <link href="{{ asset('assets/sunburstchart/css/style.css') }}" rel="stylesheet" /> #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <link href="{{ asset('assets/vmap/css/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />
    
{% endblock %}

{% block body %}
	<div class="container-fluid">
		
        <div class="row">
            <!-- tutorial aria -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header bg-dark text-white py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Videos tutorials</h6>
                    {# <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> #}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7">
                            <video width="100%" controls="controls" id="videoPlayer" preload="metadata">
                                Your browser does not support the video tag.
                            </video>
                            </br>
                            <button type="button" id="prev" class="btn btn-dark btn-sm">&laquo Prev</button>
                            <button type="button" id="next" class="btn btn-dark btn-sm">Next &raquo</button>
                        </div>

                        <div class="col-xl-4 col-lg-3">
                            <ul id="playlist" class="list-group-flush video_list_scroll_bar">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tutorial area -->
        </div>
	    <!-- .row -->
    </div>
    <!-- .container -->
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('assets/nl/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ asset('assets/nl/vendor/chart.js/Chart.min.js') }}"></script>

    <script src="{{ asset('assets/nl/js/jquery-match-height-0.7.2.min.js') }}"></script>
    <script src="{{ asset('assets/nl/js/main.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // to be called in the title of the li
        var vidTitles = [
            "Introduction to HarnessTom",
            "Harnesstom presentation tour",
            "How to register",
            "How to login",
            "How to change your password",
            "How to logout",
            "Modules presentation",
            "Bulk data submission",
            "Self / manual data submission",
            "How to (simple) search for objects",
            "How to (advanced) search for accessions"
        ];

        var myVids = [
            "{{ asset('assets/videos/tutorials/harnesstom_user_intro_tutorial.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_presentation.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_user_how_to_register.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_user_how_to_login.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_user_how_to_change_password.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_user_how_to_logout.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_modules_presentation.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_bulk_data_submission.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_self_data_submission.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_how_to_simple_search_for_object.mp4') }}",
            "{{ asset('assets/videos/tutorials/harnesstom_how_to_search_for_accessions.mp4') }}",
            
        ];
        
    </script>
    <script src="{{ asset('assets/js/fill_playlist.js') }}"></script>
    <script src="{{ asset('assets/js/media_player.js') }}"></script> 
      
{% endblock %}