{% extends 'base.html.twig' %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="{{ form.vars.id }}_list" value="{{ form.vars.value }}" />
    <datalist id="{{ form.vars.id }}_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
	<input type="hidden" name="location[country]" id="location_country_hidden">
    </datalist>
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">Location Edition</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(locationForm) }}
						<div class="row">
							<div class="col-md-6 mb-3">
								{{ form_row
												(locationForm.name,
													{ label: "Name *",
													'attr': {'placeholder': "Enter the location name"}
													}
												)
											}}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_row
												(locationForm.abbreviation,
													{ label: "Abbreviation *",
													'attr': {'placeholder': "Enter the location abbreviation"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(locationForm.longitudeCo,
													{ label: "Longitude *",
													'attr': {'placeholder': "Enter the location longitude"}
													}
												)
											}}
							</div>
							
							<div class="col-md-4 mb-3">
								{{ form_row
												(locationForm.latitudeCo,
													{ label: "Latitude *",
													'attr': {'placeholder': "Enter the location latitude"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(locationForm.altitudeCo,
													{ label: "Altitude *",
													'attr': {'placeholder': "Enter the location altitude"}
													}
												)
											}}
							</div>
						</div>


						<div class="row">
							<div class="col-md-6 mb-3">
								{{ form_row
												(locationForm.siteStatus,
													{ label: "Site Status",
													'attr': {'placeholder': "Enter the location site status"}
													}
												)
											}}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_row
												(locationForm.country,
													{ label: "Country",
													'attr': {'placeholder': "Select the country",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>
						</div>
						<div class="row">
							{% include 'resource/btn_update.html.twig' %}
						</div>
						{{ form_end(locationForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/create_edit_js.html.twig' %}
{% endblock %}