{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% if locations | length > 0 %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">Location List</h2>
					{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
						{% for message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Abbreviation</th>
									<th scope="col">Name</th>
									<th scope="col">Site Status</th>
									<th scope="col">Longitude</th>
									<th scope="col">Latitude</th>
									<th scope="col">Altitude</th>
									<th scope="col">Country</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for location in locations %}
									<tr>
										<td>
											{{ location.abbreviation }}
										</td>
										<td>
											{{ location.name }}
										</td>
										<td>
											{{ location.siteStatus }}
										</td>
										<td>
											{{ location.longitudeCo }}
										</td>
										<td>
											{{ location.latitudeCo }}
										</td>
										<td>
											{{ location.altitudeCo }}
										</td>
										<td>
											{% if location.country %}
												<a href="{{ path('location_details', {id: location.id}) }}">{{ location.country }}</a>
											{% endif %}
										</td>
										<td>
											<a href="{{ path('location_details', {id: location.id}) }}">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No location has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>
<script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
