{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">GWAS Edition</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(gwasForm) }}
						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.name, {label: "Name", 'attr': {'placeholder' : 'Enter the name'}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.thresholdMethod, {label: "Threshold Method", 'attr': {'placeholder' : 'Select the threshold method',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.thresholdValue, {label: "Threshold Value", 'attr': {'placeholder' : 'Enter the threshold value'}}) }}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.kinshipAlgorithm, {label: "Kinship Algorithm", 'attr': {'placeholder' : 'Select the kinshipd algorithm',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.geneticTestingModel, {label: "Genetic Testing Model", 'attr': {'placeholder' : 'Select the genetic testing model',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.gwasModel, {label: "GWAS Model", 'attr': {'placeholder' : 'Select the gwas model',
												'class': "custom-select d-block w-100"}}) }}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.structureMethod, {label: "Structute Method", 'attr': {'placeholder' : 'Select the structure method',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.allelicEffectEstimator, {label: "Allelic Effect Estimator", 'attr': {'placeholder' : 'Select the allelic effect estimator',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.variantSetMetadata, {label: "Variant Set Metadata", 'attr': {'placeholder' : 'Select the variant set meta data',
												'class': "custom-select d-block w-100"}}) }}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.software, {label: "Software", 'attr': {'placeholder' : 'Select the software',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.preprocessing, {label: "Preprocessing", 'attr': {'placeholder' : 'Enter the preprocessing'}}) }}
							</div>


							<div class="col-md-4 mb-3">
								{{ form_row(gwasForm.gwasStatTest, {label: "GWAS Stat Test", 'attr': {'placeholder' : 'Select the gwas stat test',
												'class': "custom-select d-block w-100"}}) }}
							</div>

						</div>

						<div class="mb-3">
							{{ form_row(gwasForm.studyList, {label: "Study List (You can select several)", 'attr': {'placeholder' : 'Select study (ies)',
												'class': "custom-select d-block w-100"}}) }}
						</div>

						<div>
							<div>
								{# the data-index attribute is required for the JavaScript code below #}
								<ul class="tags" data-index="{{ gwasForm.publicationReference|length > 0 ? gwasForm.publicationReference|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(gwasForm.publicationReference.vars.prototype)|e('html_attr') }}">
								{% for pubRef in gwasForm.publicationReference %}
									<li>
									{{ form_errors(pubRef) }}
									{{ form_widget(pubRef) }}
									</li>
								{% endfor %}
								</ul>
							</div>
							<button type="button"
								class="btn btn-outline-info mb-3 add_item_link"
								data-collection-holder-class="tags">
								Add publication reference
							</button>
						</div>

						<div class="row">
							{% include 'resource/btn_update.html.twig' %}
						</div>
						{{ form_end(gwasForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap4-toggle.min.js') }}"></script>
  <script src="{{ asset('assets/js/add-remove-collection-tag-widget.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}

