{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            <h1 class="tomato-color">Biological Status</h1>
                            {{ form_start(biologicalStatusForm) }}
                                <div class="form-group">
                                    {{ form_row(biologicalStatusForm.label, {'attr': {'placeholder' : 'Enter the biological status label'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(biologicalStatusForm.code, {'attr': {'placeholder' : 'Enter the biological status code'}}) }} 
                                </div>
                                <div class="form-group">
                                    {{ form_row(biologicalStatusForm.parentTerm, {'attr': {'placeholder' : 'Enter the biological status parent term'}}) }} 
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary">Create</button>
                                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                </div>
                            {{ form_end(biologicalStatusForm) }}
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
