{% extends 'base.html.twig' %}

{% form_theme trialForm _self %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="trial_program_list" value="{{ form.vars.value }}" />
    <datalist id="trial_program_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="trial[program]" id="trial_program_hidden">
    </datalist>
{% endblock %}

{% block datalist1_widget %}
    <input {{ block('widget_attributes') }} list="trial_trialType_list" value="{{ form.vars.value }}" />
    <datalist id="trial_trialType_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="trial[trialType]" id="trial_trialType_hidden">
    </datalist>
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-lg-11">
        {% for category, messages in app.flashes(
          ['success', 'warning', 'danger']
        ) %}
          {% for message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show"
              role="alert">
              {{ message }}
              <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endfor %}
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 flex-row align-items-center justify-content-between">
            <h4 class="m-0 font-weight-bold text-center tomato-color">
              New Trial
            </h4>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            {{ form_start(trialForm) }}
            <div class="row">
              <div class="col-md-6 mb-3">
                {{
                  form_row(
                    trialForm.name,
                    {
                      label: 'Name *',
                      attr: {
                        placeholder: 'Enter the trial name'
                      }
                    }
                  )
                }}
              </div>

              <div class="col-md-6 mb-3">
                {{
                  form_row(
                    trialForm.abbreviation,
                    {
                      label: 'Abbreviation',
                      attr: {
                        placeholder: 'Enter the trial abbreviation'
                      }
                    }
                  )
                }}
              </div>
            </div>
            <div>
              {{
                form_row(
                  trialForm.description,
                  {
                    label: 'Description *',
                    attr: {
                      placeholder: 'Enter the trial description'
                    }
                  }
                )
              }}
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                {{
                  form_row(
                    trialForm.startDate,
                    {
                      label: 'Start Date',
                      attr: {
                        placeholder: 'Enter the trial start date'
                      }
                    }
                  )
                }}
              </div>

              <div class="col-md-4 mb-3">
                {{
                  form_row(
                    trialForm.endDate,
                    {
                      label: 'End date',
                      attr: {
                        placeholder: 'Enter the trial end date'
                      }
                    }
                  )
                }}
              </div>
              <div class="col-md-4 mb-3">
                {{
                  form_row(
                    trialForm.publicReleaseDate,
                    {
                      label: 'Public Release Date',
                      attr: {
                        placeholder: 'Enter the trial public release date'
                      }
                    }
                  )
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                {{
                  form_row(
                    trialForm.license,
                    {
                      label: 'Licence',
                      attr: {
                        placeholder: 'Enter the trial licence'
                      }
                    }
                  )
                }}
              </div>

              <div class="col-md-4 mb-3">
                {{
                  form_row(
                    trialForm.pui,
                    {
                      label: 'PUI',
                      attr: {
                        placeholder: 'Enter the trial pui'
                      }
                    }
                  )
                }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                {{
                  form_row(
                    trialForm.program,
                    {
                      label: 'Program',
                      attr: {
                        placeholder: 'Select the program',
                        class: 'custom-select d-block w-100'
                      }
                    }
                  )
                }}
              </div>

              <div class="col-md-6 mb-3">
                {{
                  form_row(
                    trialForm.trialType,
                    {
                      label: 'Trial Type',
                      attr: {
                        placeholder: 'Select the trial type',
                        class: 'custom-select d-block w-100'
                      }
                    }
                  )
                }}
              </div>
            </div>

            <div>
              <div>
                {# the data-index attribute is required for the JavaScript code below #}
                <ul class="tags" data-index="{{ trialForm.publicationReference|length > 0 ? trialForm.publicationReference|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(trialForm.publicationReference.vars.prototype)|e('html_attr') }}">
                  {% for pubRef in trialForm.publicationReference %}
                    <li>
                      {{ form_errors(pubRef) }}
                      {{ form_widget(pubRef) }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <button type="button"
                class="btn btn-outline-info mb-3 add_item_link"
                data-collection-holder-class="tags">
                Add publication reference
              </button>
            </div>

            <div class="row">
              {% include 'resource/btn_create.html.twig' %}
            </div>
            {{ form_end(trialForm) }}
          </div>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
{% endblock %}


{% block javascripts %}
    {% include 'resource/create_edit_js.html.twig' %}
{% endblock %}