{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
	<!-- DataTables CSS -->

	<link
	href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
	<!-- DataTables Animate CSS -->
	<link href="{{ asset('assets/datatables/css/animate.1.13.4.css.jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
                {% if trials | length > 0 %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold tomato-color">Trial List</br>
								<small>Private data are not shown unless they are shared with you.</small>
							</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Graph View:</div>
                                    <a class="dropdown-item" href="#">Most Trial By Country</a>
                                    <a class="dropdown-item" href="#">Most Trial By Institute</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Most Trial By ...</a>
                                </div>
                            </div>
                        </div>
					    <div class="card-body">
                            <div class="table-responsive"> 
                                <table id="datatable" class="table table-hover text-nowrap" width="100%">
									<thead class="table-dark">
										<tr>
											<th scope="col">Abbreviation</th>
											<th scope="col">Name</th>
											<th scope="col">Program</th>
											<th scope="col">Trial Type</th>
											<th scope="col">PUI</th>
											<th scope="col">Public Release Date</th>
											<th scope="col" data-orderable="false">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for trial in trials %}
											<tr>
												<td>
													{{ trial.abbreviation }}
												</td>
												<td>
													{{ trial.name }}
												</td>
												<td>
													{% if trial.program %}
														<a href="{{ path('program_details', {id: trial.program.id}) }}">{{ trial.program.abbreviation }}</a>
													{% endif %}
												</td>
												<td>
													{% if trial.trialType %}
														<a href="{{ path('trial_type_details', {id: trial.trialType.id}) }}">{{ trial.trialType }}</a>
													{% endif %}
												</td>
												<td>
													{{ trial.pui }}
												</td>
												<td>
													{{ trial.publicReleaseDate | date('d/m/Y') }}
												</td>
												<td>
													{% if trial.createdBy == app.user and trial.publicReleaseDate | date('Y-m-d') >= 'now' | date('Y-m-d')  %}
														<a href="{{ path('trial_share_with', {id: trial.id}) }}">
															<button class="btn btn-outline-primary">Share With</button>
														</a>
													{% endif %}
													<a href="{{ path('trial_details', {id: trial.id}) }}">
														<button class="btn btn-outline-primary">Details</button>
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
                            </div>
                        </div>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No trial has been provided in our system</h5>
                {% endif %}
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables animate JavaScript -->
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>
<script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
