{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
				{% if users | length > 0 %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">User List</h2>
					<table id="datatable" class="table table-hover text-nowrap" width="100%">
						<thead class="table-dark font-weight-bold">
							<tr>
								<td>Email</td>
								<td>First Name</td>
								<td>Middle Name</td>
								<td>Last Name</td>
								<td>Country</td>
								<td data-orderable="false">Action</td>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								{% if user.person %}
									<tr>
										<td>
											<a href="{{ path('admin_user_details', {id: user.id}) }}">{{ user.email }}</a>
										</td>
										<td>
											<a href="{{ path('admin_user_details', {id: user.id}) }}">{{ user.person.firstName }}</a>
										</td>
										<td>
											<a href="{{ path('admin_user_details', {id: user.id}) }}">{{ user.person.middleName }}</a>
										</td>
										<td>
											<a href="{{ path('admin_user_details', {id: user.id}) }}">{{ user.person.lastName | upper }}</a>
										</td>
										<td>
											<a href="{{ path('admin_user_details', {id: user.id}) }}">{{ user.person.country }}</a>
										</td>
										<td>
											<a data-id="{{ user.id }}" href="{{ path('trial_share_with', {id: trial.id, userId:user.id}) }}" class="shareWithLink" id="{{ user.id }}">
												<button class="btn btn-outline-primary shareWithBtn">
													{# check if the trial has been already shard with the logged in user #}
													{% set sharedTrialUsers = [] %}
													{% for sharedTrial in trial.sharedWiths %}
														{% set sharedTrialUsers = sharedTrialUsers|merge([sharedTrial.user]) %}
													{% endfor %}
													{% if user in sharedTrialUsers %}
														{# already shared with this user #}
														Unshare with
													{% else %}
														Share with
													{% endif %}
												</button>
											</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No user been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}

    <!-- Axios -->
    <script src="{{ asset('assets/axios/axios.min.js') }}"></script>

    <script>
            $(document).ready(function () {
                $('#datatable').DataTable();
            });
    </script>

    <script>
        /*
        This function is to change the status of the object.
        It is called each time the corresponding link is clicked (the event happened).
        1. It prevents the default behavior (behavior of showing the json response) of the function
        in the controller class.

        2. It gets the url of the link

        3. It get the html document of the span which is the checkbox to change the object status 

        4. It passes the url to axios which returns a response which is the message of the json
            coming from the function in the controller.
            4.1 set the checked property of the checkbox based on the response value.
        */

        // Change the role and update the new role name
        function changeRole(event) {
            event.preventDefault();
            const url = this.href;
            const swBtn = this.querySelector('button.shareWithBtn');
            // get the element matching the id of the row of the clicked button,
            axios.get(url).then(function (res) {
                const jsonResponseMessage = res.data.message;
                swBtn.innerText = jsonResponseMessage;
            })
        }

        document.querySelectorAll('a.shareWithLink').forEach(function (link) {
        link.addEventListener('click', changeRole);
        })
    </script>
{% endblock %}
