{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            {% if metabolites | length > 0 %}
                                <h1 class="tomato-color">Metabolite List</h1>
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">Analyte</th>
                                    <th scope="col">Metabolic Trait</th>
                                    <th scope="col">Scale</th>
                                    <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for metabolite in metabolites %}
                                    <tr>
                                        <td><a href="{{ path('metabolite_details', {id: metabolite.id}) }}">{{ metabolite.analyte }}</a></td>
                                        <td><a href="{{ path('metabolite_details', {id: metabolite.id}) }}">{{ metabolite.metabolicTrait }}</a></td>
                                        <td><a href="{{ path('metabolite_details', {id: metabolite.id}) }}">{{ metabolite.scale }}</a></td>
                                        <td>
                                            <a href="{{ path('metabolite_details', {id: metabolite.id}) }}"><button class="btn btn-outline-primary">View</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %} 
                                <p class="tomato-color">No metabolite has been provided in our system</p>
                            {% endif %}
                        </tbody>
                        </table>
                     
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
