{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->

            <div class="container">
                <div class="row">
                    <div class="card-body">
                        <h1 class="tomato-color">Details</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Filsters</th>
                                <th scope="col">Variant Count</th>
                                <th scope="col">Data Upload</th>
                                <th scope="col">File URL</th>
                                <th scope="col">Genotyping Platform</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Creation Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ variantSetMetadata.id }}</td>
                                    <td>{{ variantSetMetadata.name }}</td>
                                    <td>{{ variantSetMetadata.description }}</td>
                                    <td>{{ variantSetMetadata.filters }}</td>
                                    <td>{{ variantSetMetadata.variantCount }}</td>
                                    <td>{{ variantSetMetadata.dataUpload }}</td>
                                    <td>{{ variantSetMetadata.fileUrl }}</td>
                                    <td><a href="{{ path('genotyping_platform_details', {id: variantSetMetadata.genotypingPlatform.id}) }}">{{ variantSetMetadata.genotypingPlatform }}</a></td>
                                    <td>{{ variantSetMetadata.createdBy }}</td>
                                    <td>{{ variantSetMetadata.createdAt | date('d/m/Y h:m:s') }}</td>
                                    <td><a href="{{ path('variant_set_metadata_delete', {id: variantSetMetadata.id}) }}" class="changeStatusLink" id="{{ variantSetMetadata.id }}">
                                        <span class="changeStatusSpan" >
                                            <input type="checkbox" {{ variantSetMetadata.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
                                        </span>
                                    </a></td>
                                    
                                    <td>
                                        <a href="{{ path('variant_set_metadata_edit', {id: variantSetMetadata.id}) }}"><button class="btn btn-outline-warning">Edit</button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="{{ asset('assets/btdist/js/bootstrap4-toggle.min.js') }}"></script>
<script src="{{ asset('assets/axios/axios.min.js') }}"></script>
<script src="{{ asset('assets/btdist/js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset('assets/btdist/js/bootstrap.bundle.min.js') }}"></script>

<script>
    /*
        This function is to change the status of the object.
        It is called each time the corresponding link is clicked (the event happened).
        1. It prevents the default behavior (behavior of showing the json response) of the function
        in the controller class.

        2. It gets the url of the link

        3. It get the html document of the span which is the checkbox to change the object status 

        4. It passes the url to axios which returns a response which is the message of the json
            coming from the function in the controller.
            4.1 set the checked property of the checkbox based on the response value.
    */
    function changeStatus(event){
        event.preventDefault();
        const url = this.href;
        const statusCheckbox = this.querySelector('span.changeStatusSpan').innerHTML;
        
        axios.get(url).then(function(res){
            const jsonResponse = res.data.message;
            if(jsonResponse) {
                statusCheckbox.checked = true;
            }
            else {
                statusCheckbox.checked = false;
            }
        })
    }
    
    document.querySelectorAll('a.changeStatusLink').forEach(function(link){
        link.addEventListener('click', changeStatus);  
    })
</script>
{% endblock %}