{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
                {% if variantSetMetadatas | length > 0 %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-center tomato-color">Variant Set Metadata List</h6>
                            {# <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Graph View:</div>
                                    <a class="dropdown-item" href="#">Most Variant Set Metadata By Genotyping Platform</a>
                                    <a class="dropdown-item" href="#">Most Variant Set Metadata By Software</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Most Variant Set Metadata By ...</a>
                                </div>
                            </div> #}
                        </div>
					    <div class="card-body">
                            <div class="table-responsive">
								<table id="datatable" class="table table-hover text-nowrap" width="100%">
									<thead class="table-dark">
										<tr>
											<th scope="col">Name</th>
											<th scope="col">Genotyping Platform</th>
											<th scope="col">Variant Count</th>
											<th scope="col">VCF name</th>
											<th scope="col text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for variantSetMetadata in variantSetMetadatas %}
											<tr>
												<td>
													{{ variantSetMetadata.name }}
												</td>
												<td>
													{{ variantSetMetadata.genotypingPlatform }}
												</td>
												<td>
													{{ variantSetMetadata.variantCount }}
												</td>
												<td>
													{{ variantSetMetadata.dataUpload }}
												</td>
												<td>
													{% if (variantSetMetadata.fileUrl == null) %}
														<form name="uploadVCF" action="{{ path('variant_set_metadata_upload_vcf', {id: variantSetMetadata.id}) }}" method="POST" enctype="multipart/form-data">
															<input type="file" id="vcf_upload_vcf" name="vcf_upload[vcf]" required="required" >
															<button type="submit" class="btn btn-outline-primary">Upload</button>
														</form>
													{% else %}
														<a href="{{ asset('uploads/vcf/' ~ variantSetMetadata.fileUrl ) }}" download target="_blank">
                                                            <button class="btn btn-outline-primary">Download File</button>
                                                        </a>
													{% endif %}
													<a href="{{ path('variant_set_metadata_details', {id: variantSetMetadata.id}) }}">
														<button class="btn btn-outline-primary">Details</button>
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
                        </div>
                    </div>
                {% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No variant set metadata has been provided in our system</h5>
				{% endif %}
		    </div>
        </div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
