{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		
		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Germplasm Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: germplasm.createdBy.id}) }}">{{ germplasm.createdBy }}</a>
							</span>
							<span>On: {{ germplasm.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('germplasm_delete', {id: germplasm.id}) }}" class="changeStatusLink" id="{{ germplasm.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ germplasm.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("germplasm_edit", germplasm) %}
							<a href="{{ path('germplasm_edit', {id: germplasm.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		{# object related row #}
		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Germplasm, INSTCODE & Accession</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Germplasm ID: </label>
							<span class="tomato-color font-weight-bold">{{ germplasm.germplasmID}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">INSTCODE: </label>
							{% if germplasm.maintainerInstituteCode %}
								<a href="{{ path('institute_details', {id: germplasm.maintainerInstituteCode.id}) }}">
									<span class="tomato-color font-weight-bold">{{ germplasm.maintainerInstituteCode }}</span>
								</a>
							{% endif %}
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Maintainer Number: </label>
							{% if germplasm.accession %}
								<a href="{{ path('accession_details', {id: germplasm.accession.id}) }}">
									<span class="tomato-color font-weight-bold">{{ germplasm.maintainerNumb }}</span>
								</a>
							{% endif %}
						</div>
					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Program & Preprocessing</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Program: </label>
						{% if germplasm.program %}
							<a href="{{ path('program_details', {id: germplasm.program.id}) }}">
								<span class="tomato-color font-weight-bold">{{ germplasm.program }}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Preprocessing: </label>
						<span class="tomato-color font-weight-bold">{{ germplasm.preprocessing}}</span>
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-xl-3 col-lg-2 mr-auto">
				{# Progeny #}
				{% if germplasm.Progenies | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ germplasm.Progenies | length == 1 ? 'Related Progeny Summary' : 'Related Progenies Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ germplasm.Progenies | length }}</span>
					</h4>

					<table id="datatable_progeny" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Progeny ID</th>
								<th>Cross</th>
								<th>Parent 1</th>
								<th>Parent 2</th>
							</tr>
						</thead>
						<tbody>
							{% for progeny in germplasm.progenies %}
								<tr>
									<td>
										<strong class="text-muted">
											{{ progeny.progenyId }}
										</strong>
									</td>

									<td>
										{% if progeny.progenyCross %}
											<strong class="text-muted">
												<a href="{{ path('cross_details', {id: progeny.progenyCross.id}) }}">{{ progeny.progenyCross }}</a>
											</strong>
										{% endif %}
									</td>

									<td>
										{% if progeny.progenyParent1 %}
											<strong class="text-muted">
												<a href="{{ path('germplasm_details', {id: progeny.progenyParent1.id}) }}">{{ progeny.progenyParent1 }}</a>
											</strong>
										{% endif %}
									</td>

									<td>
										{% if progeny.progenyParent2 %}
											<strong class="text-muted">
												<a href="{{ path('germplasm_details', {id: progeny.progenyParent2.id}) }}">{{ progeny.progenyParent2 }}</a>
											</strong>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>

			<div class="col-xl-6 col-lg-5">
				{# Pedigree #}
				{% if germplasm.pedigrees | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ germplasm.pedigrees | length == 1 ? 'Related Pedigree Summary' : 'Related Pedigrees Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ germplasm.pedigrees | length }}</span>
					</h4>

					<table id="datatable_pedigree" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Pedigree ID</th>
								<th>Cross</th>
								<th>Ancestor Entry ID</th>
								<th>Generation</th>
							</tr>
						</thead>
						<tbody>
							{% for pedigree in germplasm.pedigrees %}
								<tr>
									<td>
										<strong class="text-muted">
											{{ pedigree.pedigreeEntryID }}
										</strong>
									</td>

									<td>
										{% if pedigree.pedigreeCross %}
											<strong class="text-muted">
												<a href="{{ path('cross_details', {id: pedigree.pedigreeCross.id}) }}">{{ pedigree.pedigreeCross }}</a>
											</strong>
										{% endif %}
									</td>

									<td>
										{% if pedigree.pedigreeAncestorEntryId %}
											<strong class="text-muted">
												<a href="{{ path('pedigree_details', {id: pedigree.pedigreeAncestorEntryId.id}) }}">{{ pedigree.pedigreeAncestorEntryId }}</a>
											</strong>
										{% endif %}
									</td>
									
									<td>
										{% if pedigree.generation %}
											<strong class="text-muted">
												<a href="{{ path('generation_details', {id: pedigree.generation.id}) }}">{{ pedigree.generation }}</a>
											</strong>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>

			{# <div class="col-xl-5 col-lg-4 mr-auto">
				{% if germplasm.study | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="tomato-color">{{ germplasm.study | length == 1 ? 'Related Study Summary' : 'Related Studies Summary' }}</span>
						<span class="badge badge-danger badge-pill">{{ germplasm.study | length }}</span>
					</h4>
					<table id="datatable_study" class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th>Abbreviation</th> 
								<th>Start Date</th>
								<th>End Date</th>
								<th>Trial</th>
							</tr>
						<thead>
						<tbody>
							{% for oneStudy in germplasm.study %}
								<tr>
									<td>
										<strong class="text-muted">
											<a href="{{ path('study_details', {id: oneStudy.id}) }}">{{ oneStudy.abbreviation }}</a>
										</strong>
									</td>
									<td><strong class="text-muted">{{ oneStudy.startDate | date('d/m/Y') }}</strong></td>
									<td><strong class="text-muted">{{ oneStudy.endDate | date('d/m/Y') }}</strong></td>
									<td>
										{% if oneStudy.trial %}
											<strong class="text-muted">
												<a href="{{ path('trial_details', {id: oneStudy.trial.id}) }}">{{ oneStudy.trial.abbreviation }}</a>
											</strong>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %} 
			</div>	 #}
		</div>

		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_studyq, #datatable_study').DataTable();
        } );
    </script>
{% endblock %}
	