{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if germplasms | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold">Germplasm List</h2>
                    <div class="table-responsive"> 
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Germplasm ID</th>
                                <th scope="col">INSTCODE</th>
                                <th scope="col">Maintainer Number</th>
                                <th scope="col">Program</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No germplasm has been provided in our system</h5>
                {% endif %}     
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}

    <script>
        let data = [
                {% for germplasm in germplasms %}
                    {
                    germplasmID: "{{ germplasm.germplasmID }}</a>",
                    instcode: "{% if germplasm.maintainerInstituteCode %}<a href={{ path('institute_details', {id: germplasm.maintainerInstituteCode.id}) }}>{{ germplasm.maintainerInstituteCode }}</a>{% endif %}",
                    maintainerNumb: "{% if germplasm.accession %}<a href={{ path('accession_details', {id: germplasm.accession.id}) }}>{{ germplasm.maintainerNumb }}</a>{% endif %}",
                    progAbbreviation: "{% if germplasm.program %}<a href={{ path('program_details', {id: germplasm.program.id}) }}>{{ germplasm.program.abbreviation }}</a>{% endif %}",
                    action: "<a href={{ path('germplasm_details', {id: germplasm.id}) }}><button class='btn btn-outline-primary'>Details</button></a>"
                    },
                {% endfor %}
            ];
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "bDestroy": true,
                "pageLength": 25,
                data: data,
                columns: [
                    { data: 'germplasmID'},
                    { data: 'instcode'},
                    { data: 'maintainerNumb'},
                    { data: 'progAbbreviation'},
                    { data: 'action'}
                ]
            } );
        } );
    </script>
{% endblock %}
