{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% if synonyms | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold">Synonym List</h2>
                    <div class="table-responsive"> 
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Accession</th>
                                <th scope="col">USDA</th>
                                <th scope="col">COMAV</th>
                                <th scope="col">FMA01/th>
                                <th scope="col">UIB</th>
                                <th scope="col">PGR</th>
                                <th scope="col">EUSOL</th>
                                <th scope="col">CCCODE</th>
                                <th scope="col">NDL</th>
                                <th scope="col">AVRC</th>
                                <th scope="col">INRA</th>
                                <th scope="col">UNITUS</th>
                                <th scope="col">RESQPROJECT360</th>
                                <th scope="col">RESEQ150</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for synonym in synonyms %}
                                    <tr>
                                        <td>{{ synonym.accession }}</td>
                                        <td>{{ synonym.usda }}</td>
                                        <td>{{ synonym.comav }}</td>
                                        <td>{{ synonym.fma01 }}</td>
                                        <td>{{ synonym.uib }}</td>
                                        <td>{{ synonym.pgr }}</td>
                                        <td>{{ synonym.eusol }}</td>
                                        <td>{{ synonym.cccode }}</td>
                                        <td>{{ synonym.ndl }}</td>
                                        <td>{{ synonym.avrc }}</td>
                                        <td>{{ synonym.inra }}</td>
                                        <td>{{ synonym.unitus }}</td>
                                        <td>{{ synonym.resqProject360 }}</td>
                                        <td>{{ synonym.reseq150 }}</td>
                                        <td>
                                            <a href="{{ path('synonym_details', {id: synonym.id}) }}"><button class="btn btn-outline-primary">Details</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No synonym has been provided in our system</h5>
                {% endif %}     
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
