
{% if accessions | length > 0 %}
    <h2 class="mb-3 text-center tomato-color font-weight-bold tomato-color">Accession List ({{ accessions | length }})</h2>
    <div class="table-responsive">
        <table id="datatable" class="table table-hover text-nowrap" width="100%">
            <thead class="table-dark">
                <tr>
                <th scope="col">Taxon</th>
                <th scope="col">Accession Number</th>
                <th scope="col">Accession Name</th>
                <th scope="col">Accession PUID</th>
                <th scope="col">Country of Origin</th>
                <th scope="col">Collecting Source</th>
                <th scope="col">Biological Status</th>
                <th scope="col">MLS Status</th>
                <th scope="col">Maintaining Institute</th>
                <th scope="col">Maintainer Number</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for accession in accessions %}
                <tr>
                    <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ accession.taxon.taxonid }}" target="_blank">{{ accession.taxon }}</a></td>
                    <td>{{ accession.accenumb }}</td>
                    <td>{{ accession.accename }}</td>
                    <td>{{ accession.puid }}</td>
                    <td>
                        {% if accession.origcty %}
                            <a href="{{ path('country_details', {id: accession.origcty.id}) }}">{{ accession.origcty }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if accession.collsrc %}
                            <a href="{{ path('collecting_source_details', {id: accession.collsrc.id}) }}">{{ accession.collsrc }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if accession.sampstat %}
                            <a href="{{ path('biological_status_details', {id: accession.sampstat.id}) }}">{{ accession.sampstat }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if accession.mlsStatus %}
                            <a href="{{ path('mls_status_details', {id: accession.mlsStatus.id}) }}">{{ accession.mlsStatus }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if accession.instcode %}
                            <a href="{{ path('institute_details', {id: accession.instcode.id}) }}">{{ accession.instcode }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ accession.maintainernumb }}
                    </td>
                    <td>
                        <a href="{{ path('accession_details', {id: accession.id}) }}"><button class="btn btn-outline-primary">Details</button></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %} 
    <h5 class="mb-3 text-center tomato-color font-weight-bold">No accession matched your criterias, remove some filters</h5>
{% endif %}  