
{% if accessions | length > 0 %}
    <h2 class="mb-3 text-center tomato-color font-weight-bold tomato-color">Accession List</h2>
    <div class="table-responsive">
        <table id="datatable" class="table table-hover text-nowrap" width="100%">
            <thead class="table-dark">
                <tr>
                <th scope="col">Taxon</th>
                <th scope="col">Accession Number</th>
                <th scope="col">Accession Name</th>
                <th scope="col">Accession PUID</th>
                <th scope="col">Country of Origin</th>
                <th scope="col">Collecting Source</th>
                <th scope="col">Biological Status</th>
                <th scope="col">MLS Status</th>
                <th scope="col">Maintaining Institute</th>
                <th scope="col">Maintainer Number</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for accession in accessions %}
                <tr>
                    <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ accession.taxon.taxonid }}" target="_blank">{{ accession.taxon }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.accenumb }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.accename }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.puid }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.origcty }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.collsrc }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.sampstat }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.mlsStatus }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.instcode }}</a></td>
                    <td><a href="{{ path('accession_details', {id: accession.id}) }}">{{ accession.maintainernumb }}</a></td>
                    <td>
                        <a href="{{ path('accession_details', {id: accession.id}) }}"><button class="btn btn-outline-primary">View</button></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %} 
    <h5 class="mb-3 text-center tomato-color font-weight-bold">No accession matched your criterias, remove some filters</h5>
{% endif %}  