{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 order-md-1">
                <p>Filter By</p>
                {# to create a form and use formData in javascript later #}
                <form id="filters">
                    {% for country in countries %}
                        <p>
                            <input type="checkbox" name="countries[]" id="country{{ country.id }}" value="{{ country.id }}">
                            <label for=country{{ country.id }}> {{ country.iso3 }} </label>
                        </p>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-11 order-md-2">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div id="filtered_content">
                    {% include "search/content_accession.html.twig" %}
                </div>
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="{{ asset('assets/js1/vendor/jquery.slim.min.js') }}"><\/script>')</script>
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables JavaScript -->
    <script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
    <script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}
