{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
    <!-- countries list scrollbar CSS -->
    <link href="{{ asset('assets/css/custom_bootstrap_style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 order-md-1">
                <h4 class="text-center mt-6 tomato-color font-weight-bold">Filter By</h4>
                {# to create a form and use formData in javascript later #}
                <form id="filters">
                    <p class="text-muted font-weight-bold">Country</p>
                    <div class="mb-3 objects_list_scroll_bar">
                        {% for country in countries %}
                            <p >
                                <input type="checkbox" name="countries[]" id="country{{ country.id }}" value="{{ country.id }}">
                                <label for=country{{ country.id }}> {{ country.iso3 }} </label>
                            </p>
                        {% endfor %}
                    </div>
                    <p class="text-muted font-weight-bold">Biological Status</p>
                    <div class="mb-3 objects_list_scroll_bar">
                        {# to create a form and use formData in javascript later #}
                        {% for biologicalStatus in biologicalStatuses %}
                            <p>
                                <input type="checkbox" name="biologicalStatuses[]" id="biologicalStatus{{ biologicalStatus.id }}" value="{{ biologicalStatus.id }}">
                                <label for=biologicalStatus{{ biologicalStatus.id }}> {{ biologicalStatus.name }} </label>
                            </p>
                        {% endfor %}
                    </div>
                    <p class="text-muted font-weight-bold">Shape</p>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-3 ">
                                <img src="{{ asset('assets/images/tomato_shapes/bis_shape3.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Round</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/2bis_shape7.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/2bis_shape4.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/2bis_shape5.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/2bis_shape9.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/2bis_shape6.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/shape2.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/2bis_shape10.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_shapes/bitmap22.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Name</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted font-weight-bold">Color</p>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-3 ">
                                <img src="{{ asset('assets/images/tomato_colors/0.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">0</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/1.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">1</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/2.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">2</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/3.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">3</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/absent.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Absent</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/half3.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Half</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/intense.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Intense</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/jelly.png') }}" width="90%" />
                                <p class="text-center text-muted font-weight-bold">Jelly</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/medium.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Medium</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/medium_.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Medium _</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/noribbed.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">No ribbed</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/pericarp.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Pericarp</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/slight.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Slight</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/slightlyu.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Slihtly </p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/stronglyribbed.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Strongly ribbed</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset('assets/images/tomato_colors/veryribbed.png') }}" width="60%" />
                                <p class="text-center text-muted font-weight-bold">Very ribbed</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-10 order-md-2">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div id="filtered_content">
                    {% include "search/content_accession.html.twig" %}
                </div>
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="{{ asset('assets/js1/vendor/jquery.slim.min.js') }}"><\/script>')</script>
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables JavaScript -->
    <script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
    <script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}
