{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
	<!-- DataTables CSS -->
	<link
	href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row" id="tbreplaced">
            <div class="col-xl-3 col-lg-4 order-md-1">
                <div class="card shadow h-100"><button class="btn btn-outline-dark">Remove all filter </button>
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-center tomato-color">Filter By</h5>
                    </div>
                    <div class="card-body">
                        {# to create a form and use formData in javascript later #}
                        <form id="filters">
                            <!-- start country list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#countryCollapse" role="button" aria-expanded="true" aria-controls="countryCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#countryCollapse">Country</span>
                                    </li>
                                    <ul class="list-group collapse" id="countryCollapse">
                                        {% for oneObj in accessionsByCountry %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="countries[]" id="country{{ oneObj.id }}" value="{{ oneObj.id }}" >
                                                    <label for=country{{ oneObj.id }}> {{ oneObj.iso3 }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill" id="accQtyCountry" data-id="{{ oneObj.id }}" >{{ oneObj.accQty }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end country list -->

                            <!-- start biological status list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#biologicalStatusCollapse" role="button" aria-expanded="true" aria-controls="biologicalStatusCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#biologicalStatusCollapse">Biological Status</span>
                                    </li>
                                    <ul class="list-group collapse" id="biologicalStatusCollapse">
                                        {% for oneObj in accessionsByBiologicalStatus %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="biologicalStatuses[]" id="biologicalStatus{{ oneObj.id }}" value="{{ oneObj.id }}">
                                                    <label for=biologicalStatus{{ oneObj.id }}> {{ oneObj.name }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill" id="accQtyBiologicalStat" data-id="{{ oneObj.id }}"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end biological status list-->

                            <!-- start mls status list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#mlsStatusCollapse" role="button" aria-expanded="true" aria-controls="mlsStatusCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#mlsStatusCollapse">MLS Status</span>
                                    </li>
                                    <ul class="list-group collapse" id="mlsStatusCollapse">
                                        {% for oneObj in accessionsByMLSStatus %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="mlsStatuses[]" id="mlsStatus{{ oneObj.id }}" value="{{ oneObj.id }}">
                                                    <label for=mlsStatus{{ oneObj.id }}> {{ oneObj.name }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill" id="accQtyMLSStat" data-id="{{ oneObj.id }}"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end mls status list-->

                            <!-- start taxonomy list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#taxonomyCollapse" role="button" aria-expanded="true" aria-controls="taxonomyCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#taxonomyCollapse">Taxonomy</span>
                                    </li>
                                    <ul class="list-group collapse" id="taxonomyCollapse">
                                        {% for oneObj in accessionsByTaxonomy %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="taxonomies[]" id="taxonomy{{ oneObj['taxonomy'].id }}" value="{{ oneObj['taxonomy'].id }}">
                                                    <label for=taxonomy{{ oneObj['taxonomy'].id }}> {{ oneObj['taxonomy'].taxonid | upper }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end mls taxonomy list-->

                            <!-- start collecting mission list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#collectingMissionCollapse" role="button" aria-expanded="true" aria-controls="collectingMissionCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#collectingMissionCollapse">Collecting Mission</span>
                                    </li>
                                    <ul class="list-group collapse" id="collectingMissionCollapse">
                                        {% for oneObj in accessionsByCollectingMission %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="collectingMissions[]" id="collectingMission{{ oneObj.id }}" value="{{ oneObj.id }}">
                                                    <label for=collectingMission{{ oneObj.id }}> {{ oneObj.name }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill" id="accQtyColMission" data-id="{{ oneObj.id }}"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end collecting mission list-->

                            <!-- start collecting source list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#collectingSourceCollapse" role="button" aria-expanded="true" aria-controls="collectingSourceCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#collectingSourceCollapse">Collecting Source</span>
                                    </li>
                                    <ul class="list-group collapse" id="collectingSourceCollapse">
                                        {% for oneObj in accessionsByCollectingSource %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="collectingSources[]" id="collectingSource{{ oneObj.id }}" value="{{ oneObj.id }}">
                                                    <label for=collectingSource{{ oneObj.id }}> {{ oneObj.name }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill" id="accQtyColSource" data-id="{{ oneObj.id }}"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end collecting source list-->

                            <!-- start maintaining institute list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#maintainingInstituteCollapse" role="button" aria-expanded="true" aria-controls="maintainingInstituteCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#maintainingInstituteCollapse">Maintaining Institute</span>
                                    </li>
                                    <ul class="list-group collapse" id="maintainingInstituteCollapse">
                                        {% for oneObj in accessionsByMaintainingInstitute %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="maintainingInstitutes[]" id="maintainingInstitute{{ oneObj['institute'].id }}" value="{{ oneObj['institute'].id }}">
                                                    <label for=maintainingInstitute{{ oneObj['institute'].id }}> {{ oneObj['institute'].acronym }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end maintaining institute list-->

                            <!-- start donor institute list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#donorInstituteCollapse" role="button" aria-expanded="true" aria-controls="donorInstituteCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#donorInstituteCollapse">Donor Institute</span>
                                    </li>
                                    <ul class="list-group collapse" id="donorInstituteCollapse">
                                        {% for oneObj in accessionsByDonorInstitute %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="donorInstitutes[]" id="donorInstitute{{ oneObj['institute'].id }}" value="{{ oneObj['institute'].id }}">
                                                    <label for=donorInstitute{{ oneObj['institute'].id }}> {{ oneObj['institute'].acronym }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end donor institute list-->

                            <!-- start breeding institute list-->
                            <div class="card border-left-primary shadow h-100 mb-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-header" data-toggle="collapse" href="#breedingInstituteCollapse" role="button" aria-expanded="true" aria-controls="breedingInstituteCollapse">
                                        <span id="headingOne" class="font-weight-bold" data-toggle="collapse" data-target="#breedingInstituteCollapse">Breeding Institute</span>
                                    </li>
                                    <ul class="list-group collapse" id="breedingInstituteCollapse">
                                        {% for oneObj in accessionsByBreedingInstitute %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <input type="checkbox" name="breedingInstitutes[]" id="breedingInstitute{{ oneObj['institute'].id }}" value="{{ oneObj['institute'].id }}">
                                                    <label for=breedingInstitute{{ oneObj['institute'].id }}> {{ oneObj['institute'].acronym }} </label>
                                                </div>
                                                <span class="float-right badge badge-primary badge-pill"> {{ oneObj['accQty'] }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                            <!-- end breeding institute list-->

                        </form>
                    </div>
                </div>        
            </div>
            <div class="col-xl-9 col-lg-9 order-md-2">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div id="filtered_content">
                    {% include "search/content_accession.html.twig" %}
                </div>
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
    <script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}
