{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/nl/css/sb-admin-2.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/nl/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
	<!-- DataTables CSS -->
	<link
	href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
				{% if attributeTraitValues | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold">Attribute Trait Value List</h2>
                    <div class="table-responsive"> 
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Accession</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Attribute Category</th>
                                <th scope="col">Trait</th>
                                <th scope="col">Metabolic Trait</th>
                                <th scope="col">Value</th>
                                <th scope="col">Publication Reference</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No attribute trait value has been provided in our system</h5>
                {% endif %}     
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/nl/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/nl/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/nl/js/sb-admin-2.min.js') }}"></script>

	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script src="{{ asset('assets/datatables/js/custom_page_entry_showing.js') }}">
	</script>

    <script>
        let data = [
                {% for attributeTraitValue in attributeTraitValues %}
                    {
                    accession: "{% if attributeTraitValue.accession %}<a href={{ path('accession_details', {id: attributeTraitValue.accession.id}) }}>{{ attributeTraitValue.accession }}</a>{% endif %}",
                    attribute: "{% if attributeTraitValue.attribute %}<a href={{ path('attribute_details', {id: attributeTraitValue.attribute.id}) }}>{{ attributeTraitValue.attribute }}</a>{% endif %}",
                    attributeCategory: "{% if attributeTraitValue.attribute.category %}<a href={{ path('attribute_category_details', {id: attributeTraitValue.attribute.category.id}) }}>{{ attributeTraitValue.attribute.category }}</a>{% endif %}",
                    trait: "{% if attributeTraitValue.trait %}<a href={{ path('trait_class_details', {id: attributeTraitValue.trait.id}) }}>{{ attributeTraitValue.trait }}</a>{% endif %}",
                    metabolicTrait: "{% if attributeTraitValue.metabolicTrait %}<a href={{ path('metabolic_trait_value_details', {id: attributeTraitValue.metabolicTrait.id}) }}>{{ attributeTraitValue.metabolicTrait }}</a>{% endif %}",
                    value: "{{ attributeTraitValue.value }}",
                    publicationReferences: "{% if attributeTraitValue.publicationReference | length > 0 %}{% for onePubRef in attributeTraitValue.publicationReference %}{{ onePubRef }}{% endfor %}{% endif %}",
                    action: "<a href={{ path('attribute_trait_value_details', {id: attributeTraitValue.id}) }}><button class='btn btn-outline-primary'>Details</button></a>"
                    },
                {% endfor %}
            ];
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "bDestroy": true,
                "pageLength": 25,
                data: data,
                columns: [
                    { data: 'accession'},
                    { data: 'attribute'},
                    { data: 'attributeCategory'},
                    { data: 'trait'},
                    { data: 'metabolicTrait'},
                    { data: 'value'},
                    { data: 'publicationReferences'},
                    { data: 'action'}
                ]
            } );
        } );
    </script>
{% endblock %}
