{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
				{% if attributeTraitValues | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold">Attribute Trait Value List</h2>
                    <div class="table-responsive"> 
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col" data-orderable="false"></th>
                                <th scope="col">Accession</th>
                                <th scope="col" data-orderable="false"></th>
                                <th scope="col">Attribute</th>
                                <th scope="col" data-orderable="false"></th>
                                <th scope="col">Attribute Category</th>
                                <th scope="col" data-orderable="false"></th>
                                <th scope="col">Trait</th>
                                <th scope="col">Value</th>
                                <th scope="col">Publication Reference</th>
                                <th scope="col" data-orderable="false">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No attribute trait value has been provided in our system</h5>
                {% endif %}     
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}

    <script>
		let dataTableId = "#datatable";
		let linkId = "";
        let linkAccId = "";
        let linkAttId = "";
        let linkAtcId = "";
        let linkTrId = "";
		let colsDef = [
				// These are the column name variables that will be sent to the server
				{
				"data": "acc_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkAccId = data;
						return null;
					}
				},
				{
				"data": "acc_name", "targets": 4,
					"render": function(data, type, row, meta) {
						if (data) {
							let url = '{{ path("accession_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkAccId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						} else {
							return null;
						}
					}
				},
                {
				"data": "att_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkAttId = data;
						return null;
					}
				},
				{
				"data": "att_name", "targets": 4,
					"render": function(data, type, row, meta) {
						if (data) {
							let url = '{{ path("attribute_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkAttId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						} else {
							return null;
						}
					}
				},
                {
				"data": "atc_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkAtcId = data;
						return null;
					}
				},
				{
				"data": "atc_name", "targets": 4,
					"render": function(data, type, row, meta) {
						if (data) {
							let url = '{{ path("attribute_category_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkAtcId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						} else {
							return null;
						}
					}
				},
                {
				"data": "tr_id", "targets": 3,
					"render": function(data, type, row, meta) {
						linkTrId = data;
						return null;
					}
				},
				{
				"data": "tr_name", "targets": 4,
					"render": function(data, type, row, meta) {
						if (data) {
							let url = '{{ path("trait_class_details", {'id': 'dataId'}) }}'; 
							url = url.replace("dataId", linkTrId);
							let actionlink = "<a href="+ url +">"+data+"</a>";
							return actionlink;
						} else {
							return null;
						}
					}
				},
                { "data": "value", "targets": 0 },
				{ "data": "pub_ref", "targets": 1 },
				{
				"data": "id", "targets": 5,
					"render": function(data, type, row, meta) {
						let url = '{{ path("attribute_trait_value_details", {'id': 'dataId'}) }}'; 
						url = url.replace("dataId", data);
						let actionlink = "<a href="+ url +"><button class='btn btn-outline-primary'>Details</button></a>";
						return actionlink;
					}
				}
			];
		let url = "{{ path('attribute_trait_value_datatable') }}";
		// call the function with data table id, columns & ajax url args
		dataTable(dataTableId, colsDef, url);
    </script>
{% endblock %}
