{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<!-- .row -->
		<div class="row">
            <div class="col-xl-12 col-lg-11 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h2 class="mb-3 text-center tomato-color font-weight-bold">Genotyping Platform Details</h2>
                    </div>

                    <div class="col-3">
                        {% if is_granted("ROLE_ADMIN") %}
							<span>Created By: 
								<a href="{{ path('person_details', {id: genotypingPlatform.createdBy.id}) }}">{{ genotypingPlatform.createdBy }}</a>
							</span>
							<span>On: {{ genotypingPlatform.createdAt | date('d/m/Y h:m:s') }} </span>
							</br><a href="{{ path('genotyping_platform_delete', {id: genotypingPlatform.id}) }}" class="changeStatusLink" id="{{ genotypingPlatform.id }}">
								<span class="changeStatusSpan">
									<input type="checkbox" {{ genotypingPlatform.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
								</span>
                                </a>
                        {% endif %}
                        {% if is_granted("genotyping_platform_edit", genotypingPlatform) %}
							<a href="{{ path('genotyping_platform_edit', {id: genotypingPlatform.id}) }}">
								<button class="btn btn-outline-warning">Edit</button>
							</a>
                        {% endif %}
                    </div>
				</div>
			</div>
		</div>

		{# object related row #}
		<div class="row mb-3">
			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Genotyping Platform Basic Information</h3>
					</div>

					<div class="card-body">
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Method Class: </label>
							{% if genotypingPlatform.sequencingType %}
								<a href="{{ path('sequencing_type_details', {id: genotypingPlatform.sequencingType.id}) }}">
									<span class="tomato-color font-weight-bold">{{ genotypingPlatform.sequencingType }}</span>
								</a>
							{% endif %}
						</div>
						
						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Name: </label>
							<span class="tomato-color font-weight-bold">{{ genotypingPlatform.name}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Description: </label>
							<span class="tomato-color font-weight-bold">{{ genotypingPlatform.description}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Ref Set Name: </label>
							<span class="tomato-color font-weight-bold">{{ genotypingPlatform.refSetName}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Reference Set Published Date: </label>
							<span class="tomato-color font-weight-bold">{{ genotypingPlatform.publishedDate | date('d/m/Y')}}</span>
						</div>

						<div class="col-xl-12 col-lg-11 mb-1">
							<label for="validationTooltip01">Marker Count: </label>
							<span class="tomato-color font-weight-bold">{{ genotypingPlatform.markerCount}}</span>
						</div>
					</div>

					<div class="card-footer text-muted">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-5 mb-3 mt-1">
				<div class="card">
					<div class="card-header">
						<h3 class="tomato-color">Method Description, Sequencing Instrument & Reference</h3>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Method Description: </label>
						<span class="tomato-color font-weight-bold">{{ genotypingPlatform.methodDescription}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Sequencing Instrument: </label>
						{% if genotypingPlatform.sequencingInstrument %}
							<a href="{{ path('sequencing_instrument_details', {id: genotypingPlatform.sequencingInstrument.id}) }}">
								<span class="tomato-color font-weight-bold">{{ genotypingPlatform.sequencingInstrument }}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Var Call Software: </label>
						{% if genotypingPlatform.varCallSoftware %}
							<a href="{{ path('var_call_software_details', {id: genotypingPlatform.varCallSoftware.id}) }}">
								<span class="tomato-color font-weight-bold">{{ genotypingPlatform.varCallSoftware }}</span>
							</a>
						{% endif %}
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Assembly PUI: </label>
						<a href="https://{{ genotypingPlatform.assemblyPUI }}" target="_blank"><span class="tomato-color font-weight-bold">{{ genotypingPlatform.assemblyPUI }}</span></a>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Bio Project ID: </label>
						<span class="tomato-color font-weight-bold">{{ genotypingPlatform.bioProjectID}}</span>
					</div>

					<div class="col-xl-12 col-lg-11 mb-1">
						<label for="validationTooltip01">Publication Reference: </label></br>
						{% if genotypingPlatform.publicationRef %}
							{% for one in genotypingPlatform.publicationRef %}
								<a href="{{ one }}" target="_blank"><span class="tomato-color font-weight-bold">{{ loop.index }}) {{ one }}</span></a> </br>
							{% endfor %}
						{% endif %}
					</div>
						
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-xl-5 col-lg-4 mr-auto">
				{# marker #}
				{% if genotypingPlatform.variantSetMetadata | length > 0 %}
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<strong class="tomato-color">{{ genotypingPlatform.variantSetMetadata | length == 1 ? 'Related Variant Set Metadata Summary' : 'Related Variant Set Meta data Summary' }}</strong>
						<span class="badge badge-danger badge-pill">{{ genotypingPlatform.variantSetMetadata | length }}</span>
					</h4>

					<table id="datatable_marker" class="table table-hover text-nowrap">
						<thead class="table-dark">
							<tr>
								<th>Name</th>
								<th>Vriant Count</th>
								<th>VCF Name</th>
							</tr>
						</thead>
						<tbody>
							{% for vcf in genotypingPlatform.variantSetMetadata %}
								<tr>
									<td>
										<strong class="text-muted">
											<a href="{{ path('variant_set_metadata_details', {id: vcf.id}) }}">{{ vcf.name }}</a>
										</strong>
									</td>

									<td>
										<strong class="text-muted">
											{{ vcf.variantCount }}
										</strong>
									</td>

									<td>
										<strong class="text-muted">
											{{ vcf.dataUpload }}
										</strong>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>

		</div>


	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/details_js.html.twig' %}
    <script>
        $(document).ready(function() {
            $('#datatable_marker, #datatable_analyte').DataTable();
        } );
    </script>
{% endblock %}