{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">Genotyping Platform Edition</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(genotypingPlatformForm) }}
						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row
												(genotypingPlatformForm.name,
													{ label: "Name *",
													'attr': {'placeholder': "Enter the genotyping platform name"}
													}
												)
											}}
							</div>
							<div class="col-md-4 mb-3">
								{{ form_row
												(genotypingPlatformForm.methodDescription,
													{ label: "Method description",
													'attr': {'placeholder': "Enter the genotyping platform method description"}
													}
												)
											}}
							</div>
							<div class="col-md-4 mb-3">
								{{ form_row
												(genotypingPlatformForm.refSetName,
													{ label: "Reference set name",
													'attr': {'placeholder': "Enter the genotyping platform reference set name"}
													}
												)
											}}
							</div>
						</div>

						<div>
							{{ form_row
												(genotypingPlatformForm.description,
													{ label: "Description",
													'attr': {'placeholder': "Enter the genotyping platform description"}
													}
												)
											}}
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row
												(genotypingPlatformForm.publishedDate,
													{ label: "Published date",
													'attr': {'placeholder': "Enter the genotyping platform published date"}
													}
												)
											}}
							</div>
							<div class="col-md-4 mb-3">
								{{ form_row
												(genotypingPlatformForm.bioProjectID,
													{ label: "Bio project ID",
													'attr': {'placeholder': "Enter the genotyping platform bio project ID"}
													}
												)
											}}
							</div>
							<div class="col-md-4 mb-3">
								{{ form_row
												(genotypingPlatformForm.markerCount,
													{ label: "Marker count",
													'attr': {'placeholder': "Enter the genotyping platform marker count"}
													}
												)
											}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								{{ form_row
												(genotypingPlatformForm.assemblyPUI,
													{ label: "Assembly PUI",
													'attr': {'placeholder': "Enter the genotyping platform assembly PUI"}
													}
												)
											}}
							</div>
							<div class="col-md-6 mb-3">
								{{ form_row
												(genotypingPlatformForm.sequencingInstrument,
													{ label: "Sequencing instrument",
													'attr': {'placeholder': "Select the genotyping platform sequencing instrument",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								{{ form_row
												(genotypingPlatformForm.sequencingType,
													{ label: "Sequencing type",
													'attr': {'placeholder': "Enter the genotyping platform sequencing type",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>
							<div class="col-md-6 mb-3">
								{{ form_row
												(genotypingPlatformForm.varCallSoftware,
													{ label: "Var call software",
													'attr': {'placeholder': "Enter the genotyping platform var call software",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>
						</div>

						<div>
							<div>
								{# the data-index attribute is required for the JavaScript code below #}
								<ul class="tags" data-index="{{ genotypingPlatformForm.publicationRef|length > 0 ? genotypingPlatformForm.publicationRef|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(genotypingPlatformForm.publicationRef.vars.prototype)|e('html_attr') }}">
								{% for pubRef in genotypingPlatformForm.publicationRef %}
									<li>
									{{ form_errors(pubRef) }}
									{{ form_widget(pubRef) }}
									</li>
								{% endfor %}
								</ul>
							</div>
							<button type="button"
								class="btn btn-outline-info mb-3 add_item_link"
								data-collection-holder-class="tags">
								Add publication reference
							</button>
						</div>

						<div class="row">
							{% include 'resource/btn_update.html.twig' %}
						</div>
					</div>
					{{ form_end(genotypingPlatformForm) }}
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap4-toggle.min.js') }}"></script>
  <script src="{{ asset('assets/js/add-remove-collection-tag-widget.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}