{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h3 class="m-0 font-weight-bold text-center tomato-color">Citation</h3>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="row">
                            <div class="col-xl-8 col-lg-7 text-justify">
                                <h1 class="tomato-color">How to cite HarnessTomDB</h1>
                                <h4>
                                    <p>You may cite us using one of the following phrases:</br>
										<b>"HarnesstomDB (https://gateway.harnesstom.eu/), personal communication"</b>
										</br>or</br>
										<b>“Data for [project name] was obtained from HarnesstomDB website (https://gateway.harnesstom.eu/)”</b>.</p>
                                </h4>
                            </div>
                            <div class="col-xl-4 col-lg-3">
                                <ul class="list-group list-group-flush">
                                    <h3><span class="badge badge-pill badge-primary">See also</span></h3>
									<li class="list-group-item"><a href="{{ path('privacy_license' )}}">License</a></li>
                                    <li class="list-group-item"><a href="{{ path('privacy_terms_of_use' )}}">Terms & conditions of use</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- .row -->
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}
