{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h3 class="m-0 font-weight-bold text-center tomato-color">Terms & conditions of use</h3>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="row">
                            <div class="col-xl-8 col-lg-7 text-justify">

								<h3 id="experimental_core_module" class="tomato-color">Terms and Conditions of use</h3>
                                <h4>
                                    <p>By using HarnesstomDB gateway, you acknowledge and accept its general terms and conditions of use described below.</br></br>
										
										<b>Description of Service</b></br>
											HarnesstomDB is a comprehensive, publicly available, open-source multi-omics database that promotes open science
											by facilitating the potential of tomato germplasm collections for breeding in a one-stop-shop configuration.
											HarnesstomDB stores, integrates and interconnects curated natural diversity and breeding populations omics data
											and metadata from different projects, trials and experiments using a controlled vocabulary and accepted standards
											to be graphically displayed, analysed and utilized. Information available in HarnesstomDB may include germplasm passport data,
											images, phenotypic, metabolic, genotyping, QLT and GWAS variant data and metadata, as well information about the Tomato
											research community. <b>Data is obtained from community data submissions, in accordance with agreements between the HarnesstomDB
											and those providers, and published research literature.</b></br></br> 

										The principles in HARNESSTOM is to make Data FAIR – findable, accessible, interoperable and re-usable, which will have a positive
										impact on advance genetic studies and on the use of genetic resources in general. Except where otherwise noted, content on this
										site is public (licensed under the <a href="{{ path('privacy_license') }}">MIT License</a>). However, in order to protect intellectual property before publication,
										trial associated data will be kept private until the specified release date. For more detail see our <a href="{{path('data_submission_after_submission')}}#after_submission_dapr">Data availability
										and policy of data release</a></br></br>

										<i>HarnesstomDB is hosted at INRAE of Toulouse and managed by the HarnesstomDB team</i>.</p>

										<h3>Use of HarnesstomDB</h3></br>
										<h4>Your use of the HarnesstomDB services and contents thereof is governed by the following terms and conditions:</h4></br>
										<ul><h4>	
											• Harnesstom is under an open <a href="{{ path('privacy_license') }}">MIT license</a>. This allows data and metadata to be re-used, modified and redistributed 
											  for any purpose. However, a HarnesstomDB user account is required if you wish to access advanced functionalities.<br/>
											   
											• HarnesstomDB is not the owner of the metadata and data provided nor have rights in them. 
											  There is no transfer of rights from submitters to HarnesstomDB<br/>

											• HarnesstomDB is designed to provide and encourage access within the scientific community to current 
											  and comprehensive Tomato information. Therefore, HarnesstomDB itself places no restrictions on the use or 
											  distribution of the data contained therein other than those provided by the original data owners. 
											  Some data provided might be licensed by individuals, companies, consortiums or organizations that may be protected by laws. 
											  It is the responsibility of HarnesstomDB users to ensure that their exploitation of the data does not infringe any of the 
											  rights of such third parties.<br/>

											• HarnesstomDB contains germplasm resources which may be protected by laws in relation to the use of genetic 
											  resources and variety protection: the International Treaty on Plant Genetic Resources for 
											  Food and Agriculture (Plant Treaty); the Nagoya Protocol on Access and Benefit Sharing (Nagoya protocol); 
											  the related EU Regulations (e.g. Regulation (EU) No 511/2014); the European Parliament resolutions on Plant Breeding; 
											  the ruling of the European Court of Justice on the use of New Plant Breeding Techniques; the International Union for 
											  the Protection of New Varieties of Plants (UPOV). It is the responsibility of HarnesstomDB users to ensure that their 
											  exploitation of the data does not infringe the terms of this regulation<br/>
											
											• HarnesstomDB contains software or applications to provide HarnesstomDB users tools for analysis and visualization of data. 
											  Except where otherwise noted, any software or application available in HarnesstomDB is free available for download through 
											  our web pages (either directly or from third party repositories) without any restriction other than those provided by the 
											  original software or application developers. Some software or applications might be licensed by individuals, companies, 
											  consortiums or organizations that may be protected by laws. It is the responsibility of HarnesstomDB users to ensure that 
											  their exploitation of the data does not infringe any of the rights of such third parties.<br/>
											
											• HarnesstomDB does not endorse or recommend any commercial products, processes, or services<br/>
											
											• HarnesstomDB expects contributions for any of its users in accordance with good scientific practices.<br/>
											
											• Users acknowledge that they can’t use the HarnesstomDB in any unlawful manner or in any manner that would impair 
											  the provision of the HarnesstomDB service to others or that would compromise the security or functionality of the 
											  HarnesstomDB.<br/>
											
											• Users acknowledge that their access to and use of HarnesstomDB data does not entitle them to any copyright or other 
											  intellectual property right or other proprietary interest in the data or the HarnesstomDB.<br/>
											
											• Users may not copy, reproduce, republish, post, broadcast, transmit, or adapt, in full or in substantial part, 
											  the contents of the HarnesstomDB, in any way that would unreasonably prejudice the legitimate interests of data providers 
											  or compete with the HarnesstomDB<br/>
											
											• Users are sole responsible for the searches they carry out, as well as for the interpretation and use they make of the 
											  results. Availability of HarnesstomDB data and metadata does not constitute scientific publication<br/>
											
											• Users acknowledge that contact information of HarnesstomDB registered users is provided exclusively for the purpose 
											  of furthering scientific discussions and collaborations. Users must not compile or distribute addresses of other 
											  HarnesstomDB users to third parties or use these addresses to advertise products or services, send junk mail, spam, 
											  or chain letters.<br/>
											
											• Users acknowledge that contact information of HarnesstomDB registered users can’t be used to submit any material 
											  that is offensive, defamatory, illegal, or intentionally misleading/fraudulent<br/>

											• Users aagree to provide appropriate acknowledgment to HarnesstomDB in any publications or other disclosures concerning 
											  data or information made available by HarnesstomDB. See <a href="{{ path('privacy_citation' )}}">citation here</a><br/>
										</h4></ul>

										<h3>Disclaimer</h3>
                                        <ul><h4>
											• Data and information provided through the HarnesstomDB is provided on an “AS IS”
											  basis and without any warranty of any kind, either express, implied, or arising by statute,
											  custom, course of dealing, or trade usage. Any and all implied warranties or conditions of title,
											  non-infringement, accuracy or completeness, the presence or absence of errors, fitness for a
											  particular purpose, merchantability, or otherwise are specifically disclaimed.</br>

											• HarnesstomDB team makes no representation or warranty, express or implied,
											  including without limitation any warranties of merchantability or fitness for a particular
											  purpose or warranties as to the identity or ownership of data or information, the quality, 
											  accuracy or completeness of data or information, or that the use of such data or information 
											  will not infringe any patent, intellectual property or proprietary rights of any party.</br>

											• HarnesstomDB will make all reasonable effort to maintain continuity of online services
											  and provide adequate warning of any changes or discontinuities. However, neither HarnesstomDB 
											  nor INPT-INRA shall be liable for internet service providers failures nor any claim for any loss,
											  harm, illness or other damage or injury arising from access to or use of data or information,
											  including without limitation any direct, indirect, incidental, exemplary, special or consequential 
											  damages, even if advised of the possibility of such damages.</br>

											• HarnesstomDB gateway may provide links to other external web sites for the convenience of users. 
											  HarnesstomDB is not responsible for the availability or content of these external sites, nor does 
											  HarnesstomDB endorse, warrant, or guarantee the products, services, or information described or 
											  offered at these other Internet sites.</br>

											• HarnesstomDB shall not be liable for managing and responding requests for accessions, germplasm 
											  and its associated data in HarnesstomDB. This responsibility remains with the individual public 
											  contact or institute which provided data, who independently manage the information stored in, 
											  or made it accessible to users.</br>
                                        </h4></ul>
										
										<h3>Future changes to Portal/Terms and Conditions of Use</h3>
										<h4>HarnesstomDB may at any time add to, delete from, or change in any way the gateway or the Terms of use.
										Notice of changes may be posted on the Harnesstom home page. Any change is effective immediately upon 
										posting, unless otherwise stated</h4>.</br></br>

										<h3>Termination of Your rights</h3>
										<h4>Any breach by users of the Terms and conditions of use automatically terminates this license with immediate effect and without notice to You.
										Unless terminated as explained above, the rights granted to You under these Terms are granted to You for the duration of applicable rights to use of the Data available in the Portal.</h4>
									
                                    </p>
                                </h4>
                            </div>

                            <div class="col-xl-4 col-lg-3">
                                <ul class="list-group list-group-flush">
                                    <h3><span class="badge badge-pill badge-primary">See also</span></h3>
                                    <li class="list-group-item"><a href="{{ path('privacy_license' )}}">License</a></li>
                                    <li class="list-group-item"><a href="{{ path('privacy_citation' )}}">Citing harnesstom</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- .row -->
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}
