{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 order-md-1">
				<h2 class="mb-3 text-center tomato-color font-weight-bold">Cross Edition</h2>
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{{ form_start(crossForm) }}
				<div class="row">
					<div class="col-md-4 mb-3">
						{{ form_row(crossForm.name, {label: "Name", 'attr': {'placeholder' : 'Enter the name'}}) }}
					</div>

					<div class="col-md-4 mb-3">
						{{ form_row(crossForm.study, {label: "Study", 'attr': {'placeholder' : 'Select the study',
                                        'class': "custom-select d-block w-100"}}) }}
					</div>

					<div class="col-md-4 mb-3">
						{{ form_row(crossForm.institute, {label: "Institute", 'attr': {'placeholder' : 'Select the institute',
                                        'class': "custom-select d-block w-100"}}) }}
					</div>
				</div>
				<div>
					{{ form_row(crossForm.description, {label: "Description", 'attr': {'placeholder' : 'Enter the description'}}) }}
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						{{ form_row(crossForm.parent1, {label: "Parent 1", 'attr': {'placeholder' : 'Select the parent 1',
                                        'class': "custom-select d-block w-100"}}) }}
					</div>

					<div class="col-md-6 mb-3">
						{{ form_row(crossForm.parent1Type, {label: "Parent 1 type", 'attr': {'placeholder' : 'Enter the parent 1 type'}}) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						{{ form_row(crossForm.parent2, {label: "Parent 2", 'attr': {'placeholder' : 'Select the parent 2',
                                        'class': "custom-select d-block w-100"}}) }}
					</div>

					<div class="col-md-6 mb-3">
						{{ form_row(crossForm.parent2Type, {label: "Parent 2 type", 'attr': {'placeholder' : 'Enter the parent 2 type'}}) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 mb-3">
						{{ form_row(crossForm.breedingMethod, {label: "Breeding Method", 'attr': {'placeholder' : 'Select the breeding method',
                                        'class': "custom-select d-block w-100"}}) }}
					</div>

					<div class="col-md-4 mb-3">
						{{ form_row(crossForm.year, {label: "Year", 'attr': {'placeholder' : 'Enter the year of the cross'}}) }}
					</div>
				</div>

				<div>
					<div id="email-fields-list" data-prototype="{{ form_widget(crossForm.publicationReference.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row mx-auto mb-3"> </div>'|e }}" data-widget-counter="{{ crossForm.publicationReference|length }}">
						{% for pubRef in crossForm.publicationReference %}
							<div>
								{{ form_errors(pubRef) }}
								{{ form_widget(pubRef) }}
							</div>
						{% endfor %}
					</div>

					<button type="button" class="btn btn-outline-info mb-3 add-another-collection-widget" data-list-selector="#email-fields-list">Add publication reference</button>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Update</button>
					</div>

					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
					</div>
				</div>
				{{ form_end(crossForm) }}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="{{ asset('assets/js/bootstrap4-toggle.min.js') }}"></script>
	<script src="{{ asset('assets/js/add-collecting-widget.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
