{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{% if observationValues | length > 0 %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">Observation Value List</h2>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Observation Variable Name</th>
									<th scope="col">Observation Level Name</th>
									<th scope="col">Value</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No observation value entity has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}

<script>
	let data = [
			{% for observationValue in observationValues %}
				{
				observationVariableOriginal: "{{ observationValue.observationVariableOriginal }}",
				unitName: "{% if observationValue.unitName %}<a href={{ path('observation_level_details', {id: observationValue.unitName.id}) }}>{{ observationValue.unitName }}</a>{% endif %}",
				value: "{% if observationValue.observationVariableOriginal.scale %} {% if observationValue.observationVariableOriginal.scale.dataType == "Nominal data" or observationValue.observationVariableOriginal.scale.dataType == "Ordinal data" %}
							{% if observationValue.value == 'NA' %} {{ observationValue.value }} {% elseif observationValue.value matches '/^[+-]?(?=\d*[.eE])(?=\.?\d)\d*\.?\d*(?:[eE][+-]?\d+)?/' %} {{ observationValue.value }} {% elseif observationValue.value matches '/^\\d+$/' %} {% for key, oneSC in observationValue.observationVariableOriginal.scale.scaleCategories %} {% if key == observationValue.value %}{{ oneSC }} {% endif %} {% endfor %} {% elseif observationValue.value matches '/[\s\S]*/' %} {{ observationValue.value }} {% endif %} {% else %} {{ observationValue.value }} {% endif %} {% endif %}",
				action: "<a href={{ path('observation_value_details', {id: observationValue.id}) }}><button class='btn btn-outline-primary'>Details</button></a>"
				},
			{% endfor %}
		];
    $(document).ready(function() {
		$('#datatable').DataTable( {
            "bDestroy": true,
            "pageLength": 25,
            data: data,
            columns: [
                { data: 'observationVariableOriginal'},
                { data: 'unitName'},
                { data: 'value'},
				{ data: 'action'}
            ]
        } );
    } );
</script>
{% endblock %}