{% extends 'base.html.twig' %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="{{ form.vars.id }}_list" value="{{ form.vars.value }}" />
    <datalist id="{{ form.vars.id }}_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
	<input type="hidden" name="person[country]" id="person_country_hidden">
    </datalist>
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">Person Edition</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(personForm) }}
						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row
												(personForm.firstName,
													{ label: "First Name*",
													'attr': {'placeholder': "Enter the person first name"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(personForm.middleName,
													{ label: "Middle Name",
													'attr': {'placeholder': "Enter the person middle name"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(personForm.lastName,
													{ label: "Last Name*",
													'attr': {'placeholder': "Enter the person last name"}
													}
												)
											}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row
												(personForm.phoneNumber,
													{ label: "Phone Code",
													'attr': {'placeholder': "Enter the phone number"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(personForm.streetNumber,
													{ label: "Street Number And Name",
													'attr': {'placeholder': "Enter the street number and its name"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(personForm.postalCode,
													{ label: "Postal Code",
													'attr': {'placeholder': "Enter the postal code"}
													}
												)
											}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								{{ form_row
												(personForm.city,
													{ label: "City",
													'attr': {'placeholder': "Enter the city"}
													}
												)
											}}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_row
												(personForm.country,
													{ label: "Country",
													'attr': {'placeholder': "Select the country",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>
						</div>
						<div class="row">
							{% include 'resource/btn_update.html.twig' %}
						</div>
						{{ form_end(personForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/create_edit_js.html.twig' %}
{% endblock %}