{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            <h1 class="tomato-color">Person Edition</h1>
                            {{ form_start(personForm) }}
                                <div>
                                    {{ form_row
                                        (personForm.firstName,
                                            { label: "First Name*",
                                            'attr': {'placeholder': "Enter the person first name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.middleName,
                                            { label: "Middle Name",
                                            'attr': {'placeholder': "Enter the person middle name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.lastName,
                                            { label: "Last Name*",
                                            'attr': {'placeholder': "Enter the person last name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.phoneNumber,
                                            { label: "Phone Code",
                                            'attr': {'placeholder': "Enter the phone number"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.streetNumber,
                                            { label: "Street Number And Name",
                                            'attr': {'placeholder': "Enter the street number and its name"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.postalCode,
                                            { label: "Postal Code",
                                            'attr': {'placeholder': "Enter the postal code"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.city,
                                            { label: "City",
                                            'attr': {'placeholder': "Enter the city"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.country,
                                            { label: "Country",
                                            'attr': {'placeholder': "Select the country"}
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.user,
                                            { label: "Email",
                                                'attr':
                                                {
                                                    'placeholder': "Enter your email",
                                                    'readonly': true
                                                }
                                            }
                                        )
                                    }}
                                </div>
                                <div>
                                    {{ form_row
                                        (personForm.isActive)
                                    }}
                                </div>
                                <button type="submit" class="btn">Update</button>
                                <button type="reset" class="btn">Cancel</button>
                            {{ form_end(personForm) }}
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
