{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            {% if persons | length > 0 %}
                                <h1 class="tomato-color">People List</h1>
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for person in persons %}
                                    <tr>
                                        <td><a href="{{ path('person_details', {id: person.id}) }}">{{ person.firstName }}</a></td>
                                        <td><a href="{{ path('person_details', {id: person.id}) }}">{{ person.lastName }}</a></td>
                                        <td><a href="{{ path('person_details', {id: person.id}) }}">
                                            {% if person.user %}
                                                {{ person.user.email }}
                                            {% endif %}
                                        </a></td>
                                        <td>
                                            <a href="{{ path('person_details', {id: person.id}) }}"><button class="btn btn-outline-primary">View</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %} 
                                <p class="tomato-color">No person has been provided in our system</p>
                            {% endif %}
                        </tbody>
                        </table>
                     
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
