{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}


{% block body %}
 <div class="container">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <h2 class="mb-3 text-center tomato-color font-weight-bold">Change your password</h2>
            {% for flash_error in app.flashes('old_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_start(changePasswordForm) }}
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form_row(changePasswordForm.oldPassword, {
                    'attr': {'placeholder': "Enter your current password"}
                    }) }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form_row(changePasswordForm.plainPassword.first, {
                    'attr': {'placeholder': "Enter your new password"}
                    }) }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form_row(changePasswordForm.plainPassword.second, {
                    'attr': {'placeholder': "Confirm your new password"}
                    }) }}
                    </div>
                </div>

                <div class="row">
					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Change Password</button>
					</div>

					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
					</div>
				</div>
            {{ form_end(changePasswordForm) }}
        </div>
    </div>
 </div>
{% endblock %}
