<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.88.1">
		
		<title>{% block title %} Welcome! {% endblock %}</title>
		
		{% block stylesheets %}
			<!-- Bootstrap core CSS -->
			<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">

			<!-- Custom styles for this template -->
			<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet" />
			
			<!-- font-awesome -->
    		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

			<!-- Guided Tour LH-->
			<link href="{{ asset('guidedtour/dist/css/hopscotch.min.css') }}" rel="stylesheet"></link>
			<link href="{{ asset('guidedtour/css/flat-ui.css') }}" rel="stylesheet"></link>
			<link href="{{ asset('guidedtour/css/demo.css') }}" rel="stylesheet"></link>
		{% endblock %}

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
	</head>
	<body>
		<!-- nav start -->
		<nav class="navbar navbar-expand-lg navbar-light" id="hopscotch-title">
			<a href="{{path('app_home')}}" class="branding">
				<div class="logo-type">
					<img src="{{ asset('assets/images/harnesstomlogo.png') }}" width="auto" alt="" class="logo">
				</div>
			</a>
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div
				class="collapse navbar-collapse justify-content-md-center" id="navbarNavAltMarkup">
				<!-- start of menu -->
				<div class="container">
					<ul class="navbar-nav" id="nav-menu">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Tools *</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="#">
										Submission &raquo;
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Download &raquo;
									</a>
								</li>

								<li>
									<a class="dropdown-item" href="#">
										Ontology &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
										<li>
											<a class="dropdown-item" href="#">
												Experimental Data Ontologies &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="#">
														Crop &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('crop_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('crop_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('crop_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Trial Type &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('trial_type_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('trial_type_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('trial_type_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Factor &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('factor_type_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('factor_type_upload_from_excel') }}">Upload From Excel </a>
															</li>
															<li>
																<a class="dropdown-item" href="{{ path('factor_type_upload_from_excel_mtm') }}">Upload From Excel MTM</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('factor_type_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Season &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('season_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('season_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('season_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Growth Facility Type &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('growth_facility_type_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('growth_facility_type_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('growth_facility_type_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Experimental Design Type &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('experimental_design_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('experimental_design_upload_from_excel') }}">Upload From Excel </a>
															</li>
															<li>
																<a class="dropdown-item" href="{{ path('experimental_design_upload_from_excel_mtm') }}">Upload From Excel MTM</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('experimental_design_index')}}">Search</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>

										<li>
											<a class="dropdown-item" href="#">
												Germplasm Ontologies &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="#">
														Collecting Source &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('collecting_source_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('collecting_source_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('collecting_source_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Biological Status &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('biological_status_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('biological_status_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('biological_status_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														MLS Status &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('mls_status_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('mls_status_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('mls_status_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Taxonomy &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('taxonomy_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('taxonomy_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('taxonomy_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Storage type &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('storage_type_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('storage_type_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('storage_type_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Attribute Category &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('attribute_category_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('attribute_category_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('attribute_category_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Attribute &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('attribute_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="#">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('attribute_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Breeding Method &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('breeding_method_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('breeding_method_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('breeding_method_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Generation &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('generation_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{ path('generation_upload_from_excel') }}">Upload From Excel </a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('generation_index')}}">Search</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>

										<li>
											<a class="dropdown-item" href="#">
												Phenotyping Ontologies &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="#">
														Anatomical Entity &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('anatomical_entity_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('anatomical_entity_upload_from_excel')}}">Upload From Excel</a>
															</li>
															<li>
																<a class="dropdown-item" href="{{path('anatomical_entity_upload_from_excel_mtm')}}">Upload From Excel MTM</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('anatomical_entity_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Developmental Stage &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('developmental_stage_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('developmental_stage_upload_from_excel')}}">Upload From Excel</a>
															</li>
															<li>
																<a class="dropdown-item" href="{{path('developmental_stage_upload_from_excel_mtm')}}">Upload From Excel MTM</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('developmental_stage_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Trait &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('trait_class_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('trait_class_upload_from_excel')}}">Upload From Excel</a>
															</li>
															<li>
																<a class="dropdown-item" href="{{path('trait_class_upload_from_excel_mtm')}}">Upload From Excel MTM</a>
															</li>
															<li>
																<a class="dropdown-item" href="{{path('trait_class_upload_from_excel_var_of')}}">Upload From Excel Variable Of</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('trait_class_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Metabolic Trait &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('metabolic_trait_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('metabolic_trait_upload_from_excel')}}">Upload From Excel</a>
															</li>
															<li>
																<a class="dropdown-item" href="{{path('metabolic_trait_upload_from_excel_mtm')}}">Upload From Excel MTM</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('metabolic_trait_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Analyte Identification Level &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('identification_level_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('identification_level_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('identification_level_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Analyte Annotation Level &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('annotation_level_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('annotation_level_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('annotation_level_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Metabolite Class &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('metabolite_class_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('metabolite_class_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('metabolite_class_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Analyte Health & Flavor &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('flavor_health_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('flavor_health_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('flavor_health_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Observation Variable Method Class &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('method_class_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('method_class_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('method_class_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Data Type &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('data_type_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('data_type_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('data_type_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Scale Category &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('scale_category_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="#">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('scale_category_index')}}">Search</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>

										<li>
											<a class="dropdown-item" href="#">
												Genotyping Ontologies &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="#">
														Sequencing Instrument &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('sequencing_instrument_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('sequencing_instrument_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('sequencing_instrument_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Sequencing Type &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('sequencing_type_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('sequencing_type_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('sequencing_type_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Variant Call Software &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('var_call_software_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('var_call_software_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('var_call_software_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Enzyme &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('enzyme_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('enzyme_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('enzyme_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Genetic Analysis Software &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('software_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('software_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('software_index')}}">Search</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>

										<li>
											<a class="dropdown-item" href="#">
												Variant Ontologies &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="#">
														Variant Association Software &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('software_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('software_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('software_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														QTL Method &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('qtl_method_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('qtl_method_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('qtl_method_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Ci Criteria &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('ci_criteria_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('ci_criteria_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('ci_criteria_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														QTL Statistic &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('qtl_statistic_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('qtl_statistic_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('qtl_statistic_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														GWAS Model &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('gwas_model_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('gwas_model_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('gwas_model_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Kinship Algorithm &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('kinship_algorithm_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('kinship_algorithm_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('kinship_algorithm_index')}}">Search</a>
														</li>
													</ul>
												</li>
										
												<li>
													<a class="dropdown-item" href="#">
														Structure Method &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('structure_method_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('structure_method_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('structure_method_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Genetic Testing Model &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('genetic_testing_model_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('genetic_testing_model_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('genetic_testing_model_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Allelic Effect Estimator &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('allelic_effect_estimator_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('allelic_effect_estimator_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('allelic_effect_estimator_index')}}">Search</a>
														</li>
													</ul>
												</li>
										
												<li>
													<a class="dropdown-item" href="#">
														GWAS Stat Test &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('gwas_stat_test_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('gwas_stat_test_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('gwas_stat_test_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Trait Preprocessing &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('trait_processing_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('trait_processing_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('trait_processing_index')}}">Search</a>
														</li>
													</ul>
												</li>

												<li>
													<a class="dropdown-item" href="#">
														Threshold Method &raquo;
													</a>
													<ul class="dropdown-menu dropdown-submenu">
														<li>
															<a class="dropdown-item" href="{{path('threshold_method_create')}}">Create</a>
														</li>
														{% if is_granted("ROLE_ADMIN") %}
															<li>
																<a class="dropdown-item" href="{{path('threshold_method_upload_from_excel')}}">Upload From Excel</a>
															</li>
														{% endif %}
														<li>
															<a class="dropdown-item" href="{{path('threshold_method_index')}}">Search</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										
										<li>
											<a class="dropdown-item" href="#">
												Country &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="{{ path('country_create') }}">Create</a>
												</li>
												{% if is_granted("ROLE_ADMIN") %}
													<li>
														<a class="dropdown-item" href="{{path('country_upload_from_excel')}}">Upload From Excel</a>
													</li>
												{% endif %}
												<li>
													<a class="dropdown-item" href="{{ path('country_index') }}">Search</a>
												</li>
											</ul>
										</li>
										
										
										<li>
											<a class="dropdown-item" href="#">
												Institute &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="{{path('institute_create')}}">Create</a>
												</li>
												{% if is_granted("ROLE_ADMIN") %}
													<li>
														<a class="dropdown-item" href="{{path('institute_upload_from_excel')}}">Upload From Excel</a>
													</li>
												{% endif %}
												<li>
													<a class="dropdown-item" href="{{path('institute_index')}}">Search</a>
												</li>
											</ul>
										</li>
										
										<li>
											<a class="dropdown-item" href="#">
												Unit &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="{{path('unit_create')}}">Create</a>
												</li>
												{% if is_granted("ROLE_ADMIN") %}
													<li>
														<a class="dropdown-item" href="{{path('unit_upload_from_excel')}}">Upload From Excel</a>
													</li>
												{% endif %}
												<li>
													<a class="dropdown-item" href="{{path('unit_index')}}">Search</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>

								<li>
									<a class="dropdown-item" href="#">
										More &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="#">
													Person &raquo;
												</a>
												<ul class="dropdown-menu dropdown-submenu">
													<li>
														<a class="dropdown-item" href="{{path('person_create')}}">Create</a>
													</li>
													{% if is_granted("ROLE_ADMIN") %}
														<li>
															<a class="dropdown-item" href="{{path('person_upload_from_excel')}}">Upload From Excel</a>
														</li>
													{% endif %}
													<li>
														<a class="dropdown-item" href="{{path('person_index')}}">Search</a>
													</li>
												</ul>
											</li>
										{% endif %}
										
										<li>
											<a class="dropdown-item" href="#">
												Contact &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="{{path('contact_create')}}">Create</a>
												</li>
												{% if is_granted("ROLE_ADMIN") %}
													<li>
														<a class="dropdown-item" href="{{path('contact_upload_from_excel')}}">Upload From Excel</a>
													</li>
												{% endif %}
												<li>
													<a class="dropdown-item" href="{{path('contact_index')}}">Search</a>
												</li>
											</ul>
										</li>

										<li>
											<a class="dropdown-item" href="#">
												Location &raquo;
											</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="{{path('location_create')}}">Create</a>
												</li>
												{% if is_granted("ROLE_ADMIN") %}
													<li>
														<a class="dropdown-item" href="{{path('location_upload_from_excel')}}">Upload From Excel</a>
													</li>
												{% endif %}
												<li>
													<a class="dropdown-item" href="{{path('location_index')}}">Search</a>
												</li>
											</ul>
										</li>

									</ul>								
								</li>
							</ul>
						</li>

					
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Experimental Data</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="#">
										Program &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('program_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('program_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('program_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Trial &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('trial_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('trial_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('trial_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Study &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('study_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('study_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('study_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Sample &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('sample_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('sample_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('sample_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Observation Level &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('observation_level_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('observation_level_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('observation_level_index')}}">Search</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Germplasm</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="#">
										Species &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="#">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Germplasm &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('germplasm_create') }}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{ path('germplasm_upload_from_excel') }}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{ path('germplasm_index') }}">Search</a>
										</li>
									</ul>
								</li>
								{% if is_granted("ROLE_ADMIN") %}
									<li>
										<a class="dropdown-item" href="#">
											Germplasm x Study &raquo;
										</a>
										<ul class="dropdown-menu dropdown-submenu">
											<li>
												<a class="dropdown-item" href="{{ path('germplasm_study_upload_from_excel') }}">Upload From Excel</a>
											</li>
										</ul>
									</li>
									<li>
										<a class="dropdown-item" href="#">
											Germplasm x Study Images &raquo;
										</a>
										<ul class="dropdown-menu dropdown-submenu">
											<li>
												<a class="dropdown-item" href="{{ path('germplasm_study_image_create') }}">Create</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('germplasm_study_image_upload_from_excel') }}">Upload From Excel</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('germplasm_study_image_index') }}">Search</a>
											</li>
										</ul>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="#">
										Cross &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('cross_create') }}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('cross_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{ path('cross_index') }}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Collection &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('collection_create') }}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('collection_index') }}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Collecting Mission &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('collecting_mission_create') }}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('collecting_mission_upload_from_excel') }}">Upload From Excel</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('collecting_mission_index') }}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Accession &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('accession_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('accession_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('accession_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Attribute &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('attribute_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('attribute_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('attribute_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Pedigree &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('pedigree_create') }}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('pedigree_index') }}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Mapping Population &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('mapping_population_create') }}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('mapping_population_index') }}">Search</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Phenotyping Data</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="#">
										Metabolite &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('metabolite_create')}}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{path('metabolite_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Analyte &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('analyte_create')}}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{path('analyte_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Traits &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('trait_class_create')}}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{path('trait_class_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Observation Variable Method &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('observation_variable_method_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('observation_variable_method_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('observation_variable_method_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Observation Variable &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('observation_variable_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('observation_variable_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('observation_variable_index')}}">Search</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Genotyping Data</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="#">
										Markers &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('marker_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('marker_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('marker_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Genotyping Platform &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{path('genotyping_platform_create')}}">Create</a>
										</li>
										{% if is_granted("ROLE_ADMIN") %}
											<li>
												<a class="dropdown-item" href="{{path('genotyping_platform_upload_from_excel')}}">Upload From Excel</a>
											</li>
										{% endif %}
										<li>
											<a class="dropdown-item" href="{{path('genotyping_platform_index')}}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										Variants &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="#">Metadata &raquo;</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="{{path('variant_set_metadata_create')}}">Create</a>
												</li>
												<li>
													<a class="dropdown-item" href="{{path('variant_set_metadata_index')}}">Search</a>
												</li>
											</ul>
										</li>
										<li>
											<a class="dropdown-item" href="#">Variant Set &raquo;</a>
											<ul class="dropdown-menu dropdown-submenu">
												<li>
													<a class="dropdown-item" href="#">Create</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">Search</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Variant Catalogue</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="#">
										QTL Study &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('qtl_study_create') }}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('qtl_study_index') }}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										GWAS Study &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('gwas_create') }}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('gwas_index') }}">Search</a>
										</li>
									</ul>
								</li>

								<li>
									<a class="dropdown-item" href="#">
										GWAS Variant &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="{{ path('gwas_variant_create') }}">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('gwas_variant_index') }}">Search</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										QTL Variant &raquo;
									</a>
									<ul class="dropdown-menu dropdown-submenu">
										<li>
											<a class="dropdown-item" href="#">Create</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Search</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end of menu -->
				<div class="nav-item dropdown animate__heartBeat">
					{% if app.user %}
						<a class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{% if app.user.person %}
								Hi
								{{ app.user.person.lastName }},
							{% else %}
								Hi
								{{ app.user.username }}
							{% endif %}
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							{% if is_granted("ROLE_ADMIN") %}
								<a class="dropdown-item" href="{{ path('admin_user_index') }}">Admin User</a>
							{% endif %}
							<a class="dropdown-item" href="{{ path('change_password') }}">Change password</a>
							<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% else %}
						<a class="btn btn-info" id="login-btn" type="button" href="{{ path('app_login') }}">Login</a>
					{% endif %}

				</div>
			</div>
		</nav>

		{% if app.request.attributes.get('_route') == 'app_home' and not app.user %}
			<p class="text-center"><button id="startTourBtn" class="btn btn-large btn-info">Take a tour</button></p>
		{% endif %}
		<!-- nav end -->

		{% block body %}
		
		{% endblock %}

		<!-- footer start -->
		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md">
						<a href="{{path('app_home')}}">
						<img class="mb-2" src="{{ asset('assets/images/harnesstomlogo.png') }}" width="auto" alt="" class="logo">
						</a>
						<small class="d-block mb-3 text-muted">&copy; 2020-2022</small>
					</div>
					<div class="col-6 col-md">
						<h5>Abou us</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="text-muted" href="http://harnesstom.eu/" target="blank">About us</a>
							</li>
							<li>
								<a class="text-muted" href="http://harnesstom.eu/en/network.html" target="blank">Project Partners</a>
							</li>
							<li>
								<a class="text-muted" href="#">Contact us</a>
							</li>
							<li>
								<a class="text-muted" href="#">Terms of use</a>
							</li>
							<li>
								<a class="text-muted" href="#">Citing HarnessTom</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Get help</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="text-muted" href="#">Using this website</a>
							</li>
							<li>
								<a class="text-muted" href="#">Uploading data</a>
							</li>
							<li>
								<a class="text-muted" href="#">Downloading data</a>
							</li>
							<li>
								<a class="text-muted" href="#">Videos tutorials</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Follow us</h5>
						<ul class="list-unstyled text-small">
							<!-- Twitter -->
							<li>
								<a class="btn-primary btn-floating m-1" href="https://twitter.com/HARNESSTOM_EU" target="blank" style="background-color: #55acee;" role="button">
								<i class="fab fa-twitter"></i>
							</li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<div class="row">
							<div class="container">
								<div class="col-3 col-md" id="funding">
									<a href="https://cordis.europa.eu/project/id/101000716/en" target="blank">
										<p>Funding Provided By</p>
										<img class="mb-2" src="{{ asset('assets/images/eu.png') }}" width="20%" alt="" class="logo">
									</a>
								</div>
							</div>
							<div class="container">
								<div class="col-3 col-md">
									<a href="">
										<p>Hosted By</p>
										<img class="mb-2" src="{{ asset('assets/images/inpt.jpg') }}" width="20%" alt="" class="logo">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dropdown-divider"></div>
				<div class="text-center text-lg-start bg-light text-muted">
					<p class="colophon tomato-color"  id="dev-team"> 2022 HarnessTom. Developed by
						<a href="https://fr.linkedin.com/in/david-pierre-932847160" title="David PIERRE, R&D Engineer" target="_blank">David PIERRE * </a> / <a href="">Clara PONS </a>/ <a href="">Eden DARNIDGE</a>. For HarnessTom - All rights reserved</p>
					<p class="float-center">
						<a href="#">Back to top</a>
					</p>
				</div>
			</div>
		</footer>
		<!-- footer end -->

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script>
				window.jQuery || document.write('<script src="  {{ asset('../assets/js/vendor/jquery.slim.min.js') }}"><\/script>')
			</script>
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
			<!-- <script src="assets/js1/bootstrap.bundle.min.js"></script> -->
			
			<!-- Guided Tour LH  -->
			<script src="{{ asset('guidedtour/js/jquery-1.10.2.js') }}"></script>
			<script src="{{ asset('guidedtour/dist/js/hopscotch.js') }}"></script>
			<script src="{{ asset('guidedtour/js/demo.js') }}"></script>
		{% endblock %}
	</body>
</html>
