{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if accessions | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold tomato-color">Accession List</h2>
                    <div class="table-responsive">
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Taxon</th>
                                <th scope="col">Accession Number</th>
                                <th scope="col">Accession Name</th>
                                <th scope="col">Accession PUID</th>
                                <th scope="col">Country of Origin</th>
                                <th scope="col">Collecting Source</th>
                                <th scope="col">Biological Status</th>
                                <th scope="col">MLS Status</th>
                                <th scope="col">Maintaining Institute</th>
                                <th scope="col">Maintainer Number</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No accession has been provided in our system</h5>
                {% endif %}  
		    </div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}

    <script>
        let data = [
                {% for accession in accessions %}
                    {
                    taxon: "{{ accession.taxon.taxonid }}",
                    accenumb: "{{ accession.accenumb }}",
                    accename: "{{ accession.accename }}",
                    puid: "{{ accession.puid }}",
                    origcty: "{% if accession.origcty %} <a href={{ path('country_details', {id: accession.origcty.id}) }}>{{ accession.origcty }}</a>{% endif %}",
                    collsrc: "{% if accession.collsrc %} <a href={{ path('collecting_source_details', {id: accession.collsrc.id}) }}>{{ accession.collsrc }}</a>{% endif %}",
                    sampstat: "{% if accession.sampstat %} <a href={{ path('biological_status_details', {id: accession.sampstat.id}) }}>{{ accession.sampstat }}</a>{% endif %}",
                    mlsStatus: "{% if accession.sampstat %} <a href={{ path('mls_status_details', {id: accession.sampstat.id}) }}>{{ accession.mlsStatus }}</a>{% endif %}",
                    instcode: "{% if accession.instcode %} <a href={{ path('institute_details', {id: accession.instcode.id}) }}>{{ accession.instcode }}</a>{% endif %}",
                    maintainernumb: "{{ accession.maintainernumb }}",
                    action: "<a href={{ path('accession_details', {id: accession.id}) }}><button class='btn btn-outline-primary'>Details</button></a>"
                    },
                {% endfor %}
            ];
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "bDestroy": true,
                "pageLength": 25,
                data: data,
                columns: [
                    { data: 'taxon'},
                    { data: 'accenumb'},
                    { data: 'accename'},
                    { data: 'puid'},
                    { data: 'origcty'},
                    { data: 'collsrc'},
                    { data: 'sampstat'},
                    { data: 'mlsStatus'},
                    { data: 'instcode'},
                    { data: 'maintainernumb'},
                    { data: 'action'}
                ]
            } );
        } );
    </script>
{% endblock %}
