{# In this file, define the function / macro #}
{% macro treeView(parent) %}
  {% import _self as macros %}
  {% for oneChild in parent %}
    <div class="card closed {{ oneChild.units is not empty ? 'border-left-primary' : 'border-left-danger' }} shadow h-100 mb-3">
      <li class="treeview-animated-items">
        <span class="closed" data-toggle="tooltip" data-placement="top" title="{{ oneChild.description ? oneChild.description : '' }}">
          <i class="{{ oneChild.units is not empty ? 'fas fa-angle-right' : '' }}"></i>
          <span>{{ oneChild.ontologyId }} - {{ oneChild.name }}</span>
        </span>
        {% if oneChild.units is not empty %}
          <ul class="nested">
            {{ macros.treeView(oneChild.units) }}
          </ul>
        {% endif %}
      </li>
    </div>
  {% endfor %}
{% endmacro %}

{# In the file you want to call it, use #}
{# {% include 'tree_view/tes.html.twig' %}
{% from 'tree_view/tree.html.twig' import treeView %}
<ul class="menu-biological-status">
    {{ treeView(parentOnlyBiologicalStatus) }}
</ul> #}
