{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/bootstrap-toggle.min.css') }}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/jumbotron.css') }}" rel="stylesheet">
	<link
	href="{{ asset('assets/css/custom_dropdown.css') }}" rel="stylesheet">
	<!-- DataTables CSS -->
	<link
	href="{{ asset('assets/datatables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('assets/datatables/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% if structureMethods | length > 0 %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">Structure Method List</h2>
					{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
						{% for message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Ontology ID</th>
									<th scope="col">Name</th>
									<th scope="col">Description</th>
									<th scope="col">Parent</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for structureMethod in structureMethods %}
									<tr>
										<td>
											{{ structureMethod.ontologyId }}
										</td>
										<td>
											{{ structureMethod.name }}
										</td>
										<td>
											{{ structureMethod.description }}
										</td>
										<td>
											{{ structureMethod.parentTerm }}
										</td>
										<td>
											<a href="{{ path('structure_method_details', {id: structureMethod.id}) }}">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No structureMethod has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script>
		window.jQuery || document.write('<script src="     {{ asset('assets/js1/vendor/jquery.slim.min.js') }}"><\/script>')
	</script>
	<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script><!-- DataTables JavaScript --><script src="{{ asset('assets/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('assets/datatables/js/dataTables.responsive.js') }}"></script><!-- Page-Level Demo Scripts - Tables - Use for reference --><script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
