{% extends 'base.html.twig' %}

{% form_theme analyteForm _self %}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} list="analyte_annotationLevel_list" value="{{ form.vars.value }}" />
    <datalist id="analyte_annotationLevel_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="analyte[annotationLevel]" id="analyte_annotationLevel_hidden">
    </datalist>
{% endblock %}

{% block datalist1_widget %}
    <input {{ block('widget_attributes') }} list="analyte_identificationLevel_list" value="{{ form.vars.value }}" />
    <datalist id="analyte_identificationLevel_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="analyte[identificationLevel]" id="analyte_identificationLevel_hidden">
    </datalist>
{% endblock %}

{% block datalist2_widget %}
    <input {{ block('widget_attributes') }} list="analyte_observationVariableMethod_list" value="{{ form.vars.value }}" />
    <datalist id="analyte_observationVariableMethod_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="analyte[observationVariableMethod]" id="analyte_observationVariableMethod_hidden">
    </datalist>
{% endblock %}

{% block datalist3_widget %}
    <input {{ block('widget_attributes') }} list="analyte_metaboliteClass_list" value="{{ form.vars.value }}" />
    <datalist id="analyte_metaboliteClass_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="analyte[metaboliteClass]" id="analyte_metaboliteClass_hidden">
    </datalist>
{% endblock %}

{% block datalist4_widget %}
    <input {{ block('widget_attributes') }} list="analyte_healthAndFlavor_list" value="{{ form.vars.value }}" />
    <datalist id="analyte_healthAndFlavor_list">
        {% for choice in choices %}
            <option data-value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    <input type="hidden" name="analyte[healthAndFlavor]" id="analyte_healthAndFlavor_hidden">
    </datalist>
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">New Analyte</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(analyteForm) }}

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.name,
													{ label: "Name *",
													'attr': {'placeholder': "Enter the analyte name"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.analyteCode,
													{ label: "Code",
													'attr': {'placeholder': "Enter the analyte code"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.retentionTime,
													{ label: "Retention time",
													'attr': {'placeholder': "Enter the analyte retention time"}
													}
												)
											}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.massToChargeRatio,
													{ label: "Mass to charge ratio",
													'attr': {'placeholder': "Enter the analyte mass to charge ratio"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.annotationLevel,
													{ label: "Annotation level",
													'attr': {'placeholder': "Select the analyte type",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.identificationLevel,
													{ label: "identification level",
													'attr': {'placeholder': "Select the analyte identification level",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.observationVariableMethod,
													{ label: "Observation variable method",
													'attr': {'placeholder': "Select the analyte observation variable method type",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.metaboliteClass,
													{ label: "Metabolite class",
													'attr': {'placeholder': "Select the metabolite class",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row
												(analyteForm.healthAndFlavor,
													{ label: "Health & flavor",
													'attr': {'placeholder': "Select the analyte health and flavor",
													'class': "custom-select d-block w-100"}
													}
												)
											}}
							</div>
						</div>

						<div class="row">
							{% include 'resource/btn_create.html.twig' %}
						</div>
						{{ form_end(analyteForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/create_edit_js.html.twig' %}
{% endblock %}