{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 order-md-1">
                {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if analytes | length > 0 %}
                    <h2 class="mb-3 text-center tomato-color font-weight-bold">Analyte List</h2>
                    <div class="table-responsive"> 
                        <table id="datatable" class="table table-hover text-nowrap" width="100%">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Metabolic Class</th>
                                    <th scope="col">Health And Flavor Related</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for analyte in analytes %}
                                <tr>
                                    <td>{{ analyte.analyteCode }}</td>
                                    <td>{{ analyte.name }}</td>
                                    <td>
									    {% if analyte.metaboliteClass %}
										    <a href="{{ path('metabolite_class_details', {id: analyte.metaboliteClass.id}) }}">{{ analyte.metaboliteClass }}
										{% endif %}
									</td>
                                    <td>
                                        {% if analyte.healthAndFlavor %}
                                            <a href="{{ path('flavor_health_details', {id: analyte.healthAndFlavor.id}) }}">{{ analyte.healthAndFlavor }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('analyte_details', {id: analyte.id}) }}"><button class="btn btn-outline-primary">Details</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %} 
                    <h5 class="mb-3 text-center tomato-color font-weight-bold">No analyte has been provided in our system</h5>
                {% endif %}
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
{% endblock %}

{% block javascripts %}
    {% include 'resource/list_js.html.twig' %}

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}