{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
			<div class="col-md-12 order-md-1">
				<h2 class="mb-3 text-center tomato-color font-weight-bold">GWAS Stat Test Edition</h2>
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				{{ form_start(gwasStatTestForm) }}

				<div class="row">
					<div class="col-md-4 mb-3">
						{{ form_row(gwasStatTestForm.ontology_id, {'attr': {'placeholder' : 'Enter the ontology id'}}) }}
					</div>

					<div class="col-md-4 mb-3">
						{{ form_row(gwasStatTestForm.parentTerm, {'attr': {'placeholder' : 'Enter the parent term', 'class': "custom-select d-block w-100"}}) }}
					</div>

					<div class="col-md-4 mb-3">
						{{ form_row(gwasStatTestForm.name, {'attr': {'placeholder' : 'Enter the gwas stat test name'}}) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_row(gwasStatTestForm.description, {'attr': {'placeholder' : 'Enter the gwas stat test description'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Update</button>
					</div>

					<div class="col-md-6 mb-3">
						<button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
					</div>
				</div>
				{{ form_end(gwasStatTestForm) }}
			</div>
	</div>
	<!-- .row -->
</div>
<!-- .container -->
{% endblock %}
