{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-11">
				{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 flex-row align-items-center justify-content-between">
						<h4 class="m-0 font-weight-bold text-center tomato-color">New QTL Study</h4>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						{{ form_start(qtlStudyForm) }}
						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.name, {label: "Name", 'attr': {'placeholder' : 'Enter the name'}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.thresholdMethod, {label: "Threshold Method", 'attr': {'placeholder' : 'Select the threshold method',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.thresholdValue, {label: "Threshold Value", 'attr': {'placeholder' : 'Enter the threshold value'}}) }}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.qtlCount, {label: "QTL Count", 'attr': {'placeholder' : 'Enter the qtl count'}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.ciCriteria, {label: "Ci Criteria", 'attr': {'placeholder' : 'Enter the ci criteria',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.software, {label: "Software", 'attr': {'placeholder' : 'Select the software',
												'class': "custom-select d-block w-100"}}) }}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.multiEnvironmentStat, {label: "Muti Environment Stat", 'attr': {'placeholder' : 'Select the multi environment stat',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.method, {label: "Method", 'attr': {'placeholder' : 'Select the method',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.variantSetMetadata, {label: "Variant Set Metadata", 'attr': {'placeholder' : 'Select the variant set',
												'class': "custom-select d-block w-100"}}) }}
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.mappingPopulation, {label: "Mapping Population", 'attr': {'placeholder' : 'Select the mapping population',
												'class': "custom-select d-block w-100"}}) }}
							</div>

							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.genomeMapUnit, {label: "Genome Map Unit", 'attr': {'placeholder' : 'Enter the genome map unit',
												'class': "custom-select d-block w-100"}}) }}
							</div>


							<div class="col-md-4 mb-3">
								{{ form_row(qtlStudyForm.statistic, {label: "Statistic", 'attr': {'placeholder' : 'Select the statistic',
												'class': "custom-select d-block w-100"}}) }}
							</div>

						</div>

						<div class="mb-3">
							{{ form_row(qtlStudyForm.studyList, {label: "Study List (You can select several)", 'attr': {'placeholder' : 'Select study (ies)',
												'class': "custom-select d-block w-100"}}) }}
						</div>

						<div>
							<div>
								{# the data-index attribute is required for the JavaScript code below #}
								<ul class="tags" data-index="{{ qtlStudyForm.publicationReference|length > 0 ? qtlStudyForm.publicationReference|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(qtlStudyForm.publicationReference.vars.prototype)|e('html_attr') }}">
								{% for pubRef in qtlStudyForm.publicationReference %}
									<li>
									{{ form_errors(pubRef) }}
									{{ form_widget(pubRef) }}
									</li>
								{% endfor %}
								</ul>
							</div>
							<button type="button"
								class="btn btn-outline-info mb-3 add_item_link"
								data-collection-holder-class="tags">
								Add publication reference
							</button>
						</div>

						<div class="row">
							{% include 'resource/btn_create.html.twig' %}
						</div>
						{{ form_end(qtlStudyForm) }}
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('assets/js/jquery-3.5.1.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap4-toggle.min.js') }}"></script>
  <script src="{{ asset('assets/js/add-remove-collection-tag-widget.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
