{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1 mb-3">
				<h2 class="mb-3 text-center tomato-color font-weight-bold">Details</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Name</th>
								<th scope="col">Software</th>
								<th scope="col">QTL Count</th>
								<th scope="col">Ci Criteria</th>
								<th scope="col">Method</th>
								<th scope="col">Mapping Population</th>
								<th scope="col">Genome Map Unit</th>
								<th scope="col">Threshold Method</th>
								<th scope="col">Threshold Value</th>
								<th scope="col">Multi Environment Stat</th>
								<th scope="col">Variant Set Metadata</th>
								<th scope="col">Statistic</th>
								<th scope="col">Publication Reference</th>
								{% if is_granted("ROLE_ADMIN") %}
									<th scope="col">Created By</th>
									<th scope="col">Creation Date</th>
									<th scope="col">Status</th>
								{% endif %}
								{% if is_granted("qtl_study_edit", qtlStudy) %}
									<th scope="col">Action</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ qtlStudy.id }}</td>
								<td>{{ qtlStudy.name }}</td>
								<td>{{ qtlStudy.software }}</td>
								<td>{{ qtlStudy.qtlCount }}</td>
								<td>{{ qtlStudy.ciCriteria }}</td>
								<td>{{ qtlStudy.method }}</td>
								<td>{{ qtlStudy.mappingPopulation }}</td>
								<td>{{ qtlStudy.genomeMapUnit }}</td>
								<td>{{ qtlStudy.thresholdMethod }}</td>
								<td>{{ qtlStudy.thresholdValue }}</td>
								<td>{{ qtlStudy.multiEnvironmentStat }}</td>
								<td>{{ qtlStudy.variantSetMetadata }}</td>
								<td>{{ qtlStudy.statistic }}</td>
								<td>
									{% if qtlStudy.publicationReference | length >= 0 %}
										{% for oneRef in qtlStudy.publicationReference %}
											{{ loop.index ~ " - " ~ oneRef }}
											</br>
										{% endfor %}
									{% endif %}
								</td>
								{% if is_granted("ROLE_ADMIN") %}
									<td>
										{% if qtlStudy.createdBy %}
											<a href="{{ path('person_details', {id: qtlStudy.createdBy.id}) }}">{{ qtlStudy.createdBy }}</a>
										{% endif %}
									</td>
									<td>{{ qtlStudy.createdAt | date('d/m/Y h:m:s') }}</td>
									<td>
										<a href="{{ path('qtl_study_delete', {id: qtlStudy.id}) }}" class="changeStatusLink" id="{{ qtlStudy.id }}">
											<span class="changeStatusSpan">
												<input type="checkbox" {{ qtlStudy.isActive ? ' checked=true ' : 'unchecked = true' }} data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
											</span>
										</a>
									</td>
								{% endif %}
								{% if is_granted("qtl_study_edit", qtlStudy) %}
									<td>
										<a href="{{ path('qtl_study_edit', {id: qtlStudy.id}) }}">
											<button class="btn btn-outline-warning">Edit</button>
										</a>
									</td>
								{% endif %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- .row -->
		{# Start of row #}
		<div class="row">
			<div class="col-md-6"></div>

			{% if qtlStudy.studyList | length > 0 %}
				<div class="col-md-6 mb-4">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="tomato-color">{{ qtlStudy.studyList | length == 1 ? 'Related Study Summary' : 'Related Studies Summary' }}</span>
						<span class="badge badge-danger badge-pill">{{ qtlStudy.studyList | length }}</span>
					</h4>
					<ul class="list-group mb-3">
						{% for oneStudy in qtlStudy.studyList %}
							<a href="{{ path('study_details', {id: oneStudy.id}) }}">
								<li class="list-group-item d-flex justify-content-between lh-condensed">
									<div>
										<h6 class="my-0">Abbreviation</h6>
										<strong class="text-muted">{{ oneStudy.abbreviation }}</strong>
									</div>
									<div>
										<h6 class="my-0">Start Date</h6>
										<strong class="text-muted">{{ oneStudy.startDate | date('d/m/Y') }}</strong>
									</div>
									<div>
										<h6 class="my-0">End Date</h6>
										<strong class="text-muted">{{ oneStudy.endDate | date('d/m/Y') }}</strong>
									</div>
									<div>
										<h6 class="my-0">Location</h6>
										<strong class="text-muted">{{ oneStudy.location }}</strong>
									</div>
									{# <span class="text-muted">$12</span> #}
								</li>
							</a>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
		{# End of row #}
	</div>
	<!-- .container -->
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/jquery-3.5.1.js') }}"  + + + ></script>
	<script src="{{ asset('assets/js/bootstrap4-toggle.min.js') }}"></script>
	<script src="{{ asset('assets/axios/axios.min.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
	<script>
		/*
        This function is to change the status of the object.
        It is called each time the corresponding link is clicked (the event happened).
        1. It prevents the default behavior (behavior of showing the json response) of the function
        in the controller class.

        2. It gets the url of the link

        3. It get the html document of the span which is the checkbox to change the object status 

        4. It passes the url to axios which returns a response which is the message of the json
            coming from the function in the controller.
            4.1 set the checked property of the checkbox based on the response value.
    */
function changeStatus(event) {
event.preventDefault();
const url = this.href;
const statusCheckbox = this.querySelector('span.changeStatusSpan').innerHTML;

axios.get(url).then(function (res) {
const jsonResponse = res.data.message;
if (jsonResponse) {
statusCheckbox.checked = true;
} else {
statusCheckbox.checked = false;
}
})
}

document.querySelectorAll('a.changeStatusLink').forEach(function (link) {
link.addEventListener('click', changeStatus);
})
	</script>
{% endblock %}
