{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
		{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
			{% for message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endfor %}
			<div class="col-md-12 order-md-1">
				{% if qtlStudies | length > 0 %}
					<h6 class="m-0 font-weight-bold tomato-color">QTL Study List</br>
						<small>Private data are not shown unless they are shared with you.</small>
					</h6>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Studies</th>
									<th scope="col">Variant Set Name</th>
									<th scope="col">Mapping Population</th>
									<th scope="col">Genome Map Unit</th>
									<th scope="col">QTL Count</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for qtlStudy in qtlStudies %}
									<tr>
										<td>
											{{ qtlStudy.name }}
										</td>
										<td>
											{% for one in qtlStudy.studyList %}
												<b>{{ loop.index }})</b> <a href="{{ path('study_details', {id:one.id}) }}">{{ one.abbreviation }}</a></br>
											{% endfor %}
										</td>
										<td>
											<a href="{{ path('variant_set_metadata_details', {id:qtlStudy.variantSetMetadata.id}) }}">{{ qtlStudy.variantSetMetadata }}</a>
										</td>

										<td>
											{% if qtlStudy.mappingPopulation %}
												<a href="{{ path('mapping_population_details', {id: qtlStudy.mappingPopulation.id}) }}">{{ qtlStudy.mappingPopulation }}</a>
											{% endif %}
										</td>
										<td>
											{{ qtlStudy.genomeMapUnit }}
										</td>
										<td>
											{{ qtlStudy.qtlCount }}
										</td>
										<td>
											<a href="{{ path('qtl_study_details', {id: qtlStudy.id}) }}">
												<button class="btn btn-outline-primary">Details</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No qtlStudy has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}
	
<script>
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>
{% endblock %}
