{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
		{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
			{% for message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endfor %}
			<div class="col-xl-10 col-lg-11">
					<div class="card shadow mb-4">
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold tomato-color">Unit List</h6>
							<div class="dropdown no-arrow">
								<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
									aria-labelledby="dropdownMenuLink">
									<div class="dropdown-header">Unit Option:</div>
									<a class="dropdown-item" id="optionToShow" >View list</a>
								</div>
							</div>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<div class="treeview-animated treeView">
								{% include 'tree_view/tree.html.twig' %}
								{% from 'tree_view/tree.html.twig' import treeView %}
								<ul class="treeview-animated-list">
									{{ treeView(units) }}
								</ul>							
							</div>

							<div class="listView">
								{% if units | length > 0 %}
									{% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
										{% for message in messages %}
											<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
										{% endfor %}
									{% endfor %}
									<div class="table-responsive">
										<table id="datatable" class="table table-hover text-nowrap" width="100%">
											<thead class="table-dark">
												<tr>
													<th scope="col">Ontology ID</th>
													<th scope="col">Name</th>
													<th scope="col">Parent</th>
													<th scope="col">Description</th>
													<th scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for unit in units %}
													<tr>
														<td>
															{{ unit.ontologyId }}
														</td>
														<td>
															{{ unit.name }}
														</td>

														<td>
															{{ unit.parOnt }}
														</td>
														<td>
															{{ unit.description }}
														</td>
														<td>
															<a href="{{ path('unit_details', {id: unit.id}) }}">
																<button class="btn btn-outline-primary">Details</button>
															</a>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								{% else %}
									<h5 class="mb-3 text-center tomato-color font-weight-bold">No unit has been provided in our system</h5>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}

{% block javascripts %}
		
	<script src="{{ asset('assets/js/show_hide_panels.js') }}"></script>
	<script src="{{ asset('assets/treeview/js/mdbootstrap_treeview.js') }}"></script>
	
    <script>
		// Treeview Initialization
		$(document).ready(function() {
			$('.treeview-colorful').mdbTreeview();
			$('.treeview-animated').mdbTreeview();
			$('.treeview').mdbTreeview();
		});
	</script>

	<script>
		$(document).ready(function () {
			$('#datatable').DataTable();
		});
	</script>
{% endblock %}
