{% extends 'base.html.twig' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block stylesheets %}
	{% include 'resource/list_style.html.twig' %}
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
    {% for category, messages in app.flashes(['success', 'warning', 'danger']) %}
      {% for message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endfor %}
      <div class="col-xl-10 col-lg-11">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold tomato-color">
              Experimental Design List
            </h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">
                  Experimental Design Option:
                </div>
                <a class="dropdown-item" id="optionToShow">View list</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="treeview-animated treeView">
              {% macro treeView(experimentalDesigns) %}
                {% import _self as macros %}
                {% for oneChild in experimentalDesigns %}
                  <div class="card closed {{
                    oneChild.experimentalDesignTypes is not empty
                      ? 'border-left-primary'
                      : 'border-left-danger'
                    }} shadow h-100 mb-3">
                    <li class="treeview-animated-items">
                      <span class="closed">
                        <i class="{{
                          oneChild.experimentalDesignTypes is not empty
                            ? 'fas fa-angle-right'
                            : ''
                          }}">

                        </i>
                        <span>{{ oneChild.name }}</span>
                      </span>
                      {% if oneChild.experimentalDesignTypes is not empty %}
                        <ul class="nested">
                          {{ macros.treeView(oneChild.experimentalDesignTypes) }}
                        </ul>
                      {% endif %}
                    </li>
                  </div>
                {% endfor %}
              {% endmacro %}

              <ul class="treeview-animated-list">
                {{ _self.treeView(experimentalDesigns) }}
              </ul>
            </div>

            <div class="listView">
              {% if (experimentalDesigns|length) > 0 %}
                {% for category, messages in app.flashes(
                  ['success', 'warning', 'danger']
                ) %}
                  {% for message in messages %}
                    <div class="alert alert-{{
                      category
                      }} alert-dismissible fade show"
                      role="alert">
                      {{ message }}
                      <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}
                {% endfor %}
                <div class="table-responsive">
                  <table id="datatable"
                    class="table table-hover text-nowrap"
                    width="100%">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">
                          Ontology ID
                        </th>
                        <th scope="col">
                          Name
                        </th>
                        <th scope="col">
                          Parent
                        </th>
                        <th scope="col">
                          Description
                        </th>
                        <th scope="col">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for experimentalDesign in experimentalDesigns %}
                        <tr>
                          <td>
                            {{ experimentalDesign.ontologyId }}
                          </td>
                          <td>
                            {{ experimentalDesign.name }}
                          </td>
                          <td>
                            {{ experimentalDesign.parOnt }}
                          </td>
                          <td>
                            {{ experimentalDesign.description }}
                          </td>
                          <td>
                            <a href="{{
                              path(
                                'experimental_design_details',
                                {
                                  id: experimentalDesign.id
                                }
                              )
                              }}">
                              <button class="btn btn-outline-primary">
                                Details
                              </button>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <h5 class="mb-3 text-center tomato-color font-weight-bold">
                  No experimental design has been provided in our system
                </h5>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
{% endblock %}

{% block javascripts %}
	{% include 'resource/list_js.html.twig' %}
	
	<script src="{{ asset('assets/js/show_hide_panels.js') }}"></script>
	<script src="{{ asset('assets/treeview/js/mdbootstrap_treeview.js') }}"></script>
	
    <script>
		// Treeview Initialization
		$(document).ready(function() {
			$('.treeview-colorful').mdbTreeview();
			$('.treeview-animated').mdbTreeview();
			$('.treeview').mdbTreeview();
		});
	</script>

	<script>
		$(document).ready(function () {
			$('#datatable').DataTable();
		});
	</script>
{% endblock %}
